

/*============================================================================================================================================================================================
 Layout
=============================================================================================================================================================================================*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 112.0rem;
    padding: 0 0.5rem;
    position: relative;
}

.flex-content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-card {
    display: flex;
    flex-direction: column;
    min-width:280px;
    margin: 0 auto;    
}

.flex-card-wide {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    margin: 0 auto;
    width:96%;
}

.flex-content {
    display: flex;
    justify-content: center;
}

.flex-content-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.flex-input-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height:40px;
}

.flex-content-spaced {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    align-items:center;
    justify-content:center;
    flex: 0 1; /*  No stretching: */
    text-align:center;
}

    .flex-item + .flex-item {
        margin-left: 2%;
    }

.flex-item-stretch {
    display:flex;
    align-items:center;
    justify-content:center;
    flex: 1 1; /*  Stretching: */    
}

.flex-item-full {
    display: flex;
    align-items: center;
    flex: 1 1; /*  Stretching: */
}

.flex-item-card {
    flex: 0 1 250px; /*  No stretching: */
    min-height: 250px;
}

.element-height
{
    height:40px;
}

.element-width
{
    width:40px;
}

.center_container
{
    display:flex;
}

.center_item 
{
    align-self: center;
    margin: 0 auto;
    width:100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

/*=============================================================================================================================================*/
/* Borders */
/*=============================================================================================================================================*/

.border {
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    border: 1px solid gray;
}

.border-left {
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

.border-right {
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.border-top-bottom {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

/*=============================================================================================================================================*/
/* Inputs */
/*=============================================================================================================================================*/


select {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>') center right no-repeat;
    padding-right: 2.0rem;
}

select {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    box-shadow: none;
    box-sizing: inherit;
}

    select:focus {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%239b4dca" d="M0,0l6,8l6-8"/></svg>');
    }

    select:focus {
        border-color: #9b4dca;
        outline: 0;
    }

    select[multiple] {
        background: none;
        height: auto;
    }

select {
    border: none;
    min-height: 38px;
}

    select[disabled], input[disabled], button[disabled] {
        box-shadow: none;
        opacity: .5;
    }

.select-wrapper {
    position: relative;
    display: inline-block;
}

    .select-wrapper select {
        -webkit-appearance: none;
    }

    .select-wrapper option {
        -webkit-appearance: none;
    }

    .select-wrapper:after {
        content: '\0025BC';
        font: normal normal normal 12px/1;
        color: black;
        right: 22px;
        top: 0px;
        height: 26px;
        padding: 11px 2px 0 10px;
        position: absolute;
        pointer-events: none;
    }

input[type='text'],
input[type='password'],
input[type='hidden']
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='week'],
input:not([type]) {
    min-height: 38px;
}

textarea {
    min-height: 6.5rem;
}

/*=============================================================================================================================================*/
/* Menu */
/*=============================================================================================================================================*/

.menu,
.submenu {
    list-style-type: none;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.menuimage {
    padding: 0;
}

.menuimage_right {
    order: 3;
    text-align: right;
    padding: 0px 0px 0px 5px;
}

.menulogo {
    padding: 10px 10px 15px 10px;
}

    .menulogo a {
        color: black;
        text-decoration: none;
    }

.menutoggle {
    order: 1;
    font-size: 20px;
    padding: 0px 10px;
    cursor: pointer;
}

.menuitem {
    order: 3;
    width: 100%;
    text-align: right;
    display: none;
    padding: 10px 10px 12px 10px;
}

    .menuitem a {
        color: black;
        text-decoration: none;
    }

.active .menuitem {
    display: block;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
    margin:0px;
}

.submenu-active .submenu {
    display: block;
}

.has-submenu i {
    font-size: 12px;
}

.has-submenu > a::after {
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\2193";
    color: white;
    padding-left: 5px;
}

.submenuitem {
    padding: 10px 5px;
}

.submenu-active {
    border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }

    .menulogo {
        flex: 1;
    }

    .menutoggle {
        text-align: right;
        order: 2;
    }
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }

    .menulogo {
        order: 0;
    }

    .menuitem {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .menutoggle {
        display: none;
    }

    .submenu-active {
        border-radius: 0;
    }
}

/*=============================================================================================================================================*/
/* Card */
/*=============================================================================================================================================*/

.card_border {
    padding: 0.3rem;
    box-shadow: 10px 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 5px 0px;

    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    border: 1px solid gray;
}


.card_item {
    margin: 5px 5px;
}

@media (min-width: 40rem) {
    .card_item {
        width: 45%;
    }
}

@media (min-width: 60rem) {
    .card_item {
        width: 30%;
    }
}

.card_title {
    font-size: 24px;
    font-weight: bolder;
}

.card_text {
    text-align: center;
}

/*=============================================================================================================================================*/
/* Delete */
/*=============================================================================================================================================*/

.notification {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: relative
}

    .notification > .delete {
        position: absolute;
        right: -.2rem;
        top: -.2rem;
    }

.delete {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10,10,10,.2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: 0;
    position: relative;
    vertical-align: top;
    width: 20px
}

    .delete::after, .delete::before {
        background-color: #fff;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -webkit-transform-origin: center center;
        transform-origin: center center
    }

    .delete::before {
        height: 2px;
        width: 50%
    }

    .delete::after {
        height: 50%;
        width: 2px
    }

    .delete:focus, .delete:hover {
        background-color: rgba(10,10,10,.3)
    }

    .delete:active {
        background-color: rgba(10,10,10,.4)
    }

/*=============================================================================================================================================*/
/* Button */
/*=============================================================================================================================================*/

button {
    border: none;
    cursor: pointer;
}

    button[disabled] {
        box-shadow: none;
        opacity: .5;
        cursor: not-allowed;
    }

.button {
    border: none;
    padding: 0px 10px;
    height: 40px;
}

    .button[disabled] {
        box-shadow: none;
        opacity: .5;
    }


/*=============================================================================================================================================*/
/* Tables */
/*=============================================================================================================================================*/

.pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

    .pure-table caption {
        color: #000;
        font: italic 85%/1 arial, sans-serif;
        padding: 1em 0;
        text-align: center;
    }

    .pure-table td,
    .pure-table th {
        border-left: 1px solid #cbcbcb; /*  inner column border */
        border-width: 0 0 0 1px;
        font-size: inherit;
        margin: 0;
        overflow: visible; /*to make ths where the title is really long work*/
    }

    .pure-table td {
        padding: 0.5em 0.5em; /* cell padding */
    }

    .pure-table th {
        padding: 0; /* cell padding */
    }

    .pure-table thead {
        background-color: #e0e0e0;
        color: #000;
        text-align: left;
        vertical-align: bottom;
    }

    /*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
    .pure-table td {
        background-color: transparent;
        color:black;
    }

.pure-table-odd td {
    background-color: #f2f2f2;
    color:white;
}

/* nth-child selector for modern browsers */
.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
.pure-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}

.pure-table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */
.pure-table-horizontal td,
.pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}

.pure-table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}

/*=============================================================================================================================================*/
/* Modal */
/*=============================================================================================================================================*/

.modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

    .modal.is-active {
        display: flex;
    }

.modal-background {
    background-color: rgba(10,10,10,.86);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.modal-content {
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%;
}

    .modal-content.card {
        background-color: #fff;
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
        color: #4a4a4a;
        max-width: 100%;
        position: relative;
    }
