{{ @HaveAdminRole }}

<div class="ar-flex-item ar-card-border">
    <a href="/Account/ManageRole" style="color:#0B5394;">
        <img src="/Resource/account/role_64.png" style="margin: 0 auto;"/>
    </a>
    <div style="width:125px;text-align:center;">
        <a href="/Account/ManageRole" style="color:#0B5394;height:50px;">
            Manage Role
        </a>
    </div>
</div>

<div class="ar-flex-item ar-card-border">
    <a href="/Account/ManageUser" style="color:#0B5394;">
        <img src="/Resource/account/user_64.png" style="margin: 0 auto;"/>
    </a>
    <div style="width:125px;text-align:center;">
        <a href="/Account/ManageUser" style="color:#0B5394;height:50px;">
            Manage User
        </a>
    </div>
</div>

<div class="ar-flex-item ar-card-border">
    <a href="/Account/AssignRole" style="color:#0B5394;">
        <img src="/Resource/account/assign_64.png" style="margin: 0 auto;"/>
    </a>
    <div style="width:125px;text-align:center;">
        <a href="/Account/AssignRole" style="color:#0B5394;height:50px;">
            Assign Role
        </a>
    </div>
</div>

<div class="ar-flex-item ar-card-border">
    <a href="/Account/ResetPassword" style="color:#0B5394;">
        <img src="/Resource/account/passwordreset_64.png" style="margin: 0 auto;"/>
    </a>
    <div style="width:125px;text-align:center;">
        <a href="/Account/ResetPassword" style="color:#0B5394;height:50px;">
            Reset Password
        </a>
    </div>
</div>


{{ /HaveAdminRole }}
