<div class="ar-flex-item ar-card-border" style="display:none;">
    <a href="/Account/UserProfile" style="color:#0B5394;">
        <img src="/Resource/account/profile_64.png" style="margin: 0 auto;"/>
    </a>
    <div style="width:125px;text-align:center;">
        <a href="/Account/UserProfile" style="color:#0B5394;height:50px;">
            User Profile
        </a>
    </div>
</div>

<div class="ar-flex-item ar-card-border">
    <a href="/Account/ChangePassword" style="color:#0B5394;">
        <img src="/Resource/account/passwordchange_64.png" style="margin: 0 auto;"/>
    </a>
    <div style="width:125px;text-align:center;">
        <a href="/Account/ChangePassword" class="card-footer-item" style="color:#0B5394;height:50px;">
            Change Password
        </a>
    </div>
</div>
