
<script type="text/javascript">

    window.ajaxid = 0;

    function refreshConfigViewPath(progressElmId, responseElmId, targetInitViewSelectId, targetStartViewSelectId, targetLoginViewSelectId, targetLoginAfterViewSelectId, targetChangePwdViewSelectId,  successCallback) {

        let id = window.ajaxid++;
        let responseContainerElmId = responseElmId + "Container";
        let responseElm = getElm(responseElmId)
        let responseContainerElm = getElm(responseContainerElmId)
        while (responseElm.firstChild) responseElm.removeChild(responseElm.firstChild);
        hideElm(responseContainerElmId);

        let valid = true;

        if (valid === true) {

            let url = '/AppApi/AppApi';
            let urlMethod = 'POST';
            let urlContent = {
                "jsonrpc": '2.0', "method": 'GetConfigViewPath', "params": {
                    "appSite": '{{$AppSite}}',
                    "selectEmptyText": "Config View Not Found",
                    "selectedKey": "",
                    "filterKey":"",
                    "skipValue": "",
                    "appendOptionText": "",
                    "appendOptionValue": "",
                    "itemsPerPage": 100
                }, "id": id
            };

            dopost(progressElmId, responseElmId, url, urlContent,
                function (data) {
                    if ((data.hasOwnProperty('Result') === true) && (data.Result))  {
                        let result = data.Result;

                        let targetSelectIdList = [];
                        targetSelectIdList.push(targetInitViewSelectId);
                        targetSelectIdList.push(targetStartViewSelectId);
                        targetSelectIdList.push(targetLoginViewSelectId);
                        targetSelectIdList.push(targetLoginAfterViewSelectId);
                        targetSelectIdList.push(targetChangePwdViewSelectId);

                        if (result.hasOwnProperty('html') === true) {
                            for (let i = 0; i < targetSelectIdList.length; i++) {
                                let rootNode = getElm(targetSelectIdList[i]);
                                rootNode.innerHTML = result.html;
                            }
                        }

                        if (result.hasOwnProperty('error') === true) {
                            showText(responseElm, result.error, 'red');
                        } else {

                            if (typeof successCallback === "function") {
                                successCallback();
                            }
                        }

                        //if (result.hasOwnProperty('message') === true) {
                        //   showText(responseElm, result.message, 'green');
                        //}
                        if (result.hasOwnProperty('InitViewPath') === true) {
                            getElm(targetInitViewSelectId).value = result.InitViewPath;
                        }
                        if (result.hasOwnProperty('StartViewPath') === true) {
                            getElm(targetStartViewSelectId).value = result.StartViewPath;
                        }
                        if (result.hasOwnProperty('LoginViewPath') === true) {
                            getElm(targetLoginViewSelectId).value = result.LoginViewPath;
                        }
                        if (result.hasOwnProperty('LoginAfterViewPath') === true) {
                            getElm(targetLoginAfterViewSelectId).value = result.LoginAfterViewPath;
                        }
                        if (result.hasOwnProperty('ChangePasswordViewPath') === true) {
                            getElm(targetChangePwdViewSelectId).value = result.ChangePasswordViewPath;
                        }
                    }
                    else if ((data.hasOwnProperty('Error') === true) && (data.Error)) {
                        let error = data.Error;
                        if (error.hasOwnProperty('Message') === true) {
                            showText(responseElm, error.Message, 'red');
                        }
                    }
                });
               
        }
        else {
            let responseElm = getElm('itemNo')
            responseElm.focus();
        }

        return false;
    }

    function updateConfigViewPath(progressElmId, responseElmId, initViewVal, startViewVal, loginViewVal, loginAfterViewVal, changePwdViewVal, successCallback) {

        let id = window.ajaxid++;
        let responseContainerElmId = responseElmId + "Container";
        let responseElm = getElm(responseElmId)
        let responseContainerElm = getElm(responseContainerElmId)
        while (responseElm.firstChild) responseElm.removeChild(responseElm.firstChild);
        hideElm(responseContainerElmId);

        let valid = true;

        if (valid === true) {

            let url = '/AppApi/AppApi';
            let urlMethod = 'POST';
            let urlContent = {
                "jsonrpc": '2.0', "method": 'UpdateConfigViewPath', "params": {
                    "initViewPath": initViewVal,
                    "startViewPath": startViewVal,
                    "loginViewPath": loginViewVal,
                    "loginAfterViewPath": loginAfterViewVal,
                    "changePasswordViewPath": changePwdViewVal
                }, "id": id
            };

            dopost(progressElmId, responseElmId, url, urlContent,
                function (data) {
                    if ((data.hasOwnProperty('Result') === true) && (data.Result))  {
                        let result = data.Result;

                        if (result.hasOwnProperty('error') === true) {
                            responseElm.textContent = result.error;
                            responseElm.style.color = "red";
                            showAutoHideElm(responseContainerElmId);
                        }
                        else if (result.hasOwnProperty('message') === true) {
                            responseElm.textContent = result.message;
                            responseElm.style.color = "green";
                            showAutoHideFlex(responseContainerElmId);
                        }
                    }
                    else if ((data.hasOwnProperty('Error') === true) && (data.Error)) {
                        let error = data.Error;
                        if (error.hasOwnProperty('Message') === true) {
                            responseElm.textContent = error.Message;
                            responseElm.style.color = "red";
                            showAutoHideElm(responseContainerElmId);
                        }
                    }
                });
        }
        else {
            let responseElm = getElm('itemNo')
            responseElm.focus();
        }

        return false;
    }

    function loadView(viewPath) {
        if (viewPath.length > 0) {
            window.location.href = viewPath;
        }
    }

</script>
