
<div class="container" style="border: 0px solid green;">

    <h2 style="text-align:center;color:blue;">{{$OpenStartupProcessTitle}}</h2>
    <p class="card-text" style="text-align:center">{{$OpenStartupProcessSubTitle}}</p>

    <div class="flex-content-wrap" style="text-align:center;margin-top:25px;">

        {{@OpenStartupProcessList}}
        <div class="flex-item-card card_border" style="margin:10px;">
            <div class="card_title">{{$ProcessTitle}}</div>
            <p class="card_text">
                {{$ProcessPrerequisite}}
            </p>
            {{$ProcessIcon}}
            <p class="card_text">
                {{$ProcessObjective}}
            </p>
        </div>
        {{/OpenStartupProcessList}}

    </div>

</div>


