
<div class="ar-container" style="border: 0px solid black;padding: 50px 5px 10px 5px;text-align:center;">
    <div style="text-align:center;color:red;">
        <h2>{{$OpenStartupAboutHeading}}</h2>
    </div>
    <div class="ar-animated ar-zoomIn" style="text-align:center;padding: 15px 5px 5px 5px;">
        <h4>{{$OpenStartupAboutTitle}}</h4>
    </div>
    <div class="ar-animated ar-zoomIn" style="text-align:center;">
        <h1>{{$OpenStartupAboutSubTitle}}</h1>
    </div>
    <div style="text-align:center;">
        <p>
            {{$OpenStartupAboutHelp}}
        </p>
    </div>
    <div style="text-align:center;padding: 10px 5px">
        <p>
            {{$OpenStartupAboutShare}}
        </p>
    </div>
    <div class="isIOSHide isANDROIDHide isWINHide isWEBShow" style="text-align:center;">
        <button class="ar-button ar-border" id="btnRegisterOpenStartup" style="margin:5px;background-color:#209cee;cursor:pointer;">
            {{$OpenStartupAboutAction}}
        </button>
    </div>
</div>




