
<script type="text/javascript">

    window.ajaxid = 0;

    function showCurlMetrics(progressElmId, responseElmId, curlUrl) {

        let responseElm = getElm(responseElmId)
        let responseContainerElmId = responseElmId + "Container"
        responseElm.textContent = ''
        hideElm(responseContainerElmId);

        let valid = true;

        if (curlUrl.length == 0) {
            valid = false
            showText(responseElm, 'Enter the Test Url', 'red')
        }

        if (valid === true) {

            fillCurlMetricsInstance(progressElmId, responseElmId, curlUrl, 'curlMetricsInstance', 'curlMetricsCached', 'mergeCurlAction', 'mergeCurlStatus', function () {

                fillCurlMetricsPath(progressElmId, responseElmId, curlUrl, 'curlMetricsPath', function () {

                    fillCurlMetricsType(progressElmId, responseElmId, 'curlMetricsType', function () {

                        refreshCurlMetricsChart(progressElmId, 1, function () {

                            showElm('curlMetrics')
                        })

                    })

                })

            })
        }

    }

    function clearCurlUrlMetrics(progressElmId, responseElmId, curlUrl, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;

        if (curlUrl.length == 0) {
            valid = false;
            showText(responseElm, 'Enter the Test Url', 'red');
        }

        if (valid === true) {

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/CurlApi';
            let apiMethod = 'ClearCurlUrlMetrics';

            let apiParams = {
                "curlUrl": curlUrl
            };

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green');

                    if (typeof successCallback === "function") {
                        successCallback();
                    }
                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }

    function mergeCurlMetrics(progressElmId, responseElmId, resetMerge, successCallback, failureCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;

        if (valid === true) {

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/CurlApi';
            let apiMethod = 'MergeCurlMetricsData';

            let apiParams = {
                "resetMerge": resetMerge
            }

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green');

                    if (typeof successCallback === "function") {
                        successCallback();
                    }
                }
            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");            
        }

        return false;
    }

    function fillCurlMetricsInstance(progressElmId, responseElmId, urlPath, selectElmId, cacheFlagElmId, mergeShowElmId, mergeStatusElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;
        let check = "✓"; //"&#10003;";
        let uncheck = "✗" //"&#65794;";

        if (valid === true) {

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/CurlApi';
            let apiMethod = 'GetCurlMetricsInstance';

            let apiParams = {
                "instanceID": "",
                "urlPath": urlPath
            };

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('json') === true) {

                    let servicePathArray = result['json'];

                    let selectElm = getElm(selectElmId);
                    if (selectElm) {
                        selectElm.options.length = 0;

                        for (let i = 0; i < servicePathArray.length; i++) {
                            let servicePath = servicePathArray[i];
                            selectElm.options[selectElm.options.length] = new Option(servicePath, servicePath);
                        }
                    }
                    selectElm.selectedIndex = 0;

                    if (typeof successCallback === "function") {
                        successCallback();
                    }
                }

                if (result.hasOwnProperty('status') === true) {
                    let persistStatusElm = getElm(cacheFlagElmId);
                    if (result.status === true) {
                        persistStatusElm.innerHTML = check;
                        persistStatusElm.setAttribute('title', "Metrics Persistent");
                    } else {
                        persistStatusElm.innerHTML = uncheck;
                        persistStatusElm.setAttribute('title', "Metrics Not Persistent");
                    }
                }

                hideElm(mergeShowElmId);
                if (result.hasOwnProperty('MergeStatus') === true) {
                    showElm(mergeShowElmId);
                    let mergeStatusElm = getElm(mergeStatusElmId);
                    if (result.MergeStatus === true) {
                        mergeStatusElm.setAttribute("checked", true);
                    } else {
                        mergeStatusElm.removeAttribute("checked");
                    }
                }

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');
                }
                //else if (result.hasOwnProperty('message') === true) {
                //    showText(responseElm, result.message, 'green');
                //}
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");            
        }

        return false;
    }

    function fillCurlMetricsPath(progressElmId, responseElmId, urlPath, selectElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;

        let curlInstance = getElm("curlMetricsInstance").value;
        if (valid === true) {
            if (curlInstance.trim().length === 0) {
                showText(responseElm, 'No Curl Instance Found to Retrieve Curl Metrics', 'red');
                valid = false;
            }
        }

        if (valid === true) {

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/CurlApi';
            let apiMethod = 'GetCurlMetricsPath';

            let apiParams = {
                "instanceID": curlInstance,
                "urlPath": urlPath
            };

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('json') === true) {

                    let serviceMethodArray = result['json'];

                    let selectElm = getElm(selectElmId);
                    if (selectElm) {
                        selectElm.options.length = 0;

                        for (let i = 0; i < serviceMethodArray.length; i++) {
                            let serviceMethod = serviceMethodArray[i];
                            selectElm.options[selectElm.options.length] = new Option(serviceMethod, serviceMethod);
                        }
                    }
                    selectElm.selectedIndex = 0;

                    if (typeof successCallback === "function") {
                        successCallback();
                    }
                }
                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');
                }
                //else if (result.hasOwnProperty('message') === true) {
                //    showText(responseElm, result.message, 'green');
                //}
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");            
        }

        return false;
    }

    function fillCurlMetricsType(progressElmId, responseElmId, selectElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;

        let curlInstance = getElm("curlMetricsInstance").value;
        if (valid === true) {
            if (curlInstance.trim().length === 0) {
                showText(responseElm, 'No Curl Instance Found to Retrieve Curl Metrics', 'red');
                valid = false;
            }
        }

        let urlPath = getElm("curlMetricsPath").value;
        if (valid === true) {
            if (urlPath.trim().length === 0) {
                showText(responseElm, 'No urlPath Found to Retrieve Curl Metrics', 'red');
                valid = false;
            }
        }

        if (valid === true) {

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/CurlApi';
            let apiMethod = 'GetCurlMetricsType';

            let apiParams = {
                "instanceID": curlInstance,
                "urlPath": urlPath
            };


            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId);

                var selectedMetrixType = "";
                if (result.hasOwnProperty('data') === true) {
                    selectedMetrixType = result['data'];
                }

                if (result.hasOwnProperty('json') === true) {

                    let metricxTypeArray = result['json'];

                    let selectElm = getElm(selectElmId);
                    if (selectElm) {
                        selectElm.options.length = 0;

                        for (let i = 0; i < metricxTypeArray.length; i++) {
                            let metricxType = metricxTypeArray[i];
                            selectElm.options[selectElm.options.length] = new Option(metricxType, metricxType);
                            const indexOfFirst = metricxType.indexOf(selectedMetrixType)
                            if (indexOfFirst != -1) {
                                selectElm.selectedIndex = i;
                            }
                        }
                    }

                    if (typeof successCallback === "function") {
                        successCallback();
                    }
                }
                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');
                }
                //else if (result.hasOwnProperty('message') === true) {
                //    showText(responseElm, result.message, 'green');
                //}
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");            
        }

        return false;
    }

    function fillCurlMetricsChart(progressElmId, responseElmId, pageNo, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;

        let curlInstance = getElm("curlMetricsInstance").value;
        if (valid === true) {
            if (curlInstance.trim().length === 0) {
                showText(responseElm, 'No Curl Instance Found to Retrieve Curl Metrics', 'red');
                valid = false;
            }
        }

        let urlPath = getElm("curlMetricsPath").value;
        if (valid === true) {
            if (urlPath.trim().length === 0) {
                showText(responseElm, 'No urlPath Found to Retrieve Curl Metrics', 'red');
                valid = false;
            }
        }

        let metricType = getElm("curlMetricsType").value;
        if (valid === true) {
            if (metricType.trim().length === 0) {
                showText(responseElm, 'No Curl Metric Type Found to Retrieve Curl Metrics', 'red');
                valid = false;
            }
        }

        if (valid === true) {

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/CurlApi';
            let apiMethod = 'GetCurlMetrics';

            let apiParams = {
                "instanceID": curlInstance,
                "urlPath": urlPath,
                "metricType": metricType,
                "metricCount": getElm("curlMetricsCount").value,
                "metricOffset": pageNo,
            };

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('json') === true) {

                    let metricsData = result['json'];

                    let nextBtn = getElm('nextCurlMetric');
                    nextBtn.setAttribute("disabled", true);
                    if ((metricsData.hasOwnProperty('haveNextPage') === true)
                        && (metricsData.hasOwnProperty('nextPage') === true)) {
                        if (metricsData['haveNextPage'] == true) {
                            nextBtn.removeAttribute("disabled");
                            nextBtn.setAttribute("data-nextcurl", metricsData['nextPage'])
                        }
                    }

                    let previousBtn = getElm('previousCurlMetric');
                    previousBtn.setAttribute("disabled", true);
                    if ((metricsData.hasOwnProperty('havePreviousPage') === true)
                        && (metricsData.hasOwnProperty('previousPage') === true)) {
                        if (metricsData['havePreviousPage'] == true) {
                            previousBtn.removeAttribute("disabled");
                            previousBtn.setAttribute("data-previouscurl", metricsData['previousPage'])
                        }
                    }

                    if ((metricsData.hasOwnProperty('Key') === true)
                        && (metricsData.hasOwnProperty('Value') === true)) {
                        var curlChartExist = Chart.getChart("curlMetricChart"); // <canvas> id
                        if (curlChartExist == undefined) {
                            showCurlChart(metricsData.Key, metricsData.Value);
                        } else {
                            curlChartExist.destroy();
                            showCurlChart(metricsData.Key, metricsData.Value);
                        }
                    }

                    if (typeof successCallback === "function") {
                        successCallback();
                    }
                }
                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');
                }
                //else if (result.hasOwnProperty('message') === true) {
                //    showText(responseElm, result.message, 'green');
                //}
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");            
        }

        return false;
    }

    function refreshCurlMetricsChart(progressElmId, currentCurlNo, successCallback, failureCallback) {

        let valid = true;
        if (progressElmId) { valid = true; } else { valid = false; }
        if (currentCurlNo) { valid = true; } else { valid = false; }

        if (valid === true) {
            fillCurlMetricsChart(progressElmId, 'curlMetricsResponse', currentCurlNo, successCallback, failureCallback);
        }
    }

    const CHART_COLORS = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };

    const NAMED_COLORS = [
        CHART_COLORS.red,
        CHART_COLORS.orange,
        CHART_COLORS.yellow,
        CHART_COLORS.green,
        CHART_COLORS.blue,
        CHART_COLORS.purple,
        CHART_COLORS.grey,
    ];

    const COLORS = [
        '#4dc9f6',
        '#f67019',
        '#f53794',
        '#537bc4',
        '#acc236',
        '#166a8f',
        '#00a950',
        '#58595b',
        '#8549ba'
    ];
    
    function color(index) {
        return COLORS[index % COLORS.length];
    }

    function namedColor(index) {
        return NAMED_COLORS[index % NAMED_COLORS.length];
    }

    const transparentize = (r, g, b, alpha) => {
        const a = (1 - alpha) * 255;
        const calc = x => Math.round((x - a) / alpha);

        return `rgba(${calc(r)}, ${calc(g)}, ${calc(b)}, ${alpha})`;
    }
   
    function showCurlChart(xAxes, yAxes) {
        const chartView = document.getElementById('curlMetricChart');

        let metricDatasets = [];

        for (const key in yAxes) {

            const dsColor = namedColor(metricDatasets.length);

            let data = {
                label: key,
                data: yAxes[key], //y-axes data
                backgroundColor: transparentize(dsColor.r, dsColor.g, dsColor.b, 0.5),
                borderColor: dsColor,
                fill: false,
            }
            metricDatasets.push(data);
        }

        let metricData = {
            labels: xAxes, //x-axes data
            datasets: metricDatasets
        }

        //create a line chart
        let chart = new Chart(chartView, {
            type: 'line', //This is a line chart
            data: metricData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                stacked: false,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Curl Metrics Chart'
                    }
                }
            }
        });


    }

</script>

