<div class="ar-border" style="text-align:center; margin: 10px; padding: 10px; border-color: green; border-width: 5px;">
    {{ViewPlaceHolder}}
    <div style="position:relative;">
        <button class="ar-iconbutton" style="position:absolute; right:-10px;margin-top:-10px;width:25px;height:25px;background-color: transparent;text-align:center;vertical-align:middle;" 
                data-action="showComponentSourceViewer" data-progress="subcomponentrootwithidShowProgress" data-response="response" data-appsite="{{$AppSite}}" data-appview="{{$AppView}}" data-component="{{$ViewID}}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
            </svg><div id="subcomponentrootwithidShowProgress"></div>
        </button>
    </div>
    <div class="ar-flex-item-stretch" style="width: 100%; font: italic 12px bold verdana; color: red;">
        Refreshes the Current Component having the View ID with Child Components
    </div>
    <div class="ar-flex-item-stretch" style="width: 100%;">
        <span style="font-size:xx-small">ViewID:[{{$ViewID}}] ViewParentID:[{{$ViewParentID}}] ViewNextParentID:[{{$ViewNextParentID}}]</span>
    </div>
    <div class="ar-flex-item-stretch" style="width:100%;">
        <p>Refresh Html Component with ID at <br /><span style="color: green">{{$DateTimeUTC}}</span></p>
    </div>
    <div style="text-align:center;">
        <button class="ar-border" title="ViewID={{$ViewID}},ViewParentID={{$ViewParentID}}" style="width:40px;height:40px;"
            data-action="refreshComponentHtml" data-progress="progress" data-response="response"
            data-appsite="{{$AppSite}}" data-appview="{{$AppView}}" 
            data-component="{{$ViewID}}"
            data-config="{}"
            data-isrealtime="getRealtime" ,
            data-realtimedomain="getRealtimeDomain">                
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path></svg>
        </button>
    </div>
    <div class="ar-flex-item-stretch" style="width:100%;">
        <p>{{$JsonComponentText}} for <span style="color: blue">{{$ViewID}}</span></p>
    </div>

    <div class="ar-flex-item-stretch" style="width:100%;">
        {{Refresh_SubComponentWithoutID}}
    </div>

    <div class="ar-flex-item-stretch" style="width:100%;">
        {{Refresh_SubSubComponentWithID}}
    </div>
</div>

