<div class="bg-primary" style="padding: 5px 15px;">
    <div class="animated zoomIn">
        <div style="text-align:center">
            <h4 class="title is-4" style="margin-top:15px;color:red;">{{$Progress Title}}</h4>
            <h6 style="color:blue;">{{$Title Heading}}</h6>
            <h1 style="color:gray;">
                {{$Title}}
            </h1>
            <h2 class="title is-2">
                {{$SubTitle}}
            </h2>
            <div style="text-align:center;padding: 15px 15px;">
                <p>
                    {{$Info1 Title}}
                    <br />
                    <small style="color:red;font-size:xx-small">{{$Info1 SubTitle}}</small>
                </p>                
            </div>
        </div>
        <div class="isIOSHide isANDROIDHide isWINHide isWEBShow" style="width:100%;text-align:center;">
            {{Product Links}}
        </div>
    </div>
</div>
