<div class="container" style="text-align:center;">

    <div class="flex-card card_border">

        <div class="flex-content-wrap">

            <div class="border-left" style="height: 40px;width: 75px;text-align:center; background-color:#efefef;">
                <select id="{{$ViewID}}EditorViewMode" style="font-size:x-small;border:none;" 
                        onchange="refreshEditorJson('{{$ViewID}}', '{{$ViewID}}JsonEditorProgress', 1, 1, 1)">
                    <option value="ReadOnly">Readonly</option>
                    {{@AllowUpdateable}}
                    <option value="Updatable" selected="selected">Updatable</option>
                    {{/AllowUpdateable}}

                    {{@AllowEditable}}
                    <option value="Editable">Editable</option>
                    {{/AllowEditable}}

                    {{@AllowModifiable}}
                    <option value="Modifiable">Modifiable</option>
                    {{/AllowModifiable}}
                </select>
            </div>

            <div class="flex-item-stretch border-top-bottom" style="background-color:#efefef;">
                &nbsp;
            </div>

            <div class="flex-item-stretch border-top-bottom" style="height: 40px;background-color:#efefef;">
                <input type="hidden" id="{{$ViewID}}EditorJsonSourceAppSite" value="{{$AppSite}}"/>
                <input type="hidden" id="{{$ViewID}}EditorJsonSourceAppView" value="{{$AppView}}"/>
                <select id="{{$ViewID}}EditorJsonSource" style="text-align:center; border:none;" 
                        onchange="refreshEditorJson('{{$ViewID}}', '{{$ViewID}}JsonEditorProgress', 1, 1, 1)">
                    {{
                        VIEW_FileSelect("SampleJson",
                        "DirRelativePath":"{$JsonFolder}",
                        "DirSearchPattern": "*.json",
                        "SelectValue":"{$JsonSource}",
                        "DisplayMode" :"FileNameWithoutExtension",
                        "ExcludePattern":".editor")
                    }}
                </select>
            </div>

            <div class="flex-item-stretch border-top-bottom" style="background-color:#efefef;">
                &nbsp;
            </div>

            <button class="border-right" style="height: 40px; width: 40px;text-align:center;background-color:#efefef;"  
                    onclick="refreshEditorJson('{{$ViewID}}', '{{$ViewID}}JsonEditorProgress', 1, 1, 1)">
                <svg style="width: 24px;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path></svg>
                <div id="{{$ViewID}}JsonEditorProgress"></div>
            </button>
        </div>

        <div class="notification" id="{{$ViewID}}JsonEditorResponseContainer" style="margin:5px; padding:10px;text-align:justify;display:none;">
            <button class="delete" onclick="hideElm('{{$ViewID}}JsonEditorResponseContainer')"></button>
            <div id="{{$ViewID}}JsonEditorResponse"></div>
        </div>

        <div id="{{$ViewID}}JsonEditorSection">

            <div id="{{$ViewID}}">
                {{
                    VIEW_JsonEditor("JsonEditor",
                        "AppSite":"{$AppSite}",
                        "JsonSource":"{$JsonSource}"
                    )
                }}
            </div>
            <div>{{VIEWPLACEHOLDER$}}</div>

            <div class="flex-content-wrap" style="margin: 5px 0px;">
                <button class="border button" style="background-color:#209cee;"
                        onclick="saveEditorJson('{{$ViewID}}', '{{$ViewID}}SaveJsonProgress',                            
                            function () {
                                let sel = getElm('{{$ViewID}}EditorJsonSource');
                                let fileName = sel.options[sel.selectedIndex].text
                                let fileNameWithoutExtension = fileName.split('.').slice(0, -1).join('.');
                                return getFlatJson('{{$ViewID}}', fileNameWithoutExtension);
                            }, '',
                            function (message) {
                                showText(getElm('{{$ViewID}}JsonEditorResponse'), message, 'green');
                                triggerEvent('{{$ViewID}}RefreshEditorJsonBtn', 'click')
                        })">
                    Save Json <div id="{{$ViewID}}SaveJsonProgress"></div>
                </button>
            </div>
        </div>
    </div>

</div>
