<div class="ar-flex-content-wrap">
    <div class="ar-flex-item-stretch ar-card-border" style="text-align:center;">
        {{@IsLocalHost}}
        <a href="/?CDNHost={{$RootDomain}}&CDNPORT={{$RootPort}}">
            <h5>Test NearCDN Url</h5>
            <p style="font-size:x-small">(/?CDNHost={{$RootDomain}}&CDNPORT={{$RootPort}})</p>
        </a>
        {{/IsLocalHost}}
        {{^IsLocalHost}}
        <a href="/?CDNHost={{$RootDomain}}&CDNPORT={{$RootPort}}">
            <h5>Test NearCDN Url</h5>
            <p style="font-size:x-small">(/?CDNHost=localcdn.{{$RootDomain}}&CDNPORT={{$RootPort}})</p>
        </a>
        {{/IsLocalHost}}
    </div>
</div>
