<div class="flex-item card_border" style="display:none;">
    <a href="/Account/UserProfile" style="color:#0B5394;">
        <img src="/icons/profile_64.png" />
    </a>
    <div style="width:125px;text-align:center;">
        <a href="/Account/UserProfile" style="color:#0B5394;height:50px;">
            User Profile
        </a>
    </div>
</div>

<div class="flex-item card_border">
    <a href="/Account/ChangePassword" style="color:#0B5394;">
        <img src="/icons/passwordchange_64.png" />
    </a>
    <div style="width:125px;text-align:center;">
        <a href="/Account/ChangePassword" class="card-footer-item" style="color:#0B5394;height:50px;">
            Change Password
        </a>
    </div>
</div>
