

<div style="margin: 5px 0px; " class="ar-flex-input-wrap">
    <button class="ar-flex-item-stretch ar-border" style="height:40px;" onclick="if (isHiddenElm('appDNS') == true) { retrieveAppDNSInfo('appDNSProgress', 'appDNSResponse', '', 'updateDNSAppName', 'updateIPv4Address', 'updateIPv6Address', 'publicIPv4Address', 'publicIPv6Address', 'dnsDomainName', 'dnsProviderName', 'doUpdateAppDNS', function () { showElm('appDNS'); }); } else { hideElm('appDNS'); }">
        Update DNS <span id="appDNSProgress"></span>
    </button>
</div>


<div id="appDNS" class="ar-border" style="margin: 5px 0px; padding: 5px; display: none; position: relative;">

    <div class="ar-notification" id="appDNSResponseContainer" style="text-align:center;display:none;margin:5px 10px;">
        <button class="ar-delete" onclick="hideElm('appDNSResponseContainer')"></button>
        <div id="appDNSResponse"></div>
    </div>

    <label style="position:absolute;left:5px;top:-6px; margin: 5px 0px; text-align: right">
        <input id="appDNSShowAdvancedOption" type="checkbox" title="Show Advanced Options" onclick="toggleElm('customDNSRegistrationDiv'); toggleElm('domainSelectDiv'); toggleElm('customDomainSelectDiv'); toggleElm('doUpdateAppDNS'); toggleElm('doUpdateCustomAppDNS'); hideElm('dnsIPInfoDiv'); getElm('doUpdateCustomAppDNS').setAttribute('disabled', true)">
    </label>

    <div class="ar-flex-input-wrap" style="margin: 10px 0px 5px 0px;">
        <label style="width:100%;margin: 5px 0px;">App Name <span style="padding-left:5px; font-size:xx-small;color:orangered;">(If empty set FLY_APP_NAME environment variable and restart)</span></label>
        <button style="width: 40px; text-align:center;" class="ar-button ar-border-left" onclick="openFlyUrl('updateDNSAppName')">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
            </svg>
        </button>
        <input id="updateDNSAppName" class="ar-input ar-flex-item-stretch ar-border-top-bottom" style="background-color: gray;" autocomplete="off" type="text" placeholder="Upload App Name" readonly />
        <button class="ar-button ar-border-right" style="background-color: #209cee; width:100px;" onclick="retrieveAppDNSInfo('appDNSProgress', 'appDNSResponse', getElm('updateDNSAppName').value, 'updateDNSAppName', 'updateIPv4Address', 'updateIPv6Address', 'publicIPv4Address', 'publicIPv6Address','dnsDomainName', 'dnsProviderName', 'doUpdateAppDNS')">
            Refresh
        </button>
    </div>

    <fieldset id="updateIPInfoDiv" class="ar-border" style="padding: 5px;">
        <legend>App IP Info</legend>

        <div class="ar-flex-content-spaced" style="margin: 0px;">
            <label class="ar-flex-item-stretch">IPv4 Address</label>
            <label class="ar-flex-item-stretch">IPv6 Address</label>
        </div>
        <div class="ar-flex-content-spaced" style="margin: 0px; padding: 0px;">
            <input id="updateIPv4Address" class="ar-input ar-border" style="width: 48%; height: 40px; margin: 0 5px 0 0; background-color: gray;" type="text" placeholder="Your IPv4 Address" value="" readonly />
            <input id="updateIPv6Address" class="ar-input ar-border" style="width: 48%; margin: 0 0 0 5px; background-color: gray;" type="text" placeholder="Your IPv6 Address" value="" readonly />
        </div>

        <div class="ar-flex-content-spaced" style="margin: 0px;">
            <label class="ar-flex-item-stretch">Public IPv4</label>
            <label class="ar-flex-item-stretch">Public IPv6</label>
        </div>
        <div class="ar-flex-content-spaced" style="margin: 0px; padding: 0px;">
            <input id="publicIPv4Address" class="ar-input ar-border" style="width: 48%; margin: 0 5px 0 0; background-color: gray;" type="text" placeholder="Your IPv4 Address" value="" readonly />
            <input id="publicIPv6Address" class="ar-input ar-border" style="width: 48%; margin: 0 0 0 5px; background-color: gray;" type="text" placeholder="Your IPv6 Address" value="" readonly />
        </div>

    </fieldset>

    <div class="ar-flex-input-wrap" style="margin: 5px 0px;" id="domainSelectDiv">
        <button class="ar-border-left" style="width: 100px; height: 38px; background-color: black; color: white;">
            Domain Of
        </button>
        <select id="dnsDomainName" class="ar-select ar-flex-item-stretch ar-border-top-bottom" style="background-color:white;">
            <option selected="selected">arshucs.com</option>
        </select>
        <button class="ar-button ar-border-right" id="doVerifyAppDNSDomain" style="background-color: #209cee; width:100px;" onclick="verifyDNSDomain('doVerifyDNSDomainProgress', 'appDNSResponse', getElm('updateDNSAppName').value, getElm('dnsDomainName').value, 'dnsRootIPv4Address', 'dnsRootIPv6Address', 'dnsSubIPv4Address', 'dnsSubIPv6Address', 'dnsIPInfoDiv', 'doUpdateCustomAppDNS')">
            Verify <span id="doVerifyDNSDomainProgress"></span>
        </button>
    </div>

    <fieldset id="customDNSRegistrationDiv" class="ar-border" style="display: none; padding: 5px;">
        <legend>Custom DNS Registration</legend>

        <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
            <button class="ar-button ar-border-left" style="width: 100px; background-color: black; color: white;">
                Provider
            </button>
            <select id="dnsProviderName" class="ar-select ar-flex-item-stretch ar-border-right" style="background-color:white;">
                <option>porkbun.com</option>
            </select>
        </div>

        <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
            <label style="width:100%;margin: 5px 5px;">
                Key
            </label>
            <input class="ar-input ar-flex-item-stretch ar-border" id="dnsProviderKey" autocomplete="off" type="password" placeholder="Your Provider Key" value="{{$DNSProviderAPIKey}}" />
        </div>

        <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
            <label style="width:100%;margin: 5px 5px;">
                Secret
            </label>
            <input class="ar-input ar-flex-item-stretch ar-border" id="dnsProviderSecret" autocomplete="off" type="password" placeholder="Your Provider Key" value="{{$DNSProviderSecretKey}}" />
        </div>

    </fieldset>

    <div class="ar-flex-input-wrap" style="margin: 5px 0px;display:none;" id="customDomainSelectDiv">
        <button class="ar-button ar-border-left" style="width: 100px; background-color: black; color: white; font-size:small; ">
            Domain Of
        </button>
        <input class="ar-input ar-flex-item-stretch ar-border-top-bottom" id="dnsCustomDomainName" autocomplete="off" type="text" placeholder="Your Domain Name" value="{{$DNSHostName}}" />
        <button class="ar-button ar-border-right" id="doVerifyAppDNSCustomDomain" style="background-color: #209cee; width:100px;" onclick="verifyDNSProvider('doVerifyDNSCustomDomainProgress', 'appDNSResponse', getElm('updateDNSAppName').value, getElm('dnsProviderName').value, getElm('dnsProviderKey').value, getElm('dnsProviderSecret').value,  getElm('dnsCustomDomainName').value, 'dnsRootIPv4Address', 'dnsRootIPv6Address', 'dnsSubIPv4Address', 'dnsSubIPv6Address', 'dnsIPInfoDiv', 'doUpdateCustomAppDNS')">
            Verify <span id="doVerifyDNSCustomDomainProgress"></span>
        </button>
    </div>

    <fieldset id="dnsIPInfoDiv" class="ar-border" style="padding: 5px;display:none;">
        <legend>DNS A & AAAA Info</legend>

        <div class="ar-flex-content-spaced" style="margin: 0px;">
            <label class="ar-flex-item-stretch">RootDomain IPv4</label>
            <label class="ar-flex-item-stretch">RootDomain IPv6</label>
        </div>
        <div class="ar-flex-content-spaced" style="margin: 0px; padding: 0px;">
            <input id="dnsRootIPv4Address" class="ar-input ar-border" style="width: 48%; margin: 0 5px 0 0; background-color: gray;" type="text" placeholder="Your IPv4 Address" value="" readonly />
            <input id="dnsRootIPv6Address" class="ar-input ar-border" style="width: 48%; margin: 0 0 0 5px; background-color: gray;" type="text" placeholder="Your IPv6 Address" value="" readonly />
        </div>

        <div class="ar-flex-content-spaced" style="margin: 0px;">
            <label class="ar-flex-item-stretch">SubDomain IPv4</label>
            <label class="ar-flex-item-stretch">SubDomain IPv6</label>
        </div>
        <div class="ar-flex-content-spaced" style="margin: 0px; padding: 0px;">
            <input id="dnsSubIPv4Address" class="ar-input ar-border" style="width: 48%; margin: 0 5px 0 0; background-color: gray;" type="text" placeholder="Your IPv4 Address" value="" readonly />
            <input id="dnsSubIPv6Address" class="ar-input ar-border" style="width: 48%; margin: 0 0 0 5px; background-color: gray;" type="text" placeholder="Your IPv6 Address" value="" readonly />
        </div>

    </fieldset>

    <div class="ar-flex-content-wrap" style="margin:15px 0px 15px 0px;">
        <label class="ar-flex-item-stretch" style="text-align: center">
            Update Root DNS
            <input id="updateRootDNS" type="checkbox" title="Update Root DNS" style="margin-left: 5px;">
        </label>
        <label class="ar-flex-item-stretch" style="text-align: center">
            Use PublicIP
            <input id="usePublicIP" type="checkbox" title="Use Public IP" style="margin-left: 5px;">
        </label>
    </div>

    <div class="ar-notification" id="doUpdateAppDNSResponseContainer" style="text-align:center;display:none;margin:5px 10px;">
        <button class="ar-delete" onclick="hideElm('doUpdateAppDNSResponseContainer')"></button>
        <div id="doUpdateAppDNSResponse"></div>
    </div>

    <div class="ar-flex-content-wrap" style="margin: 15px 0px;">
        <button class="ar-button ar-border" id="doUpdateAppDNS" style="background-color:#209cee;" tabindex="4" disabled="disabled"
                onclick="hideElm('dnsIPInfoDiv');updateAppDNS('doUpdateAppDNSProgress', 'doUpdateAppDNSResponse', getElm('updateDNSAppName').value, getElm('dnsDomainName').value, getElm('updateRootDNS').checked, getElm('usePublicIP').checked, 'doUpdateAppDNS')">
            Update DNS <span id="doUpdateAppDNSProgress"></span>
        </button>
        <button class="ar-button ar-border" id="doUpdateCustomAppDNS" style="display:none;background-color:#209cee;" tabindex="4" disabled="disabled"
                onclick="hideElm('dnsIPInfoDiv');updateCustomAppDNS('doUpdateCustomDNSProgress', 'doUpdateAppDNSResponse', getElm('updateDNSAppName').value, getElm('dnsProviderName').value, getElm('dnsProviderKey').value, getElm('dnsProviderSecret').value, getElm('dnsCustomDomainName').value, getElm('updateRootDNS').checked, getElm('usePublicIP').checked, 'doUpdateAppDNS')">
            Update Custom DNS <span id="doUpdateCustomDNSProgress"></span>
        </button>

    </div>

</div>

{{AppDNSJs}}