<div id="demoToDo"
     data-action="loadComponentHtml"
     data-progress="progress"
     data-component="demoToDo"
     data-isrealtime="false"
     data-delay="10"
     data-reload="true">
    {{DemoToDo}}
</div>

<div id="usage_list"
     data-action="loadComponentHtml"
     data-progress="progress"
     data-component="usage_list"
     data-isrealtime="false"
     data-delay="10"
     data-process="true">
    {{!usage_list}}
</div>

<div id="appweb_intro"
     data-action="loadComponentHtml"
     data-progress="progress"
     data-component="appweb_intro"
     data-isrealtime="true"
     data-delay="100"
     data-process="true">
    {{!appweb_intro}}
</div>

{{HTMLPLACEHOLDER}}
{{VIEWPLACEHOLDER}}

