
<div id="usage_list"
     data-ar-action="loadViewComponentHtml"
     data-ar-progress="progress"
     data-ar-component="usage_list"
     data-ar-refreshmode=""
     data-ar-delay="10"
     data-ar-process="true">
    {{!usage_list}}
</div>

<div id="demoToDo"
     data-ar-action="loadViewComponentHtml"
     data-ar-progress="progress"
     data-ar-component="demoToDo"
     data-ar-refreshmode=""
     data-ar-delay="0"
     data-ar-reload="true"
     data-ar-process="true">
    {{DemoToDo}}
</div>

<div id="appweb_intro"
     data-ar-action="loadViewComponentHtml"
     data-ar-progress="progress"
     data-ar-component="appweb_intro"
     data-ar-refreshmode="ws"
     data-ar-delay="200"
     data-ar-process="true">
    {{!appweb_intro}}
</div>

{{HTMLPLACEHOLDER}}

