

<script type="text/javascript">

    window.ajaxid = 0

    ready(() => {

        let userEmailElm = getElm('userEmail')
        let userMessageElm = getElm('userMessage')
        let sendEmailSubmitElm = getElm('sendEmailSubmit')

        userEmailElm.addEventListener('keypress', function (event) {
            let key = event.which || event.keyCode
            if (key === 13) { // 13 is enter
                userMessageElm.focus()
            }
        })

        //userMessageElm.addEventListener('keypress', function (event) {
        //    let key = event.which || event.keyCode;
        //    if (key === 13) { // 13 is enter
        //        sendEmailSubmitElm.click()
        //    }
        //});
    })

    function sendEmailMessage(progressElmId, responseElmId, userEmailVal, userMessageVal, successCallback) {
        let id = window.ajaxid++
        let responseContainerElmId = responseElmId + "Container"
        let responseElm = getElm(responseElmId)
        let responseContainerElm = getElm(responseContainerElmId)
        responseElm.innerHTML = ""
        hideElm(responseContainerElmId)

        let valid = true

        if (userEmailVal.trim().length === 0) {
            showText(responseElm, 'Enter Your Email', 'red')
            valid = false
        }

        if (valid === true) {
            if (userMessageVal.trim().length === 0) {
                showText(responseElm, 'Enter Your Message', 'red')
                valid = false
            }
        }

        if (valid === true) {

            let isRealtime = false
            let realtimeDomain = ""

            let apiUrl = "/AppApi/EmailApi"
            let apiMethod = "SendEmail"

            let apiParams = {
                "userEmail": userEmailVal,
                "userMessage": userMessageVal
            }

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId)

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red')
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green')

                    if (typeof successCallback === "function") {
                        successCallback()
                    }
                }

            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "")

        }
        return false
    }

</script>

<div class="ar-flex-content-center">

    <div class="ar-flex-card ar-card-border" style="text-align:center;width:90%;">

        <div class="ar-flex-content-wrap ar-flex-item-stretch">
            <button class="ar-button ar-flex-item-stretch ar-border" style="background-color:#209cee;color:black;">
                Send Email Message
            </button>
        </div>

        <div class="ar-flex-input-wrap" style="margin: 25px 0px;">
            <label style="width:100%;">Your Email</label>
            <input class="ar-input ar-flex-item-stretch ar-border" style="height:39px;" id="userEmail" maxlength="50" autocomplete="off" type="email" placeholder="Your Email" autofocus="" tabindex="1" value="">
        </div>


        <div class="ar-flex-input-wrap" style="margin: 25px 0px;">
            <label style="width:100%;">Your Message</label>
            <textarea class="ar-input ar-flex-item-stretch ar-border" id="userMessage" placeholder="Your Message" tabindex="2" rows="5" maxlength="250"></textarea>
        </div>

        <div class="ar-notification" id="sendEmailResponseContainer" style="text-align:center;display:none;margin:5px 10px;">
            <button class="ar-delete" onclick="hideElm('sendEmailResponseContainer')"></button>
            <div id="sendEmailResponse"></div>
        </div>

        <div class="ar-flex-content-wrap" style="margin: 25px 0px;">
            <button class="ar-button ar-border" id="sendEmailSubmit" style="background-color:#209cee;color:black" tabindex="4"
                    onclick="return sendEmailMessage('sendEmailProgress', 'sendEmailResponse', getElm('userEmail').value, getElm('userMessage').value);">
                Send Message <div id="sendEmailProgress"></div>
            </button>
        </div>

    </div>

</div>
