<div class="flex-content-wrap" style="margin:5px;" title="ViewID={{$ViewID}},ParentViewID={{$ParentViewID}}">
    {{VIEWPLACEHOLDER}}
    <div class="flex-item card_border" style="text-align:center;">
        {{RealtimeAction}}

        <div style="text-align:center;">
            <div id="{{$ViewID}}Progress"></div>
            <div style="margin:5px; padding:10px;text-align:center;display:none;" class="notification" id="{{$ViewID}}ResponseContainer">
                <button class="delete" onclick="hideElm('{{$ViewID}}ResponseContainer')"></button>
                <div id="{{$ViewID}}Response"></div>
            </div>
        </div>

        <div class="flex-item-stretch" style="text-align:center;" title="ViewID={{$ViewID}},ParentViewID={{$ParentViewID}}">
            <button class="border button" style="margin:5px;background-color:lightblue;width:60px;margin: 0 5px 0 0" onclick="toDoShowAddView('toDoAddViewDiv')">Add</button>
            <button class="border button" style="margin: 5px; background-color: lightblue; width: 60px; margin: 0 0 0 5px" onclick="toDoShowFilterView('toDoFilterViewDiv')">Filter</button>
        </div>

        {{ToDoAddView}}

        {{ToDoEditView}}

        {{ToDoFilterView}}

        {{ToDoListView}}

    </div>
</div>

<script type="text/javascript" id="{{$ViewID}}Script">

    function toDoShowAddView(addViewElmId) {
        hideElm('toDoFilterViewDiv');
        hideElm('toDoEditViewDiv');

        if (haveElm(addViewElmId) == true) {
            showElm(addViewElmId)
            clearViewComponentFlatJson(addViewElmId);
        }
    }

    function toDoShowFilterView(filterViewElmId) {

        hideElm('toDoAddViewDiv');
        hideElm('toDoEditViewDiv');

        if (haveElm(filterViewElmId) == true) {
            showElm(filterViewElmId)
        }
    }

    function toDoShowEditView(keyPath, keyPathJson) {

        hideElm('toDoAddViewDiv');
        hideElm('toDoFilterViewDiv');

        let editKeyElmId = '{{$ViewID}}EditKey'
        if (haveElm(editKeyElmId) == true) {

            let elmEditKey = getElm(editKeyElmId);
            elmEditKey.value = keyPath;

            let editElmPrefix = '{{$ViewID}}Edit';
            for (let key in keyPathJson) {
                let jsonValue = keyPathJson[key];
                let idxLastDot = key.lastIndexOf(".");
                let elmId = key.substring(idxLastDot + 1);
                let jsonKey = editElmPrefix + elmId;
                let elmEdit = getElm(jsonKey);
                elmEdit.value = jsonValue;
                elmEdit.setAttribute('data-key', key);
            }

            let editViewElmId = 'toDoEditViewDiv'
            if (haveElm(editViewElmId) == true) {
                showElm(editViewElmId)
            }
        }
    }

</script>