<script>
    window.ajaxid = 0;

    function hideGitViewer() {

        let modal = document.querySelector('#viewGit');
        modal.classList.remove('viewmodal-active');
        setTimeout(function () { window.location.reload(true); }, 1000);
    }

    function showGitViewer(progressElmId) {
        let modal = document.querySelector('#viewGit');
        modal.classList.add('viewmodal-active');
    }

    function gitRefreshGitRepositoryList(progressElmId, responseElmId, targetElmId, successCallback) {

        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        //responseElm.textContent = '';
        //let responseContainerElmId = responseElmId + "Container";
        //hideElm(responseContainerElmId);
        let valid = true;

        if (valid === true) {


            let url = '/AppApi/GitApi';
            let urlMethod = 'POST';
            let urlContent = {
                "jsonrpc": '2.0', "method": 'GetGitRepositorySelectView', "params": {
                    "appSite": "",
                    "selectedKey": "",
                    "emptyText": "No Git Repository Found"
                }, "id": id
            };

            dopost(progressElmId, responseElmId, url, urlContent,
                function (data) {
                    if (data.hasOwnProperty('Result') === true) {
                        let result = data.Result;
                        if (result.hasOwnProperty('html') === true) {
                            let rootNode = getElm(targetElmId);
                            rootNode.innerHTML = result.html;
                            showElm(targetElmId);

                            if (typeof successCallback === "function") {
                                successCallback();
                            }
                        }
                        if (result.hasOwnProperty('error') === true) {
                            showText(responseElm, result.error, 'red');
                        }
                        //else if (result.hasOwnProperty('message') === true) {
                        //    showText(responseElm, result.message, 'green');
                        //}
                    }
                    else if (data.hasOwnProperty('Error') === true) {
                        let error = data.Error;
                        if (error.hasOwnProperty('Message') === true) {
                            showText(responseElm, error.Message, 'red');
                        }
                    }
                });
        }

        return false;
    }

    function gitRefreshGitRemoteBranchList(progressElmId, responseElmId, gitUrlVal, targetElmId, successCallback) {

        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        responseElm.textContent = '';
        let responseContainerElmId = responseElmId + "Container";
        hideElm(responseContainerElmId);
        let valid = true;
        let selectIndex = 0;

        if (valid === true) {

            let url = '/AppApi/GitApi';
            let urlMethod = 'POST';
            let urlContent = {
                "jsonrpc": '2.0', "method": 'GetGitRemoteBranchList', "params": {
                    "gitUrl": gitUrlVal
                }, "id": id
            };

            dopost(progressElmId, responseElmId, url, urlContent,
                function (data) {
                    if (data.hasOwnProperty('Result') === true) {
                        let result = data.Result;
                        if (result.hasOwnProperty('json') === true) {

                            let selectElm = getElm(targetElmId);
                            if (selectElm) {
                                let retData = result.json;
                                selectElm.options.length = 0;
                                for (let i = 0; i < retData.length; i++) {
                                    let key = retData[i].Key;
                                    let jsonData = retData[i].Value;
                                    if (jsonData.hasOwnProperty("OptionText") && jsonData.hasOwnProperty("OptionValue")) {
                                        let optionText = jsonData.OptionText;
                                        let optionValue = jsonData.OptionValue;
                                        selectElm.options[selectElm.options.length] = new Option(optionText, optionValue);
                                    }
                                    else {
                                        selectElm.options[selectElm.options.length] = new Option(key, key);
                                    }
                                }
                                if (selectIndex === 999) {
                                    selectElm.selectedIndex = selectElm.options.length - 1;
                                }
                                else {
                                    selectElm.selectedIndex = selectIndex;
                                }
                            }

                            if (typeof (successCallback) === "function") {
                                successCallback();
                            }
                        }
                        if (result.hasOwnProperty('error') === true) {
                            showText(responseElm, result.error, 'red');
                        }
                        //else if (result.hasOwnProperty('message') === true) {
                        //    showText(responseElm, result.message, 'green');
                        //}
                    }
                    else if (data.hasOwnProperty('Error') === true) {
                        let error = data.Error;
                        if (error.hasOwnProperty('Message') === true) {
                            showText(responseElm, error.Message, 'red');
                        }
                    }
                });
        }

        return false;
    }

    function gitRefreshGitFolderList(progressElmId, responseElmId, gitUrlVal, targetElmId, successCallback) {

        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        responseElm.textContent = '';
        let responseContainerElmId = responseElmId + "Container";
        hideElm(responseContainerElmId);
        let valid = true;
        let selectIndex = 0;

        if (valid === true) {

            let url = '/AppApi/GitApi';
            let urlMethod = 'POST';
            let urlContent = {
                "jsonrpc": '2.0', "method": 'GetGitFolderSelectList', "params": {
                    "gitUrl": gitUrlVal
                }, "id": id
            };

            dopost(progressElmId, responseElmId, url, urlContent,
                function (data) {
                    if (data.hasOwnProperty('Result') === true) {
                        let result = data.Result;
                        if (result.hasOwnProperty('json') === true) {

                            let selectElm = getElm(targetElmId);
                            if (selectElm) {
                                let retData = result.json;
                                selectElm.options.length = 0;
                                for (let i = 0; i < retData.length; i++) {
                                    let key = retData[i].Key;
                                    let jsonData = retData[i].Value;
                                    if (jsonData.hasOwnProperty("OptionText") && jsonData.hasOwnProperty("OptionValue")) {
                                        let optionText = jsonData.OptionText;
                                        let optionValue = jsonData.OptionValue;
                                        selectElm.options[selectElm.options.length] = new Option(optionText, optionValue);
                                    }
                                    else {
                                        selectElm.options[selectElm.options.length] = new Option(key, key);
                                    }
                                }
                                if (selectIndex === 999) {
                                    selectElm.selectedIndex = selectElm.options.length - 1;
                                }
                                else {
                                    selectElm.selectedIndex = selectIndex;
                                }
                            }

                            if (typeof (successCallback) === "function") {
                                successCallback();
                            }
                        }
                        if (result.hasOwnProperty('error') === true) {
                            showText(responseElm, result.error, 'red');
                        }
                        //else if (result.hasOwnProperty('message') === true) {
                        //    showText(responseElm, result.message, 'green');
                        //}
                    }
                    else if (data.hasOwnProperty('Error') === true) {
                        let error = data.Error;
                        if (error.hasOwnProperty('Message') === true) {
                            showText(responseElm, error.Message, 'red');
                        }
                    }
                });
        }

        return false;
    }

    function gitRefreshWebFolderList(progressElmId, responseElmId, targetElmId, selectedKeyVal, successCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);
        let valid = true;

        if (valid === true) {


            let url = '/AppApi/GitApi';
            let urlContent = {
                "jsonrpc": '2.0', "method": 'GetGitWebFolderSelectView', "params": {
                    "appSite": '{{$AppSite}}',
                    "selectEmptyText": "No Web Folders Found",
                    "selectedKey": selectedKeyVal,
                    "dirSearchPattern": "*",
                    "dirSearchOptionAll": true,
                    "displayMode": "RelativePath"
                }, "id": id
            };

            dopost(progressElmId, responseElmId, url, urlContent,
                function (data) {
                    if ((data.hasOwnProperty('Result') === true) && (data.Result)) {
                        let result = data.Result;
                        if (result.hasOwnProperty('html') === true) {
                            let rootNode = getElm(targetElmId);
                            rootNode.innerHTML = result.html;
                            showElm(targetElmId);

                            if (typeof successCallback === "function") {
                                successCallback();
                            }
                        }
                        if (result.hasOwnProperty('error') === true) {
                            showText(responseElm, result.error, 'red');
                        }
                        //else if (result.hasOwnProperty('message') === true) {
                        //    showText(responseElm, result.message, 'green');
                        //}
                    }
                    else if ((data.hasOwnProperty('Error') === true) && (data.Error)) {
                        let error = data.Error;
                        if (error.hasOwnProperty('Message') === true) {
                            showText(responseElm, error.Message, 'red');
                        }
                    }
                });
        }

        return false;
    }



    function gitClonePullRepository(progressElmId, responseElmId, gitUrlVal, gitUserNameVal, gitUserEmailVal, gitAccessTokenVal, successCallback) {

        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);
        let valid = true;

        if (valid == true) {
            if ((gitUrlVal.trim().length === 0) || (gitUrlVal == "0")) {
                showText(responseElm, 'Select Valid Git Url', 'red');
                valid = false;
            }
        }

        if (valid === true) {

            let url = '/AppApi/GitApi';
            let urlMethod = 'POST';
            let urlContent = {
                "jsonrpc": '2.0', "method": 'ClonePullWebRepository', "params": {
                    "gitUrl": gitUrlVal,
                    "gitUserName": gitUserNameVal,
                    "gitUserEmail": gitUserEmailVal,
                    "gitAccessToken": gitAccessTokenVal
                }, "id": id
            };

            dopost(progressElmId, responseElmId, url, urlContent,
                function (data) {
                    if (data.hasOwnProperty('Result') === true) {
                        let result = data.Result;

                        if (result.hasOwnProperty('message') === true) {
                            showText(responseElm, result.message, 'green');

                            if (typeof successCallback === "function") {
                                successCallback();
                            }

                        }
                        else if (result.hasOwnProperty('error') === true) {
                            showText(responseElm, result.error, 'red');
                        }
                    }
                    else if (data.hasOwnProperty('Error') === true) {
                        let error = data.Error;
                        if (error.hasOwnProperty('Message') === true) {
                            showText(responseElm, error.Message, 'red');
                        }
                    }
                });
        }
    }

    function gitDeleteRepository(progressElmId, responseElmId, gitUrlVal, successCallback) {

        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);
        let valid = true;

        if (valid == true) {
            if ((gitUrlVal.trim().length === 0) || (gitUrlVal == "0")) {
                showText(responseElm, 'Select Valid Git Url', 'red');
                valid = false;
            }
        }

        if (valid === true) {

            let url = '/AppApi/GitApi';
            let urlMethod = 'POST';
            let urlContent = {
                "jsonrpc": '2.0', "method": 'DeleteWebRepository', "params": {
                    "gitUrl": gitUrlVal,
                }, "id": id
            };

            dopost(progressElmId, responseElmId, url, urlContent,
                function (data) {
                    if (data.hasOwnProperty('Result') === true) {
                        let result = data.Result;

                        if (result.hasOwnProperty('message') === true) {
                            showText(responseElm, result.message, 'green');

                            if (typeof successCallback === "function") {
                                successCallback();
                            }
                        }
                        else if (result.hasOwnProperty('error') === true) {
                            showText(responseElm, result.error, 'red');
                        }
                    }
                    else if (data.hasOwnProperty('Error') === true) {
                        let error = data.Error;
                        if (error.hasOwnProperty('Message') === true) {
                            showText(responseElm, error.Message, 'red');
                        }
                    }
                });
        }
    }

    function gitPushRepository(progressElmId, responseElmId, gitUrlVal, gitCommitBranchVal, gitCommitMessageVal, includeWebSiteVal, clearWebSiteVal, gitUserNameVal, gitUserEmailVal, gitAccessTokenVal, successCallback) {

        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);
        let valid = true;

        if (valid == true) {
            if ((gitUrlVal.trim().length === 0) || (gitUrlVal == "0")) {
                showText(responseElm, 'Select Valid Git Url', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (gitCommitBranchVal.trim().length === 0) {
                showText(responseElm, 'Select Git Remote Branch', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (gitCommitMessageVal.trim().length === 0) {
                showText(responseElm, 'Enter Git Commit Message', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (gitUserNameVal.trim().length === 0) {
                showText(responseElm, 'Enter Valid Git User Name', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (gitUserEmailVal.trim().length === 0) {
                showText(responseElm, 'Enter Valid Git User Email', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (gitAccessTokenVal.trim().length === 0) {
                showText(responseElm, 'Enter Valid Git Access Token', 'red');
                valid = false;
            }
        }

        if (valid === true) {

            let url = '/AppApi/GitApi';
            let urlMethod = 'POST';
            let urlContent = {
                "jsonrpc": '2.0', "method": 'PushWebRepository', "params": {
                    "gitUrl": gitUrlVal,
                    "gitCommitBranch": gitCommitBranchVal,
                    "gitCommitMessage": gitCommitMessageVal,
                    "includeWebSite": includeWebSiteVal,
                    "clearWebSite": clearWebSiteVal,
                    "gitUserName": gitUserNameVal,
                    "gitUserEmail": gitUserEmailVal,
                    "gitAccessToken": gitAccessTokenVal
                }, "id": id
            };

            dopost(progressElmId, responseElmId, url, urlContent,
                function (data) {
                    if (data.hasOwnProperty('Result') === true) {
                        let result = data.Result;

                        if (result.hasOwnProperty('message') === true) {
                            showText(responseElm, result.message, 'green');

                            if (typeof successCallback === "function") {
                                successCallback();
                            }
                        }
                        else if (result.hasOwnProperty('error') === true) {
                            showText(responseElm, result.error, 'red');
                        }
                    }
                    else if (data.hasOwnProperty('Error') === true) {
                        let error = data.Error;
                        if (error.hasOwnProperty('Message') === true) {
                            showText(responseElm, error.Message, 'red');
                        }
                    }
                });
        }
    }

    function gitCopyWebRepository(progressElmId, responseElmId, gitUrlVal, sourceFolder, targetFolder, overwriteWebSiteVal, clearWebSiteVal, successCallback) {

        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);
        let valid = true;

        if (valid == true) {
            if ((gitUrlVal.trim().length === 0) || (gitUrlVal == "0")) {
                showText(responseElm, 'Select Valid Git Url', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (sourceFolder.trim().length === 0) {
                showText(responseElm, 'Select Source Folder', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (targetFolder.trim().length === 0) {
                showText(responseElm, 'Select Target Folder', 'red');
                valid = false;
            }
        }

        if (valid === true) {

            let url = '/AppApi/GitApi';
            let urlMethod = 'POST';
            let urlContent = {
                "jsonrpc": '2.0', "method": 'CopyGitWebRepository', "params": {
                    "gitUrl": gitUrlVal,
                    "gitSourceFolder": sourceFolder,
                    "gitTargetFolder": targetFolder,
                    "overwriteWebSite": overwriteWebSiteVal,
                    "clearWebSite": clearWebSiteVal
                }, "id": id
            };

            dopost(progressElmId, responseElmId, url, urlContent,
                function (data) {
                    if (data.hasOwnProperty('Result') === true) {
                        let result = data.Result;

                        if (result.hasOwnProperty('message') === true) {
                            showText(responseElm, result.message, 'green');

                            if (typeof successCallback === "function") {
                                successCallback();
                            }
                        }
                        else if (result.hasOwnProperty('error') === true) {
                            showText(responseElm, result.error, 'red');
                        }
                    }
                    else if (data.hasOwnProperty('Error') === true) {
                        let error = data.Error;
                        if (error.hasOwnProperty('Message') === true) {
                            showText(responseElm, error.Message, 'red');
                        }
                    }
                });
        }
    }

    function gitClearWebRepository(progressElmId, responseElmId, targetFolder, clearWebSiteVal, successCallback) {

        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);
        let valid = true;

        if (valid == true) {
            if (targetFolder.trim().length === 0) {
                showText(responseElm, 'Select Target Folder', 'red');
                valid = false;
            }
        }

        if (valid === true) {

            let url = '/AppApi/GitApi';
            let urlMethod = 'POST';
            let urlContent = {
                "jsonrpc": '2.0', "method": 'ClearGitWebRepository', "params": {
                    "gitTargetFolder": targetFolder,
                    "clearWebSite": clearWebSiteVal
                }, "id": id
            };

            dopost(progressElmId, responseElmId, url, urlContent,
                function (data) {
                    if (data.hasOwnProperty('Result') === true) {
                        let result = data.Result;

                        if (result.hasOwnProperty('message') === true) {
                            showText(responseElm, result.message, 'green');

                            if (typeof successCallback === "function") {
                                successCallback();
                            }
                        }
                        else if (result.hasOwnProperty('error') === true) {
                            showText(responseElm, result.error, 'red');
                        }
                    }
                    else if (data.hasOwnProperty('Error') === true) {
                        let error = data.Error;
                        if (error.hasOwnProperty('Message') === true) {
                            showText(responseElm, error.Message, 'red');
                        }
                    }
                });
        }
    }

</script>

{{VIEWPLACEHOLDER}}

<div style="position:relative;text-align:center;height:0px;">
    <div id="gitViewProgress"></div>
</div>

<div class="notification is-marginless" id="gitViewResponseContainer" style="display:none;">
    <button class="delete" onclick="hideElm('gitViewResponseContainer');"></button>
    <div id="gitViewResponse"></div>
</div>

<div class="viewmodal" id="viewGit">
    <div class="viewmodal-background"></div>
    <div class="viewmodal-content" style="background-color:#fff;">

        <div class="flex-content-wrap">
            <button class="flex-item-stretch">Git Sync</button>
            <button class="border" style="margin-top:7px;width:25px;height:25px;background-color: lightgray;" onclick="hideGitViewer()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>

        <div id="gitPullClone">
            {{GitList}}
            <div class="flex-card card_border" id="gitPullCloneAction">
                <div class="flex-content-wrap" style="width:100%;text-align: center;margin: 0px 10px;">
                    <span style="color:blue;font-size:xx-small;">Reposiory Size Cannot Exceed 10 MB and should have only html/json/txt/md and image files</span>
                </div>
                <div class="flex-content-wrap" style="width:100%;text-align: center;margin: 10px 10px;">
                    <button class="border" style="min-width:100px;height:40px;background-color:lightgray;" onclick="gitClonePullRepository('gitProgress', 'gitResponse', getElm('gitUrl').value, getElm('gitUserName').value, getElm('gitUserEmail').value, getElm('gitAccessToken').value, function () { triggerEvent('gitRepositoryRefreshBtn', 'click'); })">
                        Clone/Pull <div id="gitProgress"></div>
                    </button>
                    <button class="border " style="margin: 0 5px;min-width:100px;height:40px;background-color:lightgray;" onclick="gitRefreshGitRemoteBranchList('gitPushProgress', 'gitResponse', getElm('gitSampleRepository').value, 'gitRemoteBranches', function () { showElm('authenticationInfo'); showElm('pushInfo'); hideElm('copyInfo'); })">
                        Push <div id="gitPushProgress"></div>
                    </button>
                </div>
            </div>
        </div>

        <div class="flex-card card_border" style="display:none;" id="authenticationInfo">

            <div class="flex-content-wrap" style="margin: 5px 5px;width:100%;min-height:0px;">
                <div class="flex-item-stretch" style="margin-top: -10px;text-align:center;">
                    <strong>Git Authentication Info</strong>
                </div>
            </div>

            <div class="flex-content-wrap">
                <label style="width:100%;margin: 5px auto;">Git User Name</label>
                <div class="flex-item-stretch border" style="height: 40px;">
                    <input style="width:100%;border:none;" id="gitUserName" type="text" placeholder="Git User Name" value="{{$GitDefaultUserName}}" onfocus="this.select()" />
                </div>
            </div>

            <div class="flex-content-wrap">
                <label style="width:100%;margin: 5px auto;">Git User Email</label>
                <div class="flex-item-stretch border" style="height: 40px;">
                    <input style="width:100%;border:none;" id="gitUserEmail" type="text" placeholder="Git User Email" value="{{$GitDefaultUserEmail}}" onfocus="this.select()" />
                </div>
            </div>

            <div class="flex-content-wrap">
                <label style="width:100%;margin: 5px auto;">Git Access Token</label>
                <div class="flex-item-stretch border" style="height: 40px;">
                    <input style="width:100%;border:none;" id="gitAccessToken" type="password" placeholder="Git Access Token" value="{{$GitDefaultUserToken}}" onfocus="this.select()" />
                </div>
            </div>

        </div>

        <div class="flex-card card_border" style="display:none;" id="pushInfo">

            <div class="flex-content-wrap" style="margin: 5px 5px;width:100%;min-height:0px;">
                <div class="flex-item-stretch" style="margin-top: -10px;text-align:center;">
                    <strong>Git Push/Commit Info</strong>
                </div>
            </div>

            <div class="flex-content-wrap">
                <label style="width:100%;margin: 5px auto;">Remote Branch</label>
                <button class="border-left" style="height:40px;width:40px;background-color:lightgray;" id="gitBranchRefreshBtn" onclick="gitRefreshGitRemoteBranchList('gitBranchRefreshProgress', 'gitActionResponse', getElm('gitRepository').value, 'gitRemoteBranches')">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                    </svg>
                    <div id="gitBranchRefreshProgress"></div>
                </button>
                <div class="flex-item-stretch border-right" style="height: 40px;">
                    <select id="gitRemoteBranches" style="width:100%;border:none;">
                    </select>
                </div>
            </div>
            <div class="flex-content-wrap">
                <label style="width:100%;margin: 5px auto;">Git Commit Message</label>
                <div class="flex-item-stretch border" style="height: 40px;">
                    <input style="width:100%;border:none;" id="gitCommitMessage" type="text" placeholder="Git Commit Message" value="" />
                </div>
            </div>

            <div style="text-align:center;margin-top:10px">
                <input readonly type="checkbox" checked="checked" id="pushIncludeWebSite" name="pushIncludeWebSite" title="Include WebSite in Push">
                <label for="pushIncludeWebSite" style="padding:7px 0px 0 0px;">
                    Include WebSite
                </label>
                <input readonly type="checkbox" id="pushClearWebSite" name="pushClearWebSite" title="Clear WebSite in Push">
                <label for="pushClearWebSite" style="padding:7px 0px 0 0px;">
                    Clear WebSite
                </label>
            </div>

            <div class="flex-content-wrap" style="width:100%;text-align: center;margin: 10px 10px;">
                <button class="border " style="margin: 0 5px;min-width:100px;height:40px;background-color:lightgray;" onclick="hideElm('pushInfo'); hideElm('copyInfo'); hideElm('authenticationInfo'); showElm('gitPullClone'); showElm('gitAction');">
                    Close
                </button>
                <button class="border " style="margin: 0 5px;min-width:100px;height:40px;background-color:lightgray;" onclick="gitPushRepository('gitPushConfirmProgress', 'gitResponse', getElm('gitRepository').value, getElm('gitRemoteBranches').value, getElm('gitCommitMessage').value, getElm('pushIncludeWebSite').checked, getElm('pushClearWebSite').checked, getElm('gitUserName').value, getElm('gitUserEmail').value, getElm('gitAccessToken').value, null)">
                    Push Confirm<div id="gitPushConfirmProgress"></div>
                </button>
            </div>

        </div>

        <div class="notification" id="gitResponseContainer" style="margin:5px; padding:10px;text-align:justify;display:none;">
            <button class="delete" onclick="hideElm('gitResponseContainer')"></button>
            <div id="gitResponse"></div>
        </div>

        <div class="flex-card card_border">
            <div class="flex-content-wrap" style="margin: 5px 5px;width:100%;min-height:0px;">
                <div class="flex-item-stretch" style="margin-top: -10px;text-align:center;">
                    <strong style="color:blue">Synced Git Repository's</strong>
                </div>
            </div>
            <div class="flex-content-wrap">
                <label style="width:100%;margin: 5px auto;">Git Repository(s) in App</label>
                <button class="border-left" style="height:40px;width:40px;background-color:lightgray;" id="gitRepositoryRefreshBtn" onclick="gitRefreshGitRepositoryList('gitRepositoryRefreshProgress', 'gitResponse', 'gitRepository')">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                    </svg>
                    <div id="gitRepositoryRefreshProgress"></div>
                </button>
                <div class="flex-item-stretch border-top-bottom" style="height: 40px;">
                    <select id="gitRepository" style="width:100%;border:none;">
                        {{
                            VIEW_GitRepositorySelect(
                            "GitRepositorySelect",
                            "SelectedKey":"Tailwind",
                            "EmptyText":"No Git Repository Found")
                        }}
                    </select>
                </div>
                <button class="border-right" style="width:40px;height:40px;background-color:lightgray;" onclick="toggleElm('authenticationInfo')">
                    A
                </button>
            </div>
        </div>

        <div class="flex-card card_border" id="gitAction">

            <div class="flex-content-wrap" style="width:100%;text-align: center;margin: 10px 10px;">
                <button class="border " style="margin: 0 5px;min-width:100px;height:40px;background-color:orangered;" onclick="gitDeleteRepository('gitDeleteProgress', 'gitActionResponse', getElm('gitRepository').value, function () { triggerEvent('gitRepositoryRefreshBtn', 'click'); hideElm('pushInfo'); hideElm('copyInfo'); showElm('gitPullClone');  })">
                    Delete <div id="gitDeleteProgress"></div>
                </button>
                <button class="border " style="margin: 0 5px;min-width:100px;height:40px;background-color:lightgray;" onclick="gitRefreshGitFolderList('gitCopyProgress', 'gitActionResponse', getElm('gitRepository').value, 'gitFolders', function () { triggerEvent('gitFolderRefreshBtn', 'click'); hideElm('pushInfo'); showElm('copyInfo'); hideElm('clearInfo');hideElm('gitPullClone'); hideElm('gitAction'); })">
                    Copy <div id="gitCopyProgress"></div>
                </button>
                <button class="border " style="margin: 0 5px; min-width: 100px; height: 40px; background-color: orangered;" onclick="gitRefreshGitFolderList('gitCopyProgress', 'gitActionResponse', getElm('gitRepository').value, 'gitFolders', function () { triggerEvent('clearWebFolderRefreshBtn', 'click'); hideElm('pushInfo'); showElm('clearInfo'); hideElm('copyInfo');hideElm('gitPullClone'); hideElm('gitAction'); })">
                    Clear <div id="gitClearProgress"></div>
                </button>
            </div>

        </div>

        <div class="notification" id="gitActionResponseContainer" style="margin:5px; padding:10px;text-align:justify;display:none;">
            <button class="delete" onclick="hideElm('gitActionResponseContainer')"></button>
            <div id="gitActionResponse"></div>
        </div>


        <div class="flex-card card_border" style="display:none;" id="clearInfo">

            <div class="flex-content-wrap" style="margin: 5px 5px;width:100%;min-height:0px;">
                <div class="flex-item-stretch" style="margin-top: -10px;text-align:center;">
                    <strong>Clear WebSite Folder</strong>
                </div>
            </div>

            <div class="flex-content-wrap">
                <label style="width:100%;margin: 5px auto;">WebSite Folder's</label>
                <button class="border-left" style="height:40px;width:40px;background-color:lightgray;" id="clearWebFolderRefreshBtn" onclick="gitRefreshWebFolderList('clearWebFolderRefreshProgress', 'gitActionResponse', 'clearWebFolders', getElm('clearWebFolders').value)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                    </svg>
                    <div id="clearWebFolderRefreshProgress"></div>
                </button>
                <div class="flex-item-stretch border-right" style="height: 40px;">
                    <select id="clearWebFolders" style="width:100%;border:none;">
                        {{
                            VIEW_GitWebFolderSelect("FolderSelect",
                            "DirSearchPattern": "*",
                            "DirSearchOptionAll": true,
                            "DisplayMode" :"RelativePath")
                        }}
                    </select>
                </div>
            </div>

            <div style="text-align:center;margin-top:10px">
                <input readonly type="checkbox" id="clearWebSite" name="clearWebSite" title="Clear WebSite">
                <label for="clearWebSite" style="padding:7px 0px 0 0px;">
                    Clear WebSite
                </label>
            </div>

            <div class="flex-content-wrap" style="width:100%;text-align: center;margin: 10px 10px;">
                <button class="border " style="margin: 0 5px;min-width:100px;height:40px;background-color:orangered;" onclick="gitClearWebRepository('gitClearConfirmProgress', 'gitActionResponse', getElm('webFolders').value, getElm('clearWebSite').checked, null)">
                    Clear<div id="gitClearConfirmProgress"></div>
                </button>
                <button class="border " style="margin: 0 5px;min-width:100px;height:40px;background-color:lightgray;" onclick="hideElm('pushInfo'); hideElm('copyInfo'); hideElm('clearInfo'); showElm('gitPullClone'); showElm('gitAction');">
                    Close
                </button>
            </div>
        </div>

        <div class="flex-card card_border" style="display:none;" id="copyInfo">

            <div class="flex-content-wrap" style="margin: 5px 5px;width:100%;min-height:0px;">
                <div class="flex-item-stretch" style="margin-top: -10px;text-align:center;">
                    <strong>Copy Git Folder to WebSite Folder</strong>
                </div>
            </div>

            <div class="flex-content-wrap">
                <label style="width:100%;margin: 5px auto;">Git Folder's</label>
                <button class="border-left" style="height:40px;width:40px;background-color:lightgray;" id="gitFolderRefreshBtn" onclick="gitRefreshGitFolderList('gitFolderRefreshProgress', 'gitActionResponse', getElm('gitRepository').value, 'gitFolders')">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                    </svg>
                    <div id="gitFolderRefreshProgress"></div>
                </button>
                <div class="flex-item-stretch border-right" style="height: 40px;">
                    <select id="gitFolders" style="width:100%;border:none;">
                    </select>
                </div>
            </div>

            <div class="flex-content-wrap">
                <label style="width:100%;margin: 5px auto;">WebSite Folder's</label>
                <button class="border-left" style="height:40px;width:40px;background-color:lightgray;" id="webFolderRefreshBtn" onclick="gitRefreshWebFolderList('webFolderRefreshProgress', 'gitActionResponse', 'webFolders', getElm('webFolders').value)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                    </svg>
                    <div id="webFolderRefreshProgress"></div>
                </button>
                <div class="flex-item-stretch border-right" style="height: 40px;">
                    <select id="webFolders" style="width:100%;border:none;">
                        {{
                            VIEW_GitWebFolderSelect("FolderSelect",
                            "DirSearchPattern": "*",
                            "DirSearchOptionAll": true,
                            "DisplayMode" :"RelativePath")
                        }}
                    </select>
                </div>
            </div>

            <div style="text-align:center;margin-top:10px">
                <input readonly type="checkbox" id="copyOverwriteWebSite" name="copyOverwriteWebSite" title="Overwrite WebSite on Copy">
                <label for="copyOverwriteWebSite" style="padding:7px 0px 0 0px;">
                    Overwrite WebSite
                </label>
                <input readonly type="checkbox" id="copyClearWebSite" name="copyClearWebSite" title="Clear WebSite on Copy">
                <label for="copyClearWebSite" style="padding:7px 0px 0 0px;">
                    Clear WebSite
                </label>
            </div>

            <div class="flex-content-wrap" style="width:100%;text-align: center;margin: 10px 10px;">
                <button class="border " style="margin: 0 5px;min-width:100px;height:40px;background-color:lightgray;" onclick="hideElm('pushInfo'); hideElm('copyInfo'); hideElm('clearInfo'); showElm('gitPullClone'); showElm('gitAction');">
                    Close
                </button>
                <button class="border " style="margin: 0 5px;min-width:100px;height:40px;background-color:lightgray;" onclick="gitCopyWebRepository('gitCopyConfirmProgress', 'gitActionResponse', getElm('gitRepository').value, getElm('gitFolders').value, getElm('webFolders').value, getElm('copyOverwriteWebSite').checked, getElm('copyClearWebSite').checked, null)">
                    Copy<div id="gitCopyConfirmProgress"></div>
                </button>
            </div>

        </div>

    </div>

</div>
