
<script type="text/javascript">

    window.ajaxid = 0

    ready(() => {

        let scanInputElm = getElm('scanInput')
        let scanInputValElm = getElm('scanInputVal')
        let loginIdElm = getElm('loginId')
        let loginPwdElm = getElm('loginPwd')
        let loginSubmitElm = getElm('loginSubmit')

        scanInputElm.addEventListener('keypress', function (event) {
            let key = event.which || event.keyCode
            if (key === 13) { // 13 is enter
                if (scanInputVal.value.length == 0) {
                    loginIdElm.value = scanInputElm.value
                    scanInputVal.value = scanInputElm.value
                    scanInputElm.value = ""
                    scanInputElm.focus()
                } else {
                    loginPwdElm.value = scanInputElm.value
                    scanInputElm.value = ""
                    scanInputVal.value = ""
                    loginSubmitElm.click()
                }
            }
        })

        loginIdElm.addEventListener('keypress', function (event) {
            let key = event.which || event.keyCode
            if (key === 13) { // 13 is enter
                loginPwdElm.focus()
            }
        })

        loginPwdElm.addEventListener('keypress', function (event) {
            let key = event.which || event.keyCode
            if (key === 13) { // 13 is enter
                loginSubmitElm.click()
            }
        })

        haveLoginUser('loginProgress', 'loginResponse', 'haveUserInfo', function () {
            setFocus(getElm('loginId'), 1000)
        }, function () {
            setFocus(getElm('loginId'), 1000)
        })
    })

    function haveLoginUser(progressElmId, responseElmId, targetElmId, successCallback, failureCallback) {
        let id = window.ajaxid++

        let responseContainerElmId = responseElmId + "Container"
        let responseElm = getElm(responseElmId)
        let responseContainerElm = getElm(responseContainerElmId)
        responseElm.innerHTML = ""
        hideElm(responseContainerElmId)

        let valid = true

        if (valid === true) {

            let isRealtime = false
            let realtimeDomain = ""

            let apiUrl = "/AppApi/WebApi"
            let apiMethod = "HaveLoginUser"

            let apiParams = {
            }

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId)

                if (result.hasOwnProperty('message') === true) {
                    //showText(responseElm, result.message, 'green');

                    if (result.hasOwnProperty('status') === true) {
                        if (result.status == false) {
                            let targetElm = getElm(targetElmId)
                            if (targetElm) {
                                targetElm.style.display = "block"
                            }

                            if (typeof (failureCallback) === "function") {
                                failureCallback()
                            }

                        } else {
                            if (typeof (successCallback) === "function") {
                                successCallback()
                            }
                        }

                    }
                }
            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "")

        }
        return false
    }

    function webLoginUser(progressElmId, responseElmId, loginIdVal, loginPasswordVal, loginRememberVal, redirectUrl, successCallback, failureCallback) {
        let id = window.ajaxid++
        let responseContainerElmId = responseElmId + "Container"
        let responseElm = getElm(responseElmId)
        let responseContainerElm = getElm(responseContainerElmId)
        responseElm.innerHTML = ""
        hideElm(responseContainerElmId)

        let valid = true

        if (loginIdVal.trim().length === 0) {
            showText(responseElm, 'Enter Login Id', 'red')
            valid = false
        }

        if (valid === true) {
            if (loginPasswordVal.trim().length === 0) {
                showText(responseElm, 'Enter Login Password', 'red')
                valid = false
            }
        }

        let rememberMe = false
        if (loginRememberVal === "on") rememberMe = true
        if (loginRememberVal == - true) rememberMe = true

        if (valid === true) {

            let isRealtime = false
            let realtimeDomain = ""

            let apiUrl = "/AppApi/WebApi" + window.location.search
            let apiMethod = "DoWebValidateUser"

            let jsonInput = {
                "request type": "User",
                "sub type": "Login",
                "data": {
                    "UserPwd": loginPasswordVal,
                },
                "filter": { "UserId": loginIdVal }
            }

            let apiParams = {
                "userId": loginIdVal,
                "userPassword": loginPasswordVal,
                "rememberMe": rememberMe,
                "jsonInput": jsonInput
            }

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId)

                if (result.hasOwnProperty('data') === true) {
                    redirectUrl = result.data
                }
                                
                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red')
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green')
                }

                if (result.hasOwnProperty('status') === true) {
                    if (result.status == true) {

                        if (typeof isOnlyRootGET === "function") {
                            setTimeout(function () {
                                refreshComponentViews(progressElmId, responseElmId, redirectUrl)
                            }, 1000)
                        } else {
                            if (redirectUrl) {
                                setTimeout(function () {
                                    window.location.replace(redirectUrl)
                                }, 1000)
                            } else {
                                setTimeout(function () {
                                    window.location.reload(true)
                                }, 1000)
                            }
                        }
                    }
                }

            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "")
        }
        return false
    }

    function webForgotPassword(progressElmId, responseElmId, loginIdVal, successCallback, failureCallback) {
        let id = window.ajaxid++
        let responseContainerElmId = responseElmId + "Container"
        let responseElm = getElm(responseElmId)
        let responseContainerElm = getElm(responseContainerElmId)
        responseElm.innerHTML = ""
        hideElm(responseContainerElmId)

        let valid = true

        if (loginIdVal.trim().length === 0) {
            showText(responseElm, 'Enter Login Id', 'red')
            valid = false
        }

        if (valid === true) {

            let isRealtime = false
            let realtimeDomain = ""

            let apiUrl = "/AppApi/WebApi" + window.location.search
            let apiMethod = "DoWebForgotPassword"

            let jsonInput = {
                "request type": "User",
                "sub type": "ForgotPassword",
                "data": {
                },
                "filter": { "UserId": loginIdVal }
            }

            let apiParams = {
                "userId": loginIdVal,
                "jsonInput": jsonInput
            }

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId)

                if (result.hasOwnProperty('data') === true) {
                    redirectUrl = result.data
                }
                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red')
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green')
                }
            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "")
        }
        return false
    }

</script>

<style>
    .avatar {
        padding-bottom: 10px;
    }

        .avatar img {
            padding: 0px;
            background: #fff;
            border-radius: 1rem;
            /*border-radius: 50%;*/
            -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
            box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
        }
</style>

<div class="ar-flex-content-center" style="min-height:calc(100vh - 110px);">

    <div class="ar-flex-card ar-card-border" style="text-align:center;width:80%;">

        <figure class="avatar" style="text-align:center;margin: 0 auto;">
            <img src="/Resource/account/logo_login.png" style="max-width:100%;" />
        </figure>

        <div class="ar-flex-item-stretch" id="haveUserInfo" style="text-align:center;display:none;">
            No login user found, the first user will become the admin user
        </div>

        <div class="ar-flex-input-wrap" style="margin: 5px 0px;display:none;">
            <input id="scanInputVal" type="hidden" />
            <input class="ar-flex-item-stretch ar-border" id="scanInput" autocomplete="off" type="text" placeholder="Your Scan Input" autofocus="">
        </div>

        <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
            <label style="width:100%;">User Id</label>
            <div class="ar-border-left" style="width: 25px; height: 40px; background-color: gray;" onclick="let elm = getElm('loginId'); elm.value = ''; elm.focus();">
                <div>&nbsp;</div>
            </div>
            <input class="ar-input ar-flex-item-stretch ar-border-top-bottom" id="loginId" autocomplete="off" type="email" placeholder="Your User Id" autofocus="" tabindex="1">
            <button class="ar-border-right ar-button" disabled="disabled" style="width:25px;background-color:gray;" id="linkLoginBtn" onclick="toggleElm('linkLoginBtnDiv'); ">
                &nbsp;
            </button>
        </div>

        <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
            <label style="width:100%;">Password</label>
            <div class="ar-border-left" style="width:25px;background-color:gray;" onclick="let elm = getElm('loginPwd'); elm.value = ''; elm.focus();">
                <div>&nbsp;</div>
            </div>
            <input class="ar-input ar-flex-item-stretch ar-border-right" id="loginPwd" autocomplete="off" type="password" placeholder="Your Password" tabindex="2">
        </div>

        <div style="text-align:center;margin-top:10px;display:none;">
            <input readonly type="checkbox" checked="checked" id="loginRemember" name="loginRemember" title="Remember the Login" tabindex="3">
            <label for="loginRemember" style="padding:7px 0px 0 0px;">
                Remember Me
            </label>
        </div>

        <div style="text-align:right;margin-right:10px;">
            <button class="ar-button ar-border" style="background-color:lightgray" tabindex="5"
                    onclick="return webForgotPassword('forgotPasswordProgress', 'loginResponse', getElm('loginId').value);">
                Forgot Password? <span id="forgotPasswordProgress"></span>
            </button>
        </div>

        <div class="ar-notification" id="loginResponseContainer" style="text-align:center;display:none;margin:5px 10px;">
            <button class="ar-delete" onclick="hideElm('loginResponseContainer')"></button>
            <div id="loginResponse"></div>
        </div>

        <div class="ar-flex-content-wrap" style="margin: 15px 0px;">
            <button class="ar-button ar-border" id="loginSubmit" style="background-color:#209cee; color:black; width:100px;" tabindex="4"
                    onclick="return webLoginUser('loginProgress', 'loginResponse', getElm('loginId').value, getElm('loginPwd').value, getElm('loginRemember').checked, '');">
                Login <span id="loginProgress"></span>
            </button>
        </div>

    </div>

</div>
