
<script type="text/javascript">

    function clearAppCloneMessage(responseElmId) {
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);
    }

    function clearAppCloneDetailsMessage(responseElmId) {
        getElm(responseElmId).innerHTML = '';
    }

    function appCloneSelectAll(regionTargetElmId, checkedState) {
        var regionCheckboxes = document.getElementsByName(regionTargetElmId);
        for (var i = 0; i < regionCheckboxes.length; i++) {
            regionCheckboxes[i].checked = checkedState;
        }
    }

    function retrieveAppCloneInfo(progressElmId, responseElmId, cloneAppName, appOrganisationSelectElmId, appNameElmId, appImageSelectElmId, appTagElmId, cloneReferenceRegionTemplateElmId, cloneReferenceRegionTargetElmId, cloneRegionTemplateElmId, cloneRegionTargetElmId, cloneMaxRegionsPerAppElmId, cloneMaxMachinesPerAppElmId, cloneMaxMachinesPerRegionElmId, cloneEnvInitialTimeoutElmId, cloneEnvIdleTimeoutElmId, cloneEnvAutoDestroyAfterXMinElmId, cloneOptionsDivElmId,  doCloneBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;

        let apiToken = "";
        if (haveElm('appAPIToken') == true) {
            apiToken = getElm('appAPIToken').value;
        }
        //if (apiToken.length == 0) {
        //    showText(responseElm, 'Enter the API Token', 'red');
        //    valid = false;
        //}

        if (valid === true) {

            getElm(doCloneBtnElmId).setAttribute("disabled", true);

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/ServerApi';
            let apiMethod = 'RetrieveCloneInfo';

            let apiParams = {
                "apiToken": apiToken,
                "cloneAppName": cloneAppName
            };

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');

                    getElm(doCloneBtnElmId).removeAttribute("disabled");


                }
                //else if (result.hasOwnProperty('message') === true) {
                //    showText(responseElm, result.message, 'green');

                //    if (typeof successCallback === "function") {
                //        successCallback();
                //    }
                //}
                else {

                    if (result.hasOwnProperty('AppName') === true) {
                        getElm(appNameElmId).value = result.AppName;
                    }
                    getElm(appTagElmId).value = "latest";

                    if (result.hasOwnProperty('MaxRegionsPerApp') === true) {
                        getElm(cloneMaxRegionsPerAppElmId).value = result.MaxRegionsPerApp;
                    }
                    if (result.hasOwnProperty('MaxMachinesPerApp') === true) {
                        getElm(cloneMaxMachinesPerAppElmId).value = result.MaxMachinesPerApp;
                    }
                    if (result.hasOwnProperty('MaxMachinesPerRegion') === true) {
                        getElm(cloneMaxMachinesPerRegionElmId).value = result.MaxMachinesPerRegion;

                        if (result.MaxMachinesPerRegion == 1) {
                            hideElm(cloneOptionsDivElmId);
                        } else {
                            hideElm(cloneOptionsDivElmId);
                        }
                    }

                    if (result.hasOwnProperty('MinInitialShutdownTimeInSec') === true) {
                        getElm(cloneEnvInitialTimeoutElmId).value = result.MinInitialShutdownTimeInSec;
                    }
                    if (result.hasOwnProperty('MinIdleShutdownTimeInSec') === true) {
                        getElm(cloneEnvIdleTimeoutElmId).value = result.MinIdleShutdownTimeInSec;
                    }
                    if (result.hasOwnProperty('AutoDestroyAfterXMin') === true) {
                        getElm(cloneEnvAutoDestroyAfterXMinElmId).value = result.AutoDestroyAfterXMin;
                    }

                    if (result.hasOwnProperty("OrgList") === true) {
                        let orgList = result.OrgList;

                        let selectElm = getElm(appOrganisationSelectElmId);
                        if (selectElm) {
                            selectElm.options.length = 0;

                            for (var i = 0; i < orgList.length; i++) {
                                let orgInfo = orgList[i];
                                let orgName = "";
                                if (orgInfo.hasOwnProperty('name') === true) {
                                    orgName = orgInfo.name
                                }
                                let orgSlug = "";
                                if (orgInfo.hasOwnProperty('slug') === true) {
                                    orgSlug = orgInfo.slug
                                }
                                let isPersonal = false;
                                if (orgSlug == "personal") isPersonal = true;
                                
                                if (isPersonal == true) {
                                    selectElm.options[selectElm.options.length] = new Option(orgSlug, orgSlug, true, true);
                                } else {
                                    selectElm.options[selectElm.options.length] = new Option(orgSlug, orgSlug, false, false);
                                }
                            }
                        }

                    }

                    if (result.hasOwnProperty("DockerList") === true) {
                        let dockerList = result.DockerList;

                        let selectElm = getElm(appImageSelectElmId);
                        if (selectElm) {
                            selectElm.options.length = 0;

                            for (var i = 0; i < dockerList.length; i++) {
                                let dockerInfo = dockerList[i];
                                let dockerName = "";
                                if (dockerInfo.hasOwnProperty('DockerName') === true) {
                                    dockerName = dockerInfo.DockerName
                                }
                                let dockerImage = "";
                                if (dockerInfo.hasOwnProperty('DockerImage') === true) {
                                    dockerImage = dockerInfo.DockerImage
                                }
                                let isAppImage = false;
                                if (dockerInfo.hasOwnProperty('IsAppImage') === true) {
                                    isAppImage = dockerInfo.IsAppImage
                                }
                                if (isAppImage == true) {
                                    selectElm.options[selectElm.options.length] = new Option(dockerName, dockerImage, true, true);
                                } else {
                                    selectElm.options[selectElm.options.length] = new Option(dockerName, dockerImage, false, false);                                    
                                }
                            }
                        }

                    }

                    if (result.hasOwnProperty("CloneReferenceRegionList") === true) {
                        let cloneReferenceRegionList = result.CloneReferenceRegionList;

                        let cloneReferenceRegionTemplateElm = getElm(cloneReferenceRegionTemplateElmId);
                        let cloneReferenceRegionTemplateHtml = cloneReferenceRegionTemplateElm.innerHTML;

                        let cloneReferenceRegionTemplate = "";

                        for (var i = 0; i < cloneReferenceRegionList.length; i++) {
                            let regionInfo = cloneReferenceRegionList[i];

                            let regionName = "";
                            if (regionInfo.hasOwnProperty('Region') === true) {
                                regionName = regionInfo.Region
                            }
                            let cloneRegion = false;
                            if (regionInfo.hasOwnProperty('Status') === true) {
                                cloneRegion = regionInfo.Status
                            }
                            let regionText = regionName;
                            if (regionInfo.hasOwnProperty('MachineCount') === true) {
                                regionText = regionText + "[" + regionInfo.MachineCount + "]";
                            }

                            let cloneReferenceRegionTemplateItem = cloneReferenceRegionTemplateHtml;
                            if (cloneRegion == false) {
                                cloneReferenceRegionTemplateItem = cloneReferenceRegionTemplateItem.replace(/checked="checked"/g, "")
                            }
                            if (result.hasOwnProperty('AppName') === true) {
                                cloneReferenceRegionTemplateItem = cloneReferenceRegionTemplateItem.replace(/{AppName}/g, result.AppName)
                            }
                            cloneReferenceRegionTemplateItem = cloneReferenceRegionTemplateItem.replace(/{RegionName}/g, 'cloneReferenceRegion')
                            cloneReferenceRegionTemplateItem = cloneReferenceRegionTemplateItem.replace(/{Region}/g, regionName)
                            cloneReferenceRegionTemplateItem = cloneReferenceRegionTemplateItem.replace(/{RegionText}/g, regionText)

                            cloneReferenceRegionTemplate = cloneReferenceRegionTemplate + cloneReferenceRegionTemplateItem;
                        }

                        let cloneReferenceRegionTargetElm = getElm(cloneReferenceRegionTargetElmId);
                        cloneReferenceRegionTargetElm.innerHTML = cloneReferenceRegionTemplate;
                    }

                    if (result.hasOwnProperty("CloneRegionList") === true) {
                        let cloneRegionList = result.CloneRegionList;

                        let cloneRegionTemplateElm = getElm(cloneRegionTemplateElmId);
                        let cloneRegionTemplateHtml = cloneRegionTemplateElm.innerHTML;

                        let cloneRegionTemplate = "";

                        for (var i = 0; i < cloneRegionList.length; i++) {
                            let regionInfo = cloneRegionList[i];
                            let regionName = "";
                            if (regionInfo.hasOwnProperty('Region') === true) {
                                regionName = regionInfo.Region
                            }
                            let cloneRegion = false;
                            if (regionInfo.hasOwnProperty('Status') === true) {
                                cloneRegion = regionInfo.Status
                            }
                            let regionText = regionName;

                            let cloneRegionTemplateItem = cloneRegionTemplateHtml;
                            if (cloneRegion == false) {
                                cloneRegionTemplateItem = cloneRegionTemplateItem.replace(/checked="checked"/g, "")
                            }
                            cloneRegionTemplateItem = cloneRegionTemplateItem.replace(/{RegionName}/g, 'cloneRegion')
                            cloneRegionTemplateItem = cloneRegionTemplateItem.replace(/{Region}/g, regionName)
                            cloneRegionTemplateItem = cloneRegionTemplateItem.replace(/{RegionText}/g, regionText)

                            cloneRegionTemplate = cloneRegionTemplate + cloneRegionTemplateItem;
                        }

                        let cloneRegionTargetElm = getElm(cloneRegionTargetElmId);
                        cloneRegionTargetElm.innerHTML = cloneRegionTemplate;
                    }

                    if (result.hasOwnProperty('AppCountPerTeam') === true) {
                        getElm('clonePerTeam').innerHTML = result.AppCountPerTeam;
                    }
                    if (result.hasOwnProperty('MaxAppCountPerTeam') === true) {
                        getElm('maxClonePerTeam').innerHTML = result.MaxAppCountPerTeam;
                    }
                    if (result.hasOwnProperty('AppCountPerDay') === true) {
                        getElm('clonePerDay').innerHTML = result.AppCountPerDay;
                    }
                    if (result.hasOwnProperty('MaxAppCountPerDay') === true) {
                        getElm('maxClonePerDay').innerHTML = result.MaxAppCountPerDay;
                    }
                    if (result.hasOwnProperty('AppCountPerHour') === true) {
                        getElm('clonePerDay').innerHTML = result.AppCountPerHour;
                    }
                    if (result.hasOwnProperty('MaxAppCountPerHour') === true) {
                        getElm('maxClonePerHour').innerHTML = result.MaxAppCountPerHour;
                    }


                    getElm(doCloneBtnElmId).removeAttribute("disabled");

                    if (typeof successCallback === "function") {
                        successCallback();
                    }

                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }

    function deleteCloneApp(progressElmId, responseElmId, appNameVal, deleteCloneAppBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;

        if (valid == true) {
            if (appNameVal.length == 0) {
                showText(responseElm, 'App Name Cannot be Empty', 'red');
                valid = false;
            }
        }

        let apiToken = "";
        if (haveElm('appAPIToken') == true) {
            apiToken = getElm('appAPIToken').value;
        }
        //if (regionList.length == 0) {
        //    showText(responseElm, 'Enter the API Token', 'red');
        //    valid = false;
        //}

        if (valid === true) {

            getElm(deleteCloneAppBtnElmId).setAttribute("disabled", true);

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/ServerApi';
            let apiMethod = 'DeleteApp';

            let apiParams = {
                "apiToken": apiToken,
                "appName": appNameVal                
            };

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');

                    getElm(deleteCloneAppBtnElmId).removeAttribute("disabled");

                    if (typeof failureCallback === "function") {
                        failureCallback();
                    }
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green');

                    if (typeof successCallback === "function") {
                        successCallback();
                    }
                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }

    function cloneApp(progressElmId, responseElmId, newAppNameVal, newAppOrganizationVal, newAppNetworkVal, appNameVal, appImageVal, appTagVal, cloneReferenceRegionTargetElmName, cloneRegionTargetElmName, envInitialTimeoutVal, envIdleTimeoutVal, envLoadAppDataVal, envAutoDestroyAfterXMinVal, machineCountPerRegionVal,  doCloneBtnElmId, cloneMaxMachinesPerRegionElmId, detailResponseElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;

        if (valid == true) {
            if (newAppNameVal.length == 0) {
                showText(responseElm, 'New App Name Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (newAppOrganizationVal.length == 0) {
                showText(responseElm, 'New App Organisation Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (appNameVal.length == 0) {
                showText(responseElm, 'Clone App Name Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (appImageVal.length == 0) {
                showText(responseElm, 'Clone App Image Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (appTagVal.length == 0) {
                showText(responseElm, 'Clone App Image Tag Cannot be Empty', 'red');
                valid = false;
            }
        }

        let cloneReferenceRegion = "";
        var cloneReferenceRegionRadios = document.getElementsByName(cloneReferenceRegionTargetElmName);
        for (var i = 0; i < cloneReferenceRegionRadios.length; i++) {
            // And stick the checked ones onto an array...
            if (cloneReferenceRegionRadios[i].checked) {
                cloneReferenceRegion = cloneReferenceRegionRadios[i].value;
            }
        }

        if (valid == true) {
            if (cloneReferenceRegion.length == 0) {
                showText(responseElm, 'Select at least 1 Reference Region from Clone App', 'red');
                valid = false;
            }
        }

        let cloneRegionList = [];
        var cloneRegionCheckboxes = document.getElementsByName(cloneRegionTargetElmName);
        for (var i = 0; i < cloneRegionCheckboxes.length; i++) {
            // And stick the checked ones onto an array...
            if (cloneRegionCheckboxes[i].checked) {
                cloneRegionList.push(cloneRegionCheckboxes[i].value);
            }
        }

        if (valid == true) {
            if (cloneRegionList.length == 0) {
                showText(responseElm, 'Select 1 Clone Region only and latter deploy to multiple region', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (cloneRegionList.length > 1) {
                showText(responseElm, 'Select only 1 Clone Region and latter deploy to multiple region', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (machineCountPerRegionVal == "") {
                showText(responseElm, 'Specifiy Clone Machine Count Per Region', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (machineCountPerRegionVal != 1) {
                showText(responseElm, 'Specifiy 1 Clone Machine Count Per Region only and latter during deploy add additional machines', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (machineCountPerRegionVal > getElm(cloneMaxMachinesPerRegionElmId).value) {
                showText(responseElm, 'Clone Machine Count cannot be Greater than Max Machine Count Per Region', 'red');
                valid = false;
            }
        }

        let apiToken = "";
        if (haveElm('appAPIToken') == true) {
            apiToken = getElm('appAPIToken').value;
        }
        //if (regionList.length == 0) {
        //    showText(responseElm, 'Enter the API Token', 'red');
        //    valid = false;
        //}

        if (valid === true) {

            getElm(doCloneBtnElmId).setAttribute("disabled", true);

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/ServerApi';
            let apiMethod = 'CloneApp';

            let apiParams = {
                "apiToken": apiToken,
                "newAppName": newAppNameVal,                
                "newAppOrganization": newAppOrganizationVal,
                "newAppNetwork": newAppNetworkVal,
                "appName": appNameVal,
                "imageName": appImageVal,
                "tagName": appTagVal,
                "referenceRegion": cloneReferenceRegion,
                "cloneRegions": cloneRegionList,
                "cloneMachineCountPerRegion": machineCountPerRegionVal,
                "envInitialTimeout": envInitialTimeoutVal,
                "envIdleTimeout": envIdleTimeoutVal,
                "envLoadAppData": envLoadAppDataVal,
                "envAutoDestroyAfterXMin": envAutoDestroyAfterXMinVal
            };

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');
                    getElm(doDeployBtnElmId).removeAttribute("disabled");

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('errorJson') === true) {
                        let errorJson = result.errorJson;
                        for (let i = 0; i < errorJson.length; i++) {
                            messageNo++;
                            let messageObj = errorJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green');

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('messageJson') === true) {
                        let messageJson = result.messageJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:green'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    if (result.hasOwnProperty('warnJson') === true) {
                        let messageJson = result.warnJson;
                        for (let n = 0; n < messageJson.length; n++) {
                            messageNo++;
                            let messageObj = messageJson[n];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
                else if (result.hasOwnProperty('warn') === true) {
                    showText(responseElm, result.warn, 'red');

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('warnJson') === true) {
                        let messageJson = result.warnJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }

</script>

