
<script type="module">
    import { reactive, html } from '/Resource/Arshu/arrowjs/index.min.mjs'

    const data = reactive({
        location: "World",
        ordered: true
    })

    const appElement = document.getElementById('app')

    const template1 = html`Hello <em>World</em>`

    //template1(appElement)

    const template2 = html`
      <ul>
        <li>Hello ${data.location} (static expression)</li>
        <li>Hello ${() => data.location} (dynamic expression)</li>
      </ul>`

    //template2(appElement)

    data.location = "Mars"

    const upload = reactive({
        progress: 0
    })

    const updateProgress = () => setInterval(
        () => upload.progress++ && upload.progress < 100 && updateProgress()
        , 200)

    const template3 = html`<progress value="${() => upload.progress}" max="100"></progress>`

    //template3(appElement)

    updateProgress()

</script>

