<script type="module">
    import { reactive, watch } from '/Resource/Arshu/arrowjs/index.min.mjs'

    const data = reactive({
        price: 25,
        quantity: 10,
        logTotal: true
    })

    function total() {
        if (data.logTotal) {
            console.log(`Total: ${data.price * data.quantity}`)
        }
    }

    watch(
        () => data.logTotal && data.price * data.quantity,
        (total) => total !== false && console.log(`Total: ${total}`)
    )

    data.price = 35

</script>
