<div class="ar-flex-item-stretch" style="margin: 10px 10px;text-align:center;">
    <h2>Data (Html + Json) ViewID Components with ViewPlaceHolder for Testing Hot Reload</h2>
</div>

<div style="margin: 10px 10px;text-align:center;">

    {{RealtimeAction}}

    <script type="text/javascript">
        function getRealtime() {
            return getElm('{{$ViewParentID}}RealtimeRefresh').checked;
        }

        function getRealtimeDomain() {
            return getElm('{{$ViewParentID}}RealtimeRefreshDomain').value;
        }
    </script>
</div>

{{refresh_componentrootwithoutid}}

<hr class="ar-flex-item-stretch" style="background-color:black;margin: 10px 10px" />

<div class="ar-flex-item-stretch" style="margin: 10px 10px;text-align:center;">
    <h2>Data (Html + Json) ViewID Components with Nested ViewPlaceHolder for Testing Hot Reload</h2>
</div>

{{refresh_componentrootwithid}}

<hr class="ar-flex-item-stretch" style="background-color:black;margin: 10px 10px" />

{{refresh_subsubcomponentwithid}}