<div class="flex-input-wrap" style="margin: 5px 0px;width:100%;">
    <label for="{{$EditorItemKey}}" style="width:100%;">{{$EditorItemName}}</label>
    <input class="flex-item-stretch border" style="background-color:#efefef;"
        id="{{$EditorItemKey}}"
        placeholder="{{$EditorItemInfo}}" 
        oninput="if (this.value.length >{{$ConfigValueInt}}) this.value = this.value.slice(0, {{$ConfigValueInt}});"
        value="{{$EditorItemValue}}" 
        data-key="{{$EditorItemKey}}" 
        data-value="{{$EditorItemValue}}" 
        type="number" readonly>
</div>