<div class="ar-flex-input-wrap" style="margin: 5px 0px;width:100%;">
    <label for="{{$EditorItemKey}}" style="width:100%;">{{$EditorItemName}}</label>
    <input class="ar-flex-item-stretch ar-border" 
        id="{{$EditorItemKey}}"
        placeholder="{{$EditorItemInfo}}" 
        oninput="if (this.value.length >{{$ConfigValueInt}}) this.value = this.value.slice(0, {{$ConfigValueInt}});"
        value="{{$EditorItemValue}}" 
        data-key="{{$EditorItemKey}}"
        type="number">
</div>