<div class="border" style="text-align:center; margin: 10px; padding: 10px; border-color: green; border-width: 5px;">
    {{ViewPlaceHolder}}
    <div style="position:relative;">
        <button style="position:absolute; right:-10px;margin-top:-10px;width:25px;height:25px;background-color: transparent;text-align:center;vertical-align:middle;" onclick="showComponentSourceViewer('mergeHtmlJsonArrayShowProgress',  '{{$AppSite}}', '{{$AppView}}', '{{$ViewID}}', true)">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
            </svg><div id="mergeHtmlJsonArrayShowProgress"></div>
        </button>
    </div>
    <div class="flex-item-stretch" style="width: 100%; font: italic 12px bold verdana; color: red;">
        Refreshes the Current Component having the View ID with Child Components
    </div>
    <div class="flex-item-stretch" style="width: 100%;">
        <span style="font-size:xx-small">ViewID:[{{$ViewID}}] ParentViewID:[{{$ParentViewID}}] NextParentViewID:[{{$NextParentViewID}}]</span>
    </div>
    <div class="flex-item-stretch" style="width:100%;">
        <p>Refresh Html Component with ID at <span style="color: green">{{$DateTimeUTC}}</span></p>
    </div>
    {{RealtimeAction}}
    <div style="text-align:center;">
        <button class="border" title="ViewID={{$ViewID}},ParentViewID={{$ParentViewID}}" style="width:40px;height:40px;"
                onclick="refreshViewComponentHtml('progress', 'response',
                '{{$AppSite}}', '{{$AppView}}', '{{$ViewID}}',
                {}, false, getElm('{{$ViewID}}RealtimeRefresh').checked,
                getRealtimeDomain('{{$RootDomain}}', '{{$SubDomain}}', getElm('{{$ViewID}}RealtimeRefreshDomain').value), '')">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path></svg>
        </button>
    </div>
    <div class="flex-item-stretch" style="width:100%;">
        <p>{{$JsonComponentText}} for <span style="color: blue">{{$ViewID}}</span></p>
    </div>

    <div class="flex-item-stretch" style="width:100%;">
        {{Refresh_SubComponentWithoutID}}
    </div>
</div>

