<div class="flex-input-wrap" style="margin: 5px 0px;width:100%;">
    <label for="{{$EditorItemKey}}" style="width:100%;">{{$EditorItemName}}</label>
    <select class="flex-item-stretch border"
            name="{{$EditorItemKey}}"
            data-key="{{$EditorItemKey}}"
            data-value="{{$EditorItemValue}}">
            {{@EditorItemList}}
            <option value="{{$EditorListItemMatchValue}}" {{@EditorListItemMatchName}} selected {{/EditorListItemMatchName}}>
                {{$EditorListItemText}}
            </option>
            {{/EditorItemList}}
    </select>
</div>
