
<div class="container" style="border: 0px solid black;padding: 50px 5px 10px 5px;text-align:center;">
    <div style="text-align:center;color:red;">
        <h2>{{$OpenStartupWhyHeading}}</h2>
    </div>
    <div class="animated zoomIn" style="text-align:center;padding: 15px 5px 5px 5px;">
        <h4>{{$OpenStartupWhyTitle}}</h4>
    </div>
    <div class="animated zoomIn" style="text-align:center;">
        <h1>{{$OpenStartupWhySubTitle}}</h1>
    </div>
    <div style="text-align:center;">
        <p>
            {{$OpenStartupWhytHelp}}
        </p>
    </div>
    <div style="text-align:center; max-width:400px;padding:10px 10px;margin:0 auto;">
        <p style="text-align:center;margin:0 auto;">
            {{$OpenStartupWhyInfo}}
        </p>
    </div>
</div>




