
<div class="container" style="border: 0px solid green;">

    <h2 style="text-align:center;color:blue;">{{$OpenStartupIdeasTitle}}</h2>
    <p class="card-text" style="text-align:center">{{$OpenStartupIdeasSubTitle}}</p>

    <div class="flex-content-wrap" style="text-align:center;margin-top:25px;">

        {{@OpenStartupIdeasList}}
        <div class="flex-item-card card_border" style="margin:10px;">
            <div class="card_title">{{$IdeaTitle}}</div>
            <p class="card_text">{{$IdeaSubTitle}}</p><br/>
            <p class="card_text" style="color:red;">
                {{$IdeaTerms}}
            </p>
            <p class="card_text">
                {{$IdeaInfo}}
            </p>
            {{$IdeaIcon}}
            <p class="card_text">
                {{$IdeaObjective}}
            </p>
        </div>
        {{/OpenStartupIdeasList}}

    </div>

</div>


