
<div class="ar-flex-center-item" style="text-align:center;margin:0 auto;min-height:100px;">

    <h1 class="text-2xl" title="{{$FLY_APP_NAME}}, {{$FLY_REGION}}"><a style="color:darkred;" href="https://github.com/Arshu/ArshuWeb">Url Speed Test <img style="width: 16px; display: inline" src="/Resource/Arshu/logos/github.svg" /></a><sup>α</sup></h1>

    <hr style="max-width:80%;" />

    <div>using Arshu Declarative <a style="color:darkred;" href="/Markdown/ArshuPolyglotWeb"> Html + Json assembler </a> side project</div>
    <div>on multi-region scale to zero <a style="color:darkred;" href="/Markdown/ArshuUsageBasedCloud">usage based</a> infrastructure</div>
    <div>for <a style="color:darkred;" href="/Markdown/ArshuSubscriptionFreelance">subscription based freelancing</a> side project</div>

    <hr style="max-width:80%;" />

    <div style="margin:10px 10px;">
        {{CurlCmdSimple}}
    </div>

</div>
