<div>
    <div class="container" style="border: 0px solid green;">

        <h2 style="text-align:center">{{$AppWebUseCaseTitle}}</h2>
        <p class="card-text" style="text-align:center">{{$AppWebUseCaseSubTitle}}</p>

        <div class="flex-content-wrap" style="text-align:center;margin-top:25px;">

            {{@UseCaseList}}
            <div class="flex-item-card card_border" style="text-align:center;margin:5px;">
                <div class="card_title">{{$UseCaseTitle}}</div>
                {{$UseCaseIcon}}
                <p class="card_text">
                    {{$UseCaseInfo}}
                </p>
            </div>
            {{/UseCaseList}}

        </div>

    </div>
</div>