<div class="ar-flex-input-wrap" style="margin: 5px 0px;width:100%;position:relative;">
    <label for="{{$EditorItemKey}}" style="width:100%;">{{$EditorItemName}}</label>
    <input class="ar-flex-item-stretch ar-border"
        name="{{$EditorItemKey}}"
        placeholder="{{$EditorItemInfo}}"
        maxlength="{{$ConfigValueInt}}"
        value="{{$EditorItemValue}}"
        data-key="{{$EditorItemKey}}"
        data-value="{{$EditorItemValue}}"
        type="Date">
    <input type="radio" style="position:absolute;right:0px;top:19px;" id="Radio{{$EditorItemKey}}" name="{{$EditorKeyPath}}">
</div>