<!--PageTitle = Arshu Realtime -->
{{HTMLPLACEHOLDER}}

<div class="flex-item-stretch" style="margin: 10px 10px;text-align:center;">
    <h2>{{$HotReloadTitle}}</h2>
</div>

{{refresh_componentroot}}

<hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />

<div class="flex-item-stretch" style="margin: 10px 10px;text-align:center;">
    <h2>Data (Html + Json) ViewID Components with Nested ViewPlaceHolder for Testing Hot Reload</h2>
</div>

{{refresh_componentrootwithid}}

<hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />

