{{@ShowDefaultFooter}}
<div style="{{$NavBarBackgroundStyle}};min-height: 3vh;padding: 15px 20px; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center; justify-content: center;">
    <div style="width: auto;">
        <a style="text-align: center;text-decoration:none;" title="{{$ParentViewID}}" href="{{$FooterLink}}">{{$FooterText}}</a>
    </div>
</div>
{{/ShowDefaultFooter}}

<script src="/Resource/app/js/main.min.js"></script>
