<div class="ar-flex-input-wrap" style="margin: 5px 0px;width:100%;">
    <label for="{{$EditorItemID}}" style="width:100%;">{{$EditorItemName}}</label>
    <input class="ar-flex-item-stretch ar-border" style="background-color:#efefef;"
           id="{{$EditorItemKey}}"
           placeholder="{{$EditorItemInfo}}"
           maxlength="{{$ConfigValueInt}}"
           value="{{$EditorItemValue}}"
           data-key="{{$EditorItemKey}}"
           data-value="{{$EditorItemValue}}"
           type="text" readonly>
</div>