
<script type="text/javascript">

    function logOff(progressElmId, responseElmId, redirectUrl, successCallback, failureCallback) {
        let id = window.ajaxid++
        let responseContainerElmId = responseElmId + "Container"
        let responseElm = getElm(responseElmId)
        let responseContainerElm = getElm(responseContainerElmId)
        responseElm.innerHTML = ""
        hideElm(responseContainerElmId)

        let valid = true

        if (valid === true) {

            let isRealtime = false
            let realtimeDomain = ""

            let apiUrl = "/AppApi/WebApi"
            let apiMethod = "WebLogOff"

            let apiParams = {

            }

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId)

                if (result.hasOwnProperty('status') === true) {
                    if (result.status === true) {

                        if (typeof isOnlyRootGET === "function") {
                            refreshComponentViews(progressElmId, responseElmId, redirectUrl);
                        } else {
                            if (typeof successCallback === "function") {
                                successCallback()
                            } else {
                                if (redirectUrl) {
                                    window.location.href = redirectUrl
                                } else {
                                    window.location.href = "/"
                                }
                            }
                        } 
                    }
                    else {
                        if (typeof isOnlyRootGET === "function") {
                            refreshComponentViews(progressElmId, responseElmId, redirectUrl)
                        } else { 
                            if (typeof failureCallback === "function") {
                                failureCallback()
                            }
                            else {
                                if (redirectUrl) {
                                    window.location.href = redirectUrl
                                } else {
                                    window.location.href = "/"
                                }
                            }
                        }
                    }
                }

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red')
                }
                //else if (result.hasOwnProperty('message') === true) {
                //    showText(responseElm, result.message, 'green');
                //}
            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "")
        }

        return false
    }

    ready(() => {
        let logoffElms = document.querySelectorAll('.logoff')
            if (logoffElms) {
                logoffElms.forEach(function (item) {
                    item.addEventListener("click", function (e) {
                        e.preventDefault();
                        logOff('progress', 'response', "/", null, null);
                        return false
                    })
                })
            }
        });

</script>