
<div id="demoToDo">
    {{!DemoToDo}}
</div>

{{HTMLPLACEHOLDER}}

<div id="intro_list">
    {{!intro_list}}
</div>

<div id="appweb_intro">
    {{!appweb_intro}}
</div>

{{VIEWPLACEHOLDER}}

<script>
    ready(() => {
        let useAjax = true;
        let delayInterval = 10;
        let initialWSDelayInterval = 100;
        let parentViewElmId = "{{$ViewID}}";
        let replaceToDoComponent = "demoToDo";
        let replaceIntroListComponent = "intro_list";
        let replaceIntroAppWebComponent = "appweb_intro";

        //loadViewComponentHtml(false, useAjax, parentViewElmId, replaceToDoComponent, delayInterval, function () {
        //    loadViewComponentHtml(false, !useAjax, parentViewElmId, replaceIntroListComponent, initialWSDelayInterval, function () {
        //        loadViewComponentHtml(false, !useAjax, parentViewElmId, replaceIntroAppWebComponent, delayInterval, null, 'noprogress');
        //    }, 'noprogress');
        //}, 'noprogress');

        loadViewComponentHtml(false, useAjax, parentViewElmId, replaceToDoComponent, delayInterval, function () {
        }, 'noprogress');

        loadViewComponentHtml(false, !useAjax, parentViewElmId, replaceIntroListComponent, initialWSDelayInterval, function () {
            loadViewComponentHtml(false, !useAjax, parentViewElmId, replaceIntroAppWebComponent, delayInterval, null, 'noprogress');
        }, 'noprogress');
    })
</script>

