<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="{{$SiteTitle}}" />

    <link rel="icon" href="/Resource/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="/Resource/favicon.svg" type="image/svg+xml">

    <!-- Kills text zoom in iOS.-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta name="description" content="{{$SiteDescription}}" />
    <meta name="author" content="{{$SiteAuthor}}" />

    <title>{{$SiteTitle}}</title>

</head>
<body style="padding-top:50px;">
    {{MainContent}}
</body>
</html>
