{{#ZoomIn}}
    {{@HTMLPLACEHOLDER}}
        <div style="text-align:center">
            <h4 class="title is-4" style="margin-top:10px;color:red;">{{$Progress Title}}</h4>
            <h1 style="color:gray;">
                {{$Title}}
            </h1>
            <h2 class="title is-2">
                {{$SubTitle}}
            </h2>
            <div style="text-align:center;padding: 15px 15px;">
                <p>
                    {{$Info1 Title}}
                    <br />
                    <small style="color:red;font-size:xx-small">{{$Info1 SubTitle}}</small>
                </p>
            </div>
        </div>       
        <div class="ar-flex-content-wrap" style="text-align: center; max-width: 900px;margin:auto;">
            <img src="/Content/images/staticweb.png" style="width: 100%;" />
        </div>
        <div class="isIOSHide isANDROIDHide isWINHide isWEBShow" style="width: 100%; text-align: center; margin-top: 15px;">
            {{Product Links}}
        </div>
    {{/HTMLPLACEHOLDER}}
{{/ZoomIn}}
