<div class="flex-input-wrap" style="margin: 5px 0px;width:100%;">
    <div class="border" style="width:100%;">
        <label for="{{$EditorItemKey}}" style="margin-top:8px;display:inline-block;">{{$EditorItemName}}</label>
        {{@EditorItemList}}
        <label style="padding:10px 0px 0 5px;">
            <input value="{{$EditorListItemValue}}"                   
                   name="{{$EditorItemKey}}"
                   data-key="{{$EditorItemKey}}"
                   data-value="{{$EditorListItemMatchValue}}"
                   {{@EditorListItemValueMatch}} checked="checked" {{/EditorListItemValueMatch}} type="checkbox">
            {{$EditorListItemText}}
        </label>
        {{/EditorItemList}}
    </div>
</div>
