

<div class="container">

    <div style="position:relative;text-align:center;height:0px;">
        <div id="menuProgress"></div>
    </div>

    <div style="margin:5px; padding:10px;text-align:justify;display:none;" class="notification" id="menuResponseContainer">
        <button class="delete" onclick="hideElm('menuResponseContainer')"></button>
        <div id="menuResponse"></div>
    </div>

    {{ConfigViewPath}}

</div>

<div class="flex-content-wrap">

    {{ConfigViewAuthor}}

    {{ConfigViewUser}}

    {{ConfigViewAdmin}}

</div>

{{ ConfigMenuJS }}


