<script>
    ready(() => {
        triggerEvent('refreshJsonListBtn', 'click');
    });
</script>
<div class="container" style="text-align:center;">
    <div>{{VIEWPLACEHOLDER$}}</div>

    <div class="ar-flex-card ar-card-border">

        <div class="ar-border-left" style="width: 75px;text-align:center; background-color:#efefef;display:none;">
            <select class="ar-select" id="{{$ViewID}}EditorViewMode" style="font-size:x-small;border:none;"
                    onchange="refreshEditorJson('{{$ViewID}}', '{{$ViewID}}JsonEditorProgress', 1, 1, 1)">
                <option value="ReadOnly">Readonly</option>

                {{@AllowUpdateable}}
                <option value="Updatable" selected="selected">Updatable</option>
                {{/AllowUpdateable}}

                {{@AllowEditable}}
                <option value="Editable">Editable</option>
                {{/AllowEditable}}

                {{@AllowModifiable}}
                <option value="Modifiable">Modifiable</option>
                {{/AllowModifiable}}
            </select>
        </div>

        <input type="hidden" id="{{$ViewID}}EditorJsonSourceAppSite" value="{{$AppSite}}" />
        <input type="hidden" id="{{$ViewID}}EditorJsonSourceAppView" value="{{$AppView}}" />

        <button class="ar-button ar-border" style="width:100%;margin:10px 0px;">Update Json Both Record (Key/Value) and Tables (Array)</button>

        <div class="ar-flex-content-wrap">
            <label style="width:100%;">App Sites</label>

            <div class="ar-flex-item-stretch ar-border-left">
                <select class="ar-select" style="width:100%;border:none;" id="selectJsonAppSite">
                    {{AppSiteSelect}}
                </select>
            </div>

            <button class="ar-button ar-border-right" style="width:40px;" id="refreshJsonListBtn"
                    onclick="refreshJsonList('refreshJsonListProgress', '{{$ViewID}}JsonEditorResponse', getElm('selectJsonAppSite').value,
                        'JsonObjectJsonArray', 0, 0, '{{$ViewID}}EditorJsonSource', '{{$ViewID}}EditorJsonItemsPerPage', '{{$ViewID}}PreviousEditJsonBtn', '{{$ViewID}}NextEditorJsonBtn');">
                <svg style="width: 24px;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path></svg>
                <span id="refreshJsonListProgress"></span>
            </button>
        </div>

        <div class="ar-flex-content-wrap">
            <label style="width:100%;">Json Files</label>

            <select id="{{$ViewID}}EditorJsonItemsPerPage" class="ar-select ar-border-left" style="width: 30px; margin: 0px;" disabled
                    onchange="refreshJsonList('refreshJsonListProgress', '{{$ViewID}}JsonEditorResponse', getElm('selectJsonAppSite').value,
                    'JsonObjectJsonArray', 0, getElm('{{$ViewID}}EditorJsonItemsPerPage').value, '{{$ViewID}}EditorJsonSource', '{{$ViewID}}EditorJsonItemsPerPage', '{{$ViewID}}PreviousEditJsonBtn', '{{$ViewID}}NextEditorJsonBtn');">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="100">100</option>
            </select>

            <input type="hidden" id="{{$ViewID}}PreviousEditJsonValue" value="" />
            <button id="{{$ViewID}}PreviousEditJsonBtn" class="ar-button ar-border-top-bottom" style="width:40px;" disabled
                    onclick="refreshJsonList('refreshJsonListProgress', '{{$ViewID}}JsonEditorResponse', getElm('selectJsonAppSite').value,
                    'JsonObjectJsonArray', getElm('{{$ViewID}}PreviousEditJsonValue').value, getElm('{{$ViewID}}EditorJsonItemsPerPage').value, '{{$ViewID}}EditorJsonSource', '{{$ViewID}}EditorJsonItemsPerPage', '{{$ViewID}}PreviousEditJsonBtn', '{{$ViewID}}NextEditorJsonBtn');">
                <strong style="font-weight:bolder;">&lt;</strong> <span id="previousEditorJsonProgress"></span>
            </button>

            <div class="ar-flex-item-stretch ar-border-top-bottom">
                <select class="ar-select" style="width: 100%;border: none;" id="{{$ViewID}}EditorJsonSource"
                        onchange="refreshEditorJson('{{$ViewID}}', '{{$ViewID}}JsonEditorProgress', 'JsonObjectJsonArray', 1, 1, 1, '', '', '', function () { getElm('updateJsonBtn').removeAttribute('disabled'); })">
                </select>
            </div>

            <input type="hidden" id="{{$ViewID}}NextEditorJsonValue" value="" />
            <button id="{{$ViewID}}NextEditorJsonBtn" class="ar-button ar-border-top-bottom" style="width:40px;" disabled
                    onclick="refreshJsonList('refreshJsonListProgress', '{{$ViewID}}JsonEditorResponse', getElm('selectJsonAppSite').value,
                    'JsonObjectJsonArray', getElm('{{$ViewID}}NextEditorJsonValue').value, getElm('{{$ViewID}}EditorJsonItemsPerPage').value, '{{$ViewID}}EditorJsonSource', '{{$ViewID}}EditorJsonItemsPerPage', '{{$ViewID}}PreviousEditJsonBtn', '{{$ViewID}}NextEditorJsonBtn');">
                <strong style="font-weight:bolder;">&gt;</strong> <span id="nextEditorJsonProgress"></span>
            </button>

            <button id="{{$ViewID}}RefreshEditorJsonBtn" style="width: 40px;text-align:center;background-color:#efefef;" class="ar-button ar-border-right"
                    onclick="refreshEditorJson('{{$ViewID}}', '{{$ViewID}}JsonEditorProgress', 'JsonObjectJsonArray', 1, 1, 1, '', '', '', function () { getElm('updateJsonBtn').removeAttribute('disabled'); })">
                <svg style="width: 24px;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path></svg>
                <span id="{{$ViewID}}JsonEditorProgress"></span>
            </button>
        </div>

        <div class="ar-notification" style="margin:5px; padding:10px;text-align:justify;display:none;" id="{{$ViewID}}JsonEditorResponseContainer">
            <button class="ar-delete" onclick="hideElm('{{$ViewID}}JsonEditorResponseContainer')"></button>
            <div id="{{$ViewID}}JsonEditorResponse"></div>
        </div>

        <div id="{{$ViewID}}JsonEditorSection">

            <label style="width:100%;">Json Editor</label>

            <div id="{{$ViewID}}"></div>

            <div class="ar-flex-content-wrap" style="margin: 5px 0px;">
                <button id="updateJsonBtn" class="ar-button ar-border" style="background-color:#209cee;" disabled
                        onclick="saveEditorJson('{{$ViewID}}', '{{$ViewID}}SaveJsonProgress',
                            function () {
                                let sel = getElm('{{$ViewID}}EditorJsonSource');
                                let fileName = sel.options[sel.selectedIndex].text;
                                return getFlatJson('{{$ViewID}}', fileName);
                            }, '',
                            function (message) {
                                //triggerEvent('{{$ViewID}}RefreshEditorJsonBtn', 'click')
                                showText(getElm('{{$ViewID}}JsonEditorResponse'), message, 'green');
                            }
                        )">
                    Save Json <span id="{{$ViewID}}SaveJsonProgress"></span>
                </button>
            </div>
        </div>
    </div>

</div>
