
<div class="ar-flex-content-wrap" style="margin:5px;">
    <div>{{VIEWPLACEHOLDER}}</div>
    <div class="ar-flex-item ar-card-border" style="text-align:center;position:relative">
        <button class="ar-iconbutton" style="position:absolute; right:0px;margin-top:-10px;width:25px;height:25px;background-color: transparent;text-align:center;vertical-align:middle;"                
                data-action="showComponentSourceViewer" data-progress="composeDataComponentShowProgress" data-response="response" data-appsite="{{$AppSite}}" data-appview="{{$AppView}}" data-component="{{$ViewID}}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
            </svg><div id="composeDataComponentShowProgress"></div>
        </button>
        <div style="width:300px;font-size:small;color:blue;">
            {{$ComponentCategory}}
        </div>
        <div style="font-size:small;color:red;">
            {{$ComponentTitle}}
        </div>
        <div class="ar-flex-item-stretch" style="width: 100%;">
            <span style="font-size:xx-small">ComposeDataComponents : ViewID:[{{$ViewID}}] ParentViewID:[{{$ParentViewID}}] NextParentViewID:[{{$NextParentViewID}}]</span>
        </div>
        <br />
        {{ChildDataComponent1}}
        {{ChildDataComponent2}}
        {{ChildDataComponent3}}
    </div>
</div>


