<script type="text/javascript" id="{{$ViewID}}Script">

    window.ajaxid = 0

    function updateNewGitRepositorySelect(responseElmId, inputElmContainerId, inputTextElmId, targetSelectElmId) {

        let responseElm = getElm(responseElmId)
        let responseContainerElmId = responseElmId + "Container"
        responseElm.textContent = ''
        hideElm(responseContainerElmId)
        let valid = true

        let inputText = getElm(inputTextElmId).value
        if (inputText.length === 0) {
            showText(responseElm, 'Enter Input Value', 'red')
            valid = false
        }

        if (targetSelectElmId.length === 0) {
            showText(responseElm, 'Target Select Not Set', 'red')
            showAutoHideFlex(responseContainerElmId)
            valid = false
        }

        if (valid === true) {
            let selectElm = getElm(targetSelectElmId)
            let optionElm = document.createElement("option")
            optionElm.text = inputText
            optionElm.value = inputText
            optionElm.selected = true
            selectElm.add(optionElm)

            getElm(inputTextElmId).value = ""
            toggleFlex(inputElmContainerId)
        }
    }

    function gitRefreshGitRepositoryList(progressElmId, responseElmId, targetElmId, successCallback) {

        let id = window.ajaxid++
        let responseElm = getElm(responseElmId)
        //responseElm.textContent = '';
        //let responseContainerElmId = responseElmId + "Container";
        //hideElm(responseContainerElmId);
        let valid = true

        if (valid === true) {

            let isRealtime = false
            let realtimeDomain = ""

            let apiUrl = "/AppApi/GitApi"
            let apiMethod = "GetGitRepositorySelectView"

            let apiParams = {
                "appSite": "",
                "selectedKey": "",
                "emptyText": "No Git Repository Found"
            }

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId)

                if (result.hasOwnProperty('html') === true) {
                    let rootNode = getElm(targetElmId)
                    rootNode.innerHTML = result.html
                    showElm(targetElmId)

                    if (typeof successCallback === "function") {
                        successCallback()
                    }
                }
                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red')
                }
                //else if (result.hasOwnProperty('message') === true) {
                //    showText(responseElm, result.message, 'green');
                //}

            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "")

        }

        return false
    }

</script>

{{VIEWPLACEHOLDER}}

<div class="ar-flex-card ar-card-border">
    <div class="ar-flex-content-wrap" style="margin: 5px 5px;width:100%;min-height:0px;">
        <div class="ar-flex-item-stretch" style="margin-top: -10px;text-align:center;">
            <strong style="color:blue">Sync Repository from Git</strong>
        </div>
    </div>
    <div class="ar-flex-content-wrap">
        <label style="width:100%;margin: 5px auto;">Git Repository Samples</label>
        <button class="ar-border-left" style="width:40px;height:40px;background-color:lightgray;"
                onclick="refreshComponentHtml('{{$ViewID}}Progress', '{{$ViewID}}Response',
            '{{$AppSite}}', '{{$AppView}}', '{{$ViewID}}',
            {}, false, false, '', '')">
            R
        </button>
        <div class="ar-flex-item-stretch ar-border-top-bottom" style="height: 40px;">
            <select id="gitSampleRepository" data-key="GitList.GitList~0.GitLink" style="width:100%;border:none;" onchange="if (getElm('gitSampleRepository').value != '0') { getElm('gitUrl').value = getElm('gitSampleRepository').value } else {  getElm('gitUrl').value = ''} ">
                <option value="">Select Git Repository Url</option>
                {{@GitList}}
                <option value="{{$GitLink}}" data-row="{{$RowNo}}" data-key="{{$KeyPath}}">
                    {{$GitName}}
                </option>
                {{/GitList}}
            </select>
        </div>
        <button class="ar-border-right" style="width:40px;height:40px;background-color:lightgray;" {{@HaveAdminRole}}onclick="toggleElm('newGitRepositorySection');getElm('gitUrl').value = getElm('gitSampleRepository').value" {{ /HaveAdminRole}}>
            S
        </button>
    </div>
    <div id="{{$ViewID}}NewSection">
        {{^IsSubDomain}}
        {{@HaveAdminRole}}
        <div id="newGitRepositorySection" style="margin: 5px 5px;display:none;">
            <div class="ar-flex-content-wrap">
                <label style="width:100%;" for="newGitRepositoryInput">New Git Repository Name</label>
                <input class="ar-flex-item-stretch ar-border-left" id="newGitRepositoryInput" data-key="GitList.GitList~0.GitName" type="text" placeholder="New Value" />
            </div>
            <div class="ar-flex-content-wrap">
                <button class="ar-border" style="margin: 0 5px; min-width: 100px; height: 40px; background-color: lightgray;" onclick="hideElm('newGitRepositorySection')">
                    Close
                </button>
                <button class="ar-border" style="margin: 0 5px; min-width: 100px; height: 40px; background-color: lightgray;"
                        onclick="addViewComponentJsonArray('{{$ViewID}}Progress', '{{$ViewID}}Response',
                        '{{$AppSite}}', '{{$AppView}}', '{{$ViewID}}',
                        function () {
                            return {'GitLink':'', 'GitName':''};
                        }    ,
                        function () {
                            return {'GitLink':'', 'GitName':''};
                        },
                        {},
                        function () {
                            let jsonData = getFlatJson('{{$ViewID}}NewSection', '{{$ViewID}}');
                            return jsonData;
                        },
                        '{{$ViewID}}',{}, false, '', '')">
                    Save
                </button>
                <button class="ar-border" style="margin: 0 5px; min-width: 100px; height: 40px; background-color: lightgray;"
                        onclick="deleteViewComponentJsonArray('{{$ViewID}}Progress', '{{$ViewID}}Response',
                    '{{$AppSite}}', '{{$AppView}}', '{{$ViewID}}',
                    function () {
                        let jsonData = '';
                        let selectElm = getElm('gitSampleRepository');
                        let selectedOptionElm = selectElm.options[selectElm.selectedIndex];
                        let dataRow = selectedOptionElm.getAttribute('data-row');
                        if (dataRow != '0') {
                            jsonData = { 'KeyPath' : 'GitList.GitList~' + dataRow };
                        }
                        return jsonData;
                    },
                    '{{$ViewID}}',{},false, '', '')">
                    Delete
                </button>
            </div>
        </div>
        {{/HaveAdminRole}}
        {{/IsSubDomain}}
        <div class="ar-flex-content-wrap">
            <label style="width:100%;margin: 5px auto;">Git Url to Clone/Pull</label>
            <div class="ar-flex-item-stretch ar-border-left" style="height: 40px;">
                <input style="width:100%;border:none;" id="gitUrl" readonly data-key="GitList.GitList~0.GitLink" type="text" placeholder="Git Url eg https://github.com/Arshu/Landing-Page.git" value="" />
            </div>
            <button class="ar-border-right" style="width:40px;height:40px;background-color:lightgray;" onclick="toggleElm('authenticationInfo')">
                A
            </button>
        </div>
    </div>
    <div style="text-align:center;">
        <div id="{{$ViewID}}Progress"></div>
        <div style="margin:5px; padding:10px;text-align:center;display:none;" class="ar-notification" id="{{$ViewID}}ResponseContainer">
            <button class="ar-delete" onclick="hideElm('{{$ViewID}}ResponseContainer')"></button>
            <div id="{{$ViewID}}Response"></div>
        </div>
    </div>
</div>
