<!--PageTitle=Arshu AppWeb Offline Viewer Intro -->

<section class="{{$FeaturesClass}}" style="padding:50px 10px;text-align:center;">
    <div class="container">
        <div style="text-align:center;">
            <h4 class="title is-4" style="margin:0 auto; color:blue;">{{$FeatureHeading}}</h4>
        </div>
        {{AppWeb_Intro_Features}}
    </div>
</section>

<section class="{{$UseCasesClass}}" style="padding:50px 10px;text-align:center;">
    <div class="container">
        <div style="text-align:center;">
            <h4 class="title is-4" style="margin:0 auto; color:blue;">{{$UseCasesHeading}}</h4>
        </div>
        {{AppWeb_Intro_UseCases}}
    </div>
</section>


