
<div class="flex-item-stretch" style="margin: 10px 10px;text-align:center;">
    <h1><a href="{{$FooterLink}}">{{$TestTitle}}</a> - (<span style="color:orangered">Work In Progress</span>)</h1>
</div>

<div class="flex-item-stretch" style="margin: 10px 10px;text-align:center;">
    <p>Can we build <strike>Web</strike>Apps easily using (<strong>Imperative, Declarative, Assembled</strong>) coding practices if <a href='/META'> UI is F(UI Structure, Json Data, Action Defined In Json*)?</a></p>
</div>
<div class="flex-item-stretch" style="margin: 10px 10px;text-align:center;">
    <p>Using common declarative abstraction between <strong>frontend and backend technologies</strong></p>
</div>

<div class="flex-item-stretch" style="margin: 10px 10px;text-align:center;">
    <p>Using common abstractions to <strong>aggregate work done in different projects</strong> using different css frameworks(<span style="color:orangered">Preliminary Goal</span>)</p>
</div>

<div class="flex-item-stretch" style="margin: 10px 10px">
    <h1><a href="?META">Meta Data Of Page</a></h1>
</div>

<hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />
