
<div style="font-size:large;">

    <div style="margin: 10px 10px;text-align:center;">
        <a href="#/Test/TestHotReload" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'TestHotReload', '')">Test HotReload</a>
    </div>

    <hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />

    <div style="margin: 10px 10px;text-align:center;">
        <a href="#/Test/TestBasic" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'TestBasic', '')">Test Basic</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#/Test/TestCompose" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'TestCompose', '')">Test Compose</a>
    </div>

    <hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />

    <div style="margin: 10px 10px;text-align:center;">
        <a href="#/Test/TestDataFlow" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'TestDataFlow', '')">Test Data Flow</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#/Test/TestDataGlobal" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'TestDataGlobal', '')">Test Data Global</a>
    </div>

    <hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />

    <div style="margin: 10px 10px;text-align:center;">
        <a href="#/Test/TestDataFlowHierarchical" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'TestDataFlowHierarchical', '')">Test Hierarchical Data Flow</a>
    </div>

    <hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />

    <div style="margin: 10px 10px;text-align:center;">
        <a href="#/Test/TestViewScope" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'TestViewScope', '')">Test View Scope</a>
    </div>

    <hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />

    <div style="margin: 10px 10px;text-align:center;">
        <a href="#/Test/TestViewChange" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'TestViewChange', '')">Test View Change</a>
    </div>

    <hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />

    <div style="margin: 10px 10px;text-align:center;">
        <a href="#/Test/TestDeclarativeChange" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'TestDeclarativeChange', '')">Test Declarative Change</a>
    </div>

    <hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />

    <div style="margin: 10px 10px;text-align:center;">
        <a href="#/Test/TestViewDynamic" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'TestViewDynamic', '')">Test View Dynamic</a>
    </div>

    <hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />

    <div style="margin: 10px 10px;text-align:center;">
        <a href="#/Test/TestJsonEditor" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'TestJsonEditor', '')">Test JsonEditor</a>
    </div>

    <hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />

    <div class="flex-item-stretch" style="margin: 10px 10px;text-align:center;">
        <p>Experimental Declarative Abstractions</p>
    </div>

    <hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />

    <div style="margin: 10px 10px;text-align:center;">
        <a href="/Test/Dev">Test Dev</a>
    </div>

    <hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />

    <div style="margin: 10px 10px;text-align:center;">
        <a href="#/Test/Slot1" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'Slot1', '')">Test Slot 1</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#/Test/Slot2" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'Slot2', '')">Test Slot 2</a>
    </div>

    <hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />

    <div style="margin: 10px 10px;text-align:center;">
        <a href="#/Test/Slot3" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'Slot3', '')">Test Slot 3</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#/Test/Slot4" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'Slot4', '')">Test Slot 4</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#/Test/Slot5" onclick="refreshViewComponentHtml('progress', 'response', 'Test',  'Slot5', '')">Test Slot 5</a>
    </div>


</div>