
<script type="text/javascript">

    function clearAppUpdateMessage(responseElmId) {
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);
    }

    function clearAppUpdateDetailsMessage(responseElmId) {
        getElm(responseElmId).innerHTML = '';
    }

    function appUpdateSelectAll(regionTargetElmId, checkedState) {
        var regionCheckboxes = document.getElementsByName(regionTargetElmId);
        for (var i = 0; i < regionCheckboxes.length; i++) {
            regionCheckboxes[i].checked = checkedState;
        }
    }

    function retrieveAppUpdateInfo(progressElmId, responseElmId, updateAppNameVal, appNameElmId, ociImagePathSelectElmId, ociImageTagNameElmId, updateRegionTemplateElmId, updateRegionTargetElmId, updateEnvInitialTimeoutElmId, updateEnvIdleTimeoutElmId, updateEnvLoadAppDataElmId, updateEnvAutoDestroyAfterXMinElmId, doUpdateBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;


        let apiToken = "";
        if (haveElm('appAPIToken') == true) {
            apiToken = getElm('appAPIToken').value;
        }
        //if (apiToken.length == 0) {
        //    showText(responseElm, 'Enter the API Token', 'red');
        //    valid = false;
        //}

        if (valid === true) {

            getElm(doUpdateBtnElmId).setAttribute("disabled", true);

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/ServerApi';
            let apiMethod = 'RetrieveUpdateInfo';

            let apiParams = {
                "apiToken": apiToken,
                "updateAppName": updateAppNameVal
            };

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');

                    getElm(doUpdateBtnElmId).removeAttribute("disabled");
                }
                //else if (result.hasOwnProperty('message') === true) {
                //    showText(responseElm, result.message, 'green');

                //    if (typeof successCallback === "function") {
                //        successCallback();
                //    }
                //}
                else
                {
                    if (result.hasOwnProperty('AppName') === true) {
                        getElm(appNameElmId).value = result.AppName;
                    }

                    getElm(ociImageTagNameElmId).TimeID = "v" + getElm('appAPIToken').TimeID;

                    if (result.hasOwnProperty("OCIImageList") === true) {
                        let ociImageList = result.OCIImageList;

                        let selectElm = getElm(ociImagePathSelectElmId);
                        if (selectElm) {
                            selectElm.options.length = 0;

                            for (var i = 0; i < ociImageList.length; i++) {
                                let ociImageInfo = ociImageList[i];
                                let ociImageName = "";
                                if (ociImageInfo.hasOwnProperty('OCIImageName') === true) {
                                    ociImageName = ociImageInfo.OCIImageName
                                }
                                let ociImageTag = "";
                                if (ociImageInfo.hasOwnProperty('OCIImageTag') === true) {
                                    ociImageTag = ociImageInfo.OCIImageTag
                                }
                                let ociImagePath = "";
                                if (ociImageInfo.hasOwnProperty('OCIImagePath') === true) {
                                    ociImagePath = ociImageInfo.OCIImagePath
                                }
                                let isAppImage = false;
                                if (ociImageInfo.hasOwnProperty('IsAppImage') === true) {
                                    isAppImage = ociImageInfo.IsAppImage
                                }

                                if ((i == 0) && (ociImageTag.trim().length != 0)) {
                                    getElm(ociImageTagNameElmId).value = ociImageTag; //getElm(ociImageTagNameElmId).TimeID;
                                    getElm(ociImageTagNameElmId).original = ociImageTag;
                                } else {
                                    getElm(ociImageTagNameElmId).value = 'latest'; getElm(ociImageTagNameElmId).TimeID;
                                    getElm(ociImageTagNameElmId).original = 'latest';
                                }

                                if (isAppImage == true) {
                                    selectElm.options[selectElm.options.length] = new Option(ociImageName, ociImagePath, true, true);
                                } else {
                                    selectElm.options[selectElm.options.length] = new Option(ociImageName, ociImagePath, false, false);
                                }
                            }
                        }

                    }

                    if (result.hasOwnProperty('EnvInitialShutdownTimeInSec') === true) {
                        getElm(updateEnvInitialTimeoutElmId).value = result.EnvInitialShutdownTimeInSec;
                    }
                    if (result.hasOwnProperty('EnvIdleShutdownTimeInSec') === true) {
                        getElm(updateEnvIdleTimeoutElmId).value = result.EnvIdleShutdownTimeInSec;
                    }
                    if (result.hasOwnProperty('EnvAutoDestroyAfterXMin') === true) {
                        getElm(updateEnvAutoDestroyAfterXMinElmId).value = result.EnvAutoDestroyAfterXMin;
                    }

                    if (result.hasOwnProperty("UpdateRegionList") === true) {
                        let updateRegionList = result.UpdateRegionList;

                        let updateRegionTemplateElm = getElm(updateRegionTemplateElmId);
                        let updateRegionTemplateHtml = updateRegionTemplateElm.innerHTML;

                        let updateRegionTemplate = "";

                        for (var i = 0; i < updateRegionList.length; i++) {
                            let regionJson = updateRegionList[i];

                            let regionCode = "";
                            if (regionJson.hasOwnProperty('RegionCode') === true) {
                                regionCode = regionJson.RegionCode
                            }
                            let updateRegion = false;
                            if (regionJson.hasOwnProperty('Status') === true) {
                                updateRegion = regionJson.Status
                            }
                            let regionText = regionCode;
                            if (regionJson.hasOwnProperty('MachineCount') === true) {
                                regionText = regionText + "[" + regionJson.MachineCount + "]";
                            }
                            let regionName = ""
                            if (regionJson.hasOwnProperty('RegionName') === true) {
                                regionName = regionJson.RegionName
                            }

                            let updateRegionTemplateItem = updateRegionTemplateHtml;
                            if (updateRegion == false) {
                                updateRegionTemplateItem = updateRegionTemplateItem.replace(/checked="checked"/g, "")
                            }
                            updateRegionTemplateItem = updateRegionTemplateItem.replace(/{RegionTagName}/g, 'updateRegion')
                            updateRegionTemplateItem = updateRegionTemplateItem.replace(/{RegionCode}/g, regionCode)
                            updateRegionTemplateItem = updateRegionTemplateItem.replace(/{RegionText}/g, regionText)
                            updateRegionTemplateItem = updateRegionTemplateItem.replace(/{RegionName}/g, regionName)

                            updateRegionTemplate = updateRegionTemplate + updateRegionTemplateItem;
                        }

                        let updateRegionTargetElm = getElm(updateRegionTargetElmId);
                        updateRegionTargetElm.innerHTML = updateRegionTemplate;
                    }
               
                    getElm(doUpdateBtnElmId).removeAttribute("disabled");

                    if (typeof successCallback === "function") {
                        successCallback();
                    }
                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }
  
    function updateApp(progressElmId, responseElmId, appNameVal, ociImagePathVal, ociImageTagNameVal, updateRegionTargetElmName, envInitialTimeoutVal, envIdleTimeoutVal, httpStatusCheckVal, doUpdateBtnElmId, detailResponseElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;

        if (valid == true) {
            if (appNameVal.length == 0) {
                showText(responseElm, 'App Name Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (ociImagePathVal.length == 0) {
                showText(responseElm, 'OCI Image Path Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (ociImageTagNameVal.length == 0) {
                showText(responseElm, 'OCI Image Tag Name Cannot be Empty', 'red');
                valid = false;
            }
        }
        
        let updateRegionList = [];
        var updateRegionCheckboxes = document.getElementsByName(updateRegionTargetElmName);
        for (var i = 0; i < updateRegionCheckboxes.length; i++) {
            // And stick the checked ones onto an array...
            if (updateRegionCheckboxes[i].checked) {
                updateRegionList.push(updateRegionCheckboxes[i].value);
            }
        }

        if (valid == true) {
            if (updateRegionList.length == 0) {
                showText(responseElm, 'Select at least 1 Update Region', 'red');
                valid = false;
            }
        }

        let apiToken = "";
        if (haveElm('appAPIToken') == true) {
            apiToken = getElm('appAPIToken').value;
        }
        if (apiToken.length == 0) {
            showText(responseElm, 'Enter the API Token', 'red');
            valid = false;
        }

        if (valid === true) {

            getElm(doUpdateBtnElmId).setAttribute("disabled", true);

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/ServerApi';
            let apiMethod = 'UpdateApp';

            let apiParams = {
                "apiToken": apiToken,
                "appName": appNameVal,
                "ociImagePath": ociImagePathVal,
                "ociImageTagName": ociImageTagNameVal,
                "updateRegions": updateRegionList,
                "envInitialTimeout": envInitialTimeoutVal,
                "envIdleTimeout": envIdleTimeoutVal,
                "httpStatusCheck": httpStatusCheckVal
            };

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');
                    getElm(doUpdateBtnElmId).removeAttribute("disabled");

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('errorJson') === true) {
                        let errorJson = result.errorJson;
                        for (let i = 0; i < errorJson.length; i++) {
                            messageNo++;
                            let messageObj = errorJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green');

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('messageJson') === true)
                    {
                        let messageJson = result.messageJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:green'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    if (result.hasOwnProperty('warnJson') === true) {
                        let messageJson = result.warnJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
                else if (result.hasOwnProperty('warn') === true) {
                    showText(responseElm, result.warn, 'red');

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('warnJson') === true) {
                        let messageJson = result.warnJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }

</script>

