
<div id="demoToDo"
     data-action="loadViewComponentHtml"
     data-progress="progress"
     data-component="demoToDo"
     data-isrealtime="false"
     data-delay="10">
    {{!DemoToDo}}
</div>

<div id="usage_list"
     data-action="loadViewComponentHtml"
     data-progress="progress"
     data-component="usage_list"
     data-isrealtime="false"
     data-delay="10">
    {{!usage_list}}
</div>

<div id="appweb_intro"
     data-action="loadViewComponentHtml"
     data-progress="progress"
     data-component="appweb_intro"
     data-isrealtime="true"
     data-delay="100">
    {{!appweb_intro}}
</div>

{{HTMLPLACEHOLDER}}
{{VIEWPLACEHOLDER}}

