{{HTMLPLACEHOLDER}}

<div style="position:relative;text-align:center;height:0px;">
    <div id="progress"></div>
</div>
<div class="notification" id="responseContainer" style="text-align:center;display:none;margin:5px 10px;">
    <button class="delete" onclick="hideElm('responseContainer')"></button>
    <div id="response"></div>
</div>
<div style="display:none">
    <div id="noprogress"></div>
    <div class="notification" id="noresponseContainer" style="text-align:center;display:none;margin:5px 10px;">
        <div id="noresponse" style="display:none"></div>
    </div>

    <input type="hidden" id="currentAppSite" value="{{$AppSite}}" />
    <input type="hidden" id="currentAppView" value="{{$AppView}}" />
    <input type="hidden" id="currentAppFile" value="{{$AppFile}}" />

    <input type="hidden" id="dynamicAppSite" value="{{$AppSite}}" />
    <input type="hidden" id="dynamicAppView" value="{{$AppView}}" />
    <input type="hidden" id="dynamicAppFile" value="{{$AppFile}}" />
</div>

{{@EnableFrameworkView}}
    {{@IsLoggedIn}}
        {{ArshuMenuEdit("RootComponentID":"Index")}}
    {{/IsLoggedIn}}
    {{^IsLoggedIn}}
        {{ArshuMenuView("RootComponentID":"Index")}}
    {{/IsLoggedIn}}
{{/EnableFrameworkView}}

{{@EnableFrameworkView}}
    {{@IsLoggedIn}}
        {{ArshuEditComponents("RootComponentID":"Index")}}
    {{/IsLoggedIn}}
    {{^IsLoggedIn}}
        {{ArshuViewComponents("RootComponentID":"Index")}}
    {{/IsLoggedIn}}
{{/EnableFrameworkView}}

