<span style="text-align:center;margin:0px 5px 0px 5px;display:inline-block;">
    <input {{@ViewDisabled}} disabled="disabled" {{/ViewDisabled}} id="{{$ViewID}}{{$ViewIndex}}" name="{{$ViewID}}" value="{{$OptionValue}}" type="checkbox" checked="checked">
    <label for="{{$ViewID}}{{$ViewIndex}}" style="padding:5px 0px 0 0px;">
        {{$OptionText}}
    </label>
    <select id="Select{{$ViewID}}{{$ViewIndex}}" style="height:20px;">
        <option value="0" selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="10">20</option>
    </select>
</span>