
<script type="text/javascript">

    function openAppUrl(appNameElmId, appRegion) {
        if (haveElm(appNameElmId) == true) {
            let appName = getElm(appNameElmId).value;
            if (appName != "") {
                let url = 'https://' + appName + ".fly.dev";
                window.open(url, '_blank').focus();
            }
        }
    }

    function openAppRegionUrl(appName, appRegion) {
        if ((appName != "") && (appRegion != "")) {
            let url = 'https://' + appName + ".fly.dev/?region=" + appRegion;
            window.open(url, '_blank').focus();
        }
    }

</script>

