<ul class="navmenu" id="navMenu" style="{{$NavBarBackgroundStyle}}">
    <li class="navmenulogo"><a href="#/" onclick="refreshViewHtml('progress', 'response', 'Index', 'Main', 'Content, Nav, Footer')">{{$SiteTitle}}</a></li>
    {{@NAVList}}

    {{@HaveSubMenu}}
    <li class="navmenuitem has-subnavmenu">
        <a tabindex="0">{{$NavTitle}}</a>
        <ul class="subnavmenu">
            {{@SubNAVList}}
            <li class="subnavmenuitem">
                <a class="{{$SubNavActive}}" href="{{$SubNavUrl}}" data-action="refreshViewHtml" data-progress="progress" data-response="response" data-appsite="{{$NavAppSite}}" data-appview="{{$NavAppView}}" data-component="{{$NavAppViewIDs}}">
                    {{$SubNavTitle}}
                </a>
            </li>
            {{/SubNAVList}}
        </ul>
    </li>
    {{/HaveSubMenu}}
    {{^HaveSubMenu}}
    <li class="navmenuitem">
        <a class="{{$NavActive}}" href="{{$NavUrl}}" data-action="refreshViewHtml" data-progress="progress" data-response="response" data-appsite="{{$NavAppSite}}" data-appview="{{$NavAppView}}" data-component="{{$NavAppViewIDs}}">
            {{$NavTitle}}
        </a>
    </li>
    {{/HaveSubMenu}}

    {{/NAVList}}
    <li class="navmenuitem has-subnavmenu">
        <a tabindex="0">Accounts</a>
        <ul class="subnavmenu">
            {{@IsTempUser}}
            <li class="subnavmenuitem">
                <a href="/Account/ClaimUser">
                    Claim Temp User
                </a>
            </li>           
            {{/IsTempUser}}
            {{^IsTempUser}}
            <li class="subnavmenuitem">
                <a href="/Account/ChangePassword">
                    ChangePassword
                </a>
            </li>
            {{/IsTempUser}}
            {{@HaveAdminRole}}
            <li class="subnavmenuitem">
                <a href="/Config/Menu">
                    Config Menu
                </a>
            </li>
            {{/HaveAdminRole}}
            {{@NAVAccountList}}
            <li class="subnavmenuitem">
                <a class="{{$NavActive}}" href="{{$NavUrl}}" data-action="refreshViewHtml" data-progress="progress" data-response="response" data-appsite="{{$NavAppSite}}" data-appview="{{$NavAppView}}" data-component="{{$NavAppViewIDs}}">
                    {{$NavTitle}}
                </a>
            </li>
            {{/NAVAccountList}}
        </ul>
    </li>
    <li class="navmenutoggle" data-target="navMenu">
        <svg style="width:32px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
    </li>
</ul>

