
<script type="text/javascript">

    function clearAppCloneMessage(responseElmId) {
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);
        hideElm("cloneLinkDiv");
    }

    function clearAppCloneDetailsMessage(responseElmId) {
        getElm(responseElmId).innerHTML = '';
        hideElm("cloneLinkDiv");
    }

    function appCloneSelectAll(regionTargetElmId, checkedState) {
        var regionCheckboxes = document.getElementsByName(regionTargetElmId);
        for (var i = 0; i < regionCheckboxes.length; i++) {
            regionCheckboxes[i].checked = checkedState;
        }
    }

    function retrieveAppCloneInfo(progressElmId, responseElmId, cloneAppName, appOrganisationSelectElmId, appNameElmId, machineConfigListSelectElmId, ociImagePathSelectElmId, ociImageTagNameElmId, cloneRegionTemplateElmId, cloneRegionTargetElmId, cloneMaxRegionsPerAppElmId, cloneMaxMachinesPerAppElmId, cloneMaxMachinesPerRegionElmId, cloneEnvInitialTimeoutElmId, cloneEnvIdleTimeoutElmId, cloneEnvLoadAppDataElmId, cloneEnvAutoDestroyAfterXMinElmId, doCloneBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);
        hideElm("cloneLinkDiv");

        let valid = true;

        let apiToken = "";
        if (haveElm('appAPIToken') == true) {
            apiToken = getElm('appAPIToken').value;
        }
        //if (apiToken.length == 0) {
        //    showText(responseElm, 'Enter the API Token', 'red');
        //    valid = false;
        //}

        if (valid === true) {

            getElm(doCloneBtnElmId).setAttribute("disabled", true);

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/ServerApi';
            let apiMethod = 'RetrieveCloneInfo';

            let apiParams = {
                "apiToken": apiToken,
                "cloneAppName": cloneAppName
            };

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');

                    getElm(doCloneBtnElmId).removeAttribute("disabled");


                }
                //else if (result.hasOwnProperty('message') === true) {
                //    showText(responseElm, result.message, 'green');

                //    if (typeof successCallback === "function") {
                //        successCallback();
                //    }
                //}
                else {

                    if (result.hasOwnProperty('AppName') === true) {
                        getElm(appNameElmId).value = result.AppName;
                    }

                    if (result.hasOwnProperty("MachineConfigList") === true) {
                        let machineConfigList = result.MachineConfigList;

                        let selectElm = getElm(machineConfigListSelectElmId);
                        if (selectElm) {
                            selectElm.options.length = 0;

                            for (var i = 0; i < machineConfigList.length; i++) {
                                let machineConfig = machineConfigList[i];
                                let configName = "";
                                if (machineConfig.hasOwnProperty('ConfigName') === true) {
                                    configName = machineConfig.ConfigName
                                }
                                let configSelect = false;
                                if (machineConfig.hasOwnProperty('ConfigSelect') === true) {
                                    configSelect = machineConfig.ConfigSelect
                                }
                                if (configSelect == true) {
                                    selectElm.options[selectElm.options.length] = new Option(configName, configName, true, true);
                                } else {
                                    selectElm.options[selectElm.options.length] = new Option(configName, configName, false, false);
                                }
                            }
                        }
                    }

                    if (result.hasOwnProperty("OCIImageList") === true) {
                        let ociImageList = result.OCIImageList;

                        let selectElm = getElm(ociImagePathSelectElmId);
                        if (selectElm) {
                            selectElm.options.length = 0;

                            for (var i = 0; i < ociImageList.length; i++) {
                                let ociImageInfo = ociImageList[i];

                                let ociImageName = "";
                                if (ociImageInfo.hasOwnProperty('OCIImageName') === true) {
                                    ociImageName = ociImageInfo.OCIImageName
                                }
                                let ociImageTag = "";
                                if (ociImageInfo.hasOwnProperty('OCIImageTag') === true) {
                                    ociImageTag = ociImageInfo.OCIImageTag
                                }
                                let ociImagePath = "";
                                if (ociImageInfo.hasOwnProperty('OCIImagePath') === true) {
                                    ociImagePath = ociImageInfo.OCIImagePath
                                }
                                let isAppImage = false;
                                if (ociImageInfo.hasOwnProperty('IsAppImage') === true) {
                                    isAppImage = ociImageInfo.IsAppImage
                                }

                                if ((i == 0) && (ociImageTag.trim().length != 0)) {
                                    getElm(ociImageTagNameElmId).value = ociImageTag;
                                    getElm(ociImageTagNameElmId).original = ociImageTag;
                                } else {
                                    getElm(ociImageTagNameElmId).value = 'latest';
                                    getElm(ociImageTagNameElmId).original = 'latest';
                                }

                                if (isAppImage == true) {
                                    selectElm.options[selectElm.options.length] = new Option(ociImageName, ociImagePath, true, true);
                                } else {
                                    selectElm.options[selectElm.options.length] = new Option(ociImageName, ociImagePath, false, false);
                                }
                            }
                        }

                    }

                    if (result.hasOwnProperty('EnvInitialShutdownTimeInSec') === true) {
                        getElm(cloneEnvInitialTimeoutElmId).value = result.EnvInitialShutdownTimeInSec;
                    }
                    if (result.hasOwnProperty('EnvIdleShutdownTimeInSec') === true) {
                        getElm(cloneEnvIdleTimeoutElmId).value = result.EnvIdleShutdownTimeInSec;
                    }
                    if (result.hasOwnProperty('EnvAutoDestroyAfterXMin') === true) {
                        getElm(cloneEnvAutoDestroyAfterXMinElmId).value = result.EnvAutoDestroyAfterXMin;
                    }

                    if (result.hasOwnProperty("CloneRegionList") === true) {
                        let cloneRegionList = result.CloneRegionList;

                        let cloneRegionTemplateElm = getElm(cloneRegionTemplateElmId);
                        let cloneRegionTemplateHtml = cloneRegionTemplateElm.innerHTML;

                        let cloneRegionTemplate = "";

                        for (var i = 0; i < cloneRegionList.length; i++) {
                            let regionInfo = cloneRegionList[i];
                            let regionName = "";
                            if (regionInfo.hasOwnProperty('Region') === true) {
                                regionName = regionInfo.Region
                            }
                            let cloneRegion = false;
                            if (regionInfo.hasOwnProperty('Status') === true) {
                                cloneRegion = regionInfo.Status
                            }
                            let regionText = regionName;

                            let cloneRegionTemplateItem = cloneRegionTemplateHtml;
                            if (cloneRegion == false) {
                                cloneRegionTemplateItem = cloneRegionTemplateItem.replace(/checked="checked"/g, "")
                            }
                            cloneRegionTemplateItem = cloneRegionTemplateItem.replace(/{RegionName}/g, 'cloneRegion')
                            cloneRegionTemplateItem = cloneRegionTemplateItem.replace(/{Region}/g, regionName)
                            cloneRegionTemplateItem = cloneRegionTemplateItem.replace(/{RegionText}/g, regionText)

                            cloneRegionTemplate = cloneRegionTemplate + cloneRegionTemplateItem;
                        }

                        let cloneRegionTargetElm = getElm(cloneRegionTargetElmId);
                        cloneRegionTargetElm.innerHTML = cloneRegionTemplate;
                    }

                    if (result.hasOwnProperty("OrgList") === true) {
                        let orgList = result.OrgList;

                        let selectElm = getElm(appOrganisationSelectElmId);
                        if (selectElm) {
                            selectElm.options.length = 0;

                            for (var i = 0; i < orgList.length; i++) {
                                let orgInfo = orgList[i];
                                let orgName = "";
                                if (orgInfo.hasOwnProperty('name') === true) {
                                    orgName = orgInfo.name
                                }
                                let orgSlug = "";
                                if (orgInfo.hasOwnProperty('slug') === true) {
                                    orgSlug = orgInfo.slug
                                }
                                let isPersonal = false;
                                if (orgSlug == "personal") isPersonal = true;

                                if (isPersonal == true) {
                                    selectElm.options[selectElm.options.length] = new Option(orgSlug, orgSlug, true, true);
                                } else {
                                    selectElm.options[selectElm.options.length] = new Option(orgSlug, orgSlug, false, false);
                                }
                            }
                        }

                    }

                    if (result.hasOwnProperty('MaxRegionsPerApp') === true) {
                        getElm(cloneMaxRegionsPerAppElmId).value = result.MaxRegionsPerApp;
                    }
                    if (result.hasOwnProperty('MaxMachinesPerApp') === true) {
                        getElm(cloneMaxMachinesPerAppElmId).value = result.MaxMachinesPerApp;
                    }
                    if (result.hasOwnProperty('MaxMachinesPerRegion') === true) {
                        getElm(cloneMaxMachinesPerRegionElmId).value = result.MaxMachinesPerRegion;
                    }

                    if (result.hasOwnProperty('AppCountPerTeam') === true) {
                        getElm('clonePerTeam').innerHTML = result.AppCountPerTeam;
                    }
                    if (result.hasOwnProperty('MaxAppCountPerTeam') === true) {
                        getElm('maxClonePerTeam').innerHTML = result.MaxAppCountPerTeam;
                    }
                    if (result.hasOwnProperty('AppCountPerDay') === true) {
                        getElm('clonePerDay').innerHTML = result.AppCountPerDay;
                    }
                    if (result.hasOwnProperty('MaxAppCountPerDay') === true) {
                        getElm('maxClonePerDay').innerHTML = result.MaxAppCountPerDay;
                    }
                    if (result.hasOwnProperty('AppCountPerHour') === true) {
                        getElm('clonePerHour').innerHTML = result.AppCountPerHour;
                    }
                    if (result.hasOwnProperty('MaxAppCountPerHour') === true) {
                        getElm('maxClonePerHour').innerHTML = result.MaxAppCountPerHour;
                    }

                    getElm(doCloneBtnElmId).removeAttribute("disabled");

                    if (typeof successCallback === "function") {
                        successCallback();
                    }

                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }

    function deleteCloneApp(progressElmId, responseElmId, appNameVal, appOwnerIDVal, deleteCloneAppBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);
        hideElm("cloneLinkDiv");

        let valid = true;

        if (valid == true) {
            if (appNameVal.length == 0) {
                showText(responseElm, 'App Name Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (appOwnerIDVal.length == 0) {
                showText(responseElm, 'App Owner ID Cannot be Empty', 'red');
                valid = false;
            }
        }
        
        let apiToken = "";
        if (haveElm('appAPIToken') == true) {
            apiToken = getElm('appAPIToken').value;
        }
        if (apiToken.length == 0) {
            showText(responseElm, 'Enter the API Token', 'red');
            valid = false;
        }

        if (valid === true) {

            getElm(deleteCloneAppBtnElmId).setAttribute("disabled", true);

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/ServerApi';
            let apiMethod = 'DeleteApp';

            let apiParams = {
                "apiToken": apiToken,
                "appName": appNameVal,
                "appOwnerID": appOwnerIDVal
            };

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');

                    getElm(deleteCloneAppBtnElmId).removeAttribute("disabled");

                    if (typeof failureCallback === "function") {
                        failureCallback();
                    }
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green');

                    if (typeof successCallback === "function") {
                        successCallback();
                    }
                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }

    function cloneApp(progressElmId, responseElmId, newAppNameVal, newAppOrganizationVal, newAppNetworkVal, existingAppNameVal, machineConfigNameVal, ociImagePathVal, ociImageTagNameVal, cloneRegionTargetElmName, envInitialTimeoutVal, envIdleTimeoutVal, envAutoDestroyAfterXMinVal, appOwnerIDVal, attachVolumeSizeVal, attachVolumePathVal, doCloneBtnElmId, detailResponseElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);
        hideElm("cloneLinkDiv");

        let valid = true;

        if (valid == true) {
            if (newAppNameVal.length == 0) {
                showText(responseElm, 'New App Name Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (newAppOrganizationVal.length == 0) {
                showText(responseElm, 'New App Organisation Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (existingAppNameVal.length == 0) {
                showText(responseElm, 'Clone App Name Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (machineConfigNameVal.length == 0) {
                showText(responseElm, 'Clone Machine Config Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (ociImagePathVal.length == 0) {
                showText(responseElm, 'Clone App OCI Image Path Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (ociImageTagNameVal.length == 0) {
                showText(responseElm, 'Clone App OCI Image Tag Name Cannot be Empty', 'red');
                valid = false;
            }
        }
               
        let cloneRegionList = [];
        var cloneRegionCheckboxes = document.getElementsByName(cloneRegionTargetElmName);
        for (var i = 0; i < cloneRegionCheckboxes.length; i++) {
            // And the checked ones onto an array...
            if (cloneRegionCheckboxes[i].checked) {
                cloneRegionList.push(cloneRegionCheckboxes[i].value);
            }
        }

        if (valid == true) {
            if (cloneRegionList.length == 0) {
                showText(responseElm, 'Select 1 Clone Region only and latter deploy to multiple region', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (cloneRegionList.length > 1) {
                showText(responseElm, 'Select only 1 Clone Region and latter deploy to multiple region', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (appOwnerIDVal.length == 0) {
                showText(responseElm, 'App Owner ID Cannot be Empty', 'red');
                valid = false;
            }
        }

        let attachVolumeSize = parseInt(attachVolumeSizeVal, 0);
        if (valid == true) {
            if (attachVolumeSize > 0) {
                if (attachVolumePathVal.length == 0) {
                    showText(responseElm, 'Set the Attach Volume Path if Attach Volume Size is greater than zero', 'red');
                    valid = false;
                }
            }
        }

        let apiToken = "";
        if (haveElm('appAPIToken') == true) {
            apiToken = getElm('appAPIToken').value;
        }
        if (apiToken.length == 0) {
            showText(responseElm, 'Enter the API Token', 'red');
            valid = false;
        }

        if (valid === true) {

            getElm(doCloneBtnElmId).setAttribute("disabled", true);

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/ServerApi';
            let apiMethod = 'CloneApp';

            let apiParams = {
                "apiToken": apiToken,
                "newAppName": newAppNameVal,                
                "newAppOrganization": newAppOrganizationVal,
                "newAppNetwork": newAppNetworkVal,
                "appName": existingAppNameVal,
                "machineConfigName": machineConfigNameVal,
                "ociImagePath": ociImagePathVal,
                "ociImageTagName": ociImageTagNameVal,
                "cloneRegions": cloneRegionList,
                "envInitialTimeout": envInitialTimeoutVal,
                "envIdleTimeout": envIdleTimeoutVal,
                "envAutoDestroyAfterXMin": envAutoDestroyAfterXMinVal,
                "appOwnerID": appOwnerIDVal,
                "attachVolumeSize" : attachVolumeSize, 
                "attachVolumePath": attachVolumePathVal
            };

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');
                    getElm(doCloneBtnElmId).removeAttribute("disabled");

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('errorJson') === true) {
                        let errorJson = result.errorJson;
                        for (let i = 0; i < errorJson.length; i++) {
                            messageNo++;
                            let messageObj = errorJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green');

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('messageJson') === true) {
                        let messageJson = result.messageJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:green'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    if (result.hasOwnProperty('warnJson') === true) {
                        let messageJson = result.warnJson;
                        for (let n = 0; n < messageJson.length; n++) {
                            messageNo++;
                            let messageObj = messageJson[n];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);

                    let cloneLinkElm = getElm("cloneLink");
                    cloneLinkElm.setAttribute("href", "https://" + newAppNameVal + ".fly.dev");
                    cloneLinkElm.textContent = "https://" + newAppNameVal + ".fly.dev";
                    showElm("cloneLinkDiv");
                }
                else if (result.hasOwnProperty('warn') === true) {
                    showText(responseElm, result.warn, 'red');

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('warnJson') === true) {
                        let messageJson = result.warnJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }

</script>

