<div class="ar-flex-input-wrap" style="margin: 5px 0px;width:100%;">
    <div class="ar-border" style="width:100%;">
        <label for="{{$EditorItemName}}" style="margin-top:8px; display:inline-block;">{{$EditorItemName}}</label>
        {{@EditorItemList}}
        <label style="text-align:center;margin:10px 5px 0px 5px;display:inline-block;">
            <input value="{{$EditorListItemValue}}"
                {{@EditorListItemMatchName}} checked="checked" {{/EditorListItemMatchName}}
                name="{{$EditorItemKey}}"
                data-key="{{$EditorItemKey}}"
                data-value="{{$EditorListItemMatchValue}}"
                type="radio" disabled="disabled">{{$EditorListItemText}}
        </label>
        {{/EditorItemList}}
    </div>
</div>
