


<div id="appOwner" class="ar-border" style="margin: 5px 0px;padding: 5px; position:relative;">

    <fieldset class="ar-border" style="margin-top:10px;display:none;">
        <legend>User</legend>

        <label style="width:100%;margin: 0px 5px;">
            Email Address
            <span style="color:orangered;font-size:small;">
                Optional to restrict cloning or deletion of app to only email address which cloned the app
            </span>
        </label>

        <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
            <input id="cloneEmailAddress" class="ar-flex-item-stretch ar-border-left" style="height: 38px;" autocomplete="none" type="text" placeholder="Your Email" value="" />
            <button id="cloneSetUp2FA" class="ar-border-right ar-button" style="background-color: #209cee; width: 100px; height: 40px; font-size: medium; " onclick="">
                Set up 2FA
            </button>
        </div>

        <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
            <input id="cloneEmailAddressOTP" class="ar-flex-item-stretch ar-border-left" style="height: 38px;" autocomplete="none" type="text" placeholder="Your OTP/2FA" value="" />
            <button id="cloneSendForOTP" class="ar-border-right ar-button" style="background-color: #209cee; width: 100px; height: 40px; font-size: medium; " onclick="">
                Send for OTP
            </button>
        </div>

    </fieldset>


    <div id="doAppOwnerResponseContainer" class="ar-notification" style="text-align:center;display:none;margin:5px 10px;">
        <button class="ar-delete" onclick="hideElm('doAppOwnerResponseContainer');hideElm('cloneDetailResponse')"></button>
        <div id="doAppOwnerResponse"></div>
    </div>


</div>

{{AppOwnerJs}}