{{TestIntro}}

<div class="flex-item-stretch" style="margin: 10px 10px;text-align:center;">
    <h2>Declarative Changing Data (Json) of Data (Html + Json) Components and Refreshing the UI (Html) </h2>
</div>

<hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />
<div class="flex-item-stretch" style="margin: 10px 10px;text-align:center;">
    <h5>Select</h5>
</div>

{{Select}}

<hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />
<div class="flex-item-stretch" style="margin: 10px 10px;text-align:center;">
    <h5>Select Filter</h5>
</div>

{{SelectFilter}}

<hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />
<div class="flex-item-stretch" style="margin: 10px 10px;text-align:center;">
    <h5>List Div</h5>
</div>

{{ListDiv}}

<hr class="flex-item-stretch" style="background-color:black;margin: 10px 10px" />
<div class="flex-item-stretch" style="margin: 10px 10px;text-align:center;">
    <h5>List Table with Filter</h5>
</div>

{{ListTableWithFilter}}

