<div class="ar-flex-input-wrap" style="margin: 5px 0px;width:100%;">
    <div class="ar-border" style="width:100%;">
        <label for="{{$EditorItemKey}}" style="margin-top:8px;display:inline-block;">{{$EditorItemName}}</label>
        <label style="padding:10px 0px 0 5px;">
            <input value="{{$EditorItemValue}}"                   
                   name="{{$EditorItemKey}}"
                   data-key="{{$EditorItemKey}}"
                   data-value="{{$EditorItemValue}}"
                   {{@EditorItemValue}} checked="checked" {{/EditorItemValue}} type="checkbox">
        </label>
    </div>
</div>