<div>
    <button class="border" style="padding:0px 10px;width:30px" onclick="changeComponentData('counterProgress', 'counterResponse' , '{{$ViewID}}' , { '{{$ViewID}}CurrentCount' : +1 }, fillComponentState, validateComponentState, '{{$ViewID}}' , '{{$AppSite}}' , '{{$ViewID}}' , {}, '{{$ViewID}}' )">{{$IncrementButtonText}}</button>
    <button class="border" style="padding:0px 10px;width:30px" onclick="changeComponentData('counterProgress', 'counterResponse' , '{{$ViewID}}' , { '{{$ViewID}}CurrentCount' : -1 }, fillComponentState, validateComponentState, '{{$ViewID}}' , '{{$AppSite}}' , '{{$ViewID}}' , {}, '{{$ViewID}}' )">{{$DecrementButtonText}}</button>
</div>
