<div>
    <div class="container" style="border: 0px solid green;">

        <h2 style="text-align:center">{{$AppWebUseCaseTitle}}</h2>
        <p class="card-text" style="text-align:center">{{$AppWebUseCaseSubTitle}}</p>

        <div class="ar-flex-content-wrap" style="text-align:center;margin-top:25px;">

            {{@UseCaseList}}
            <div class="ar-flex-item-card ar-card-border" style="text-align:center;margin:5px;">
                <div class="ar-card-title">{{$UseCaseTitle}}</div>
                {{$UseCaseIcon}}
                <p class="ar-card-text">
                    {{$UseCaseInfo}}
                </p>
            </div>
            {{/UseCaseList}}

        </div>

    </div>
</div>