{{@HaveDomainApiService}}

{{^IsLocalHost}}
{{^IsSubDomain}}
<section class="{{$DemoClass}}" style="margin:5px;padding:10px 10px;text-align:center;border-radius:5px; border:solid 1px black;">
    <div class="container">
        <div style="text-align:center;">
            <span id="showAppDomainProgress"></span>
            <button class="ar-button ar-border" style="padding:5px 15px; margin:0 auto; color:blue;font-size:x-large; background-color:brown;color:white;"
                    onclick="showAppDomainViewer('showAppDomainProgress')">
                {{$DemoTitle}}
            </button>
        </div>
    </div>
</section>
{{/IsSubDomain}}
{{/IsLocalHost}}

{{/HaveDomainApiService}}
