
<div>
    <div class="container" style="border: 0px solid green;">

        <h2 style="text-align:center">{{$AppWebFeaturesTitle}}</h2>
        <p class="card-text" style="text-align:center">{{$AppWebFeaturesSubTitle}}</p>

        <div class="ar-flex-content-wrap" style="text-align:center;margin-top:25px;">

            {{@FeatureList}}
            <div class="ar-flex-item-card ar-card-border" style="text-align:center;margin:5px;">
                <div class="ar-card-title">{{$FeatureTitle}}</div>
                {{$FeatureIcon}}
                <p class="ar-card-text">
                    {{$FeatureInfo}}
                </p>
            </div>
            {{/FeatureList}}

        </div>

    </div>
</div>





