{{RealtimeAction}}

<div class="ar-flex-content-wrap" style="margin:5px;" title="ViewID={{$ViewID}},ViewParentID={{$ViewParentID}},KeyPath={{$KeyPath}}">
    {{VIEWPLACEHOLDER}}

    <div style="text-align:center;">
        <div id="{{$ViewID}}Progress"></div>
        <div style="margin:5px; padding:10px;text-align:center;display:none;" class="ar-notification" id="{{$ViewID}}ResponseContainer">
            <button class="ar-delete" onclick="hideElm('{{$ViewID}}ResponseContainer')"></button>
            <div id="{{$ViewID}}Response"></div>
        </div>
    </div>

    <div class="ar-flex-item-stretch" style="text-align:center;" title="ViewID={{$ViewID}},ViewParentID={{$ViewParentID}},KeyPath={{$KeyPath}}">
        <button class="ar-button ar-border" style="margin:5px;background-color:lightblue;width:60px;margin: 0 5px 0 0" onclick="toDoShowAddView('toDoAddViewDiv')">Add</button>
        <button class="ar-button ar-border" style="margin: 5px; background-color: lightblue; width: 60px; margin: 0 0 0 5px" onclick="toDoShowFilterView('toDoFilterViewDiv')">Filter</button>
    </div>

    {{ToDoAddView}}

    {{ToDoEditView}}

    {{ToDoDeleteView}}

    {{ToDoFilterView}}

    {{ToDoListView}}

</div>

<script type="text/javascript" id="{{$ViewID}}Script">

    function toDoShowAddView(addViewElmId) {
        hideElm('toDoEditViewDiv');
        hideElm('toDoDeleteViewDiv');
        hideElm('toDoFilterViewDiv');

        if (haveElm(addViewElmId) == true) {
            showElm(addViewElmId)
            clearFlatJson(addViewElmId);
        }
    }

    function toDoShowFilterView(filterViewElmId) {

        hideElm('toDoAddViewDiv');
        hideElm('toDoEditViewDiv');
        hideElm('toDoDeleteViewDiv');

        if (haveElm(filterViewElmId) == true) {
            showElm(filterViewElmId)
        }
    }

    function toDoShowEditView(keyPath, keyPathJson, viewID, pageNo, itemsPerPage) {

        hideElm('toDoAddViewDiv');
        hideElm('toDoDeleteViewDiv');
        hideElm('toDoFilterViewDiv');

        let elmEditViewID = getElm('{{$ViewID}}EditViewID');
        elmEditViewID.value = viewID;

        let elmEditPageNo = getElm('{{$ViewID}}EditPageNo');
        elmEditPageNo.value = pageNo;

        let elmEditItemsPerPage = getElm('{{$ViewID}}EditItemsPerPage');
        elmEditItemsPerPage.value = itemsPerPage;

        let editKeyElmId = '{{$ViewID}}EditKey'
        if (haveElm(editKeyElmId) == true) {

            let elmEditKey = getElm(editKeyElmId);
            elmEditKey.value = keyPath;

            let editElmPrefix = '{{$ViewID}}Edit';
            for (let key in keyPathJson) {
                let jsonValue = keyPathJson[key];
                let idxLastDot = key.lastIndexOf(".");
                let elmId = key.substring(idxLastDot + 1);
                let jsonKey = editElmPrefix + elmId;
                let elmEdit = getElm(jsonKey);
                elmEdit.value = jsonValue;
                elmEdit.setAttribute('data-key', key);
            }

            let editViewElmId = 'toDoEditViewDiv'
            if (haveElm(editViewElmId) == true) {
                showElm(editViewElmId)
            }
        }
    }

    function toDoShowDeleteView(keyPath, keyPathJson, pageNo, itemsPerPage) {

        hideElm('toDoAddViewDiv');
        hideElm('toDoEditViewDiv');
        hideElm('toDoFilterViewDiv');

        let elmDeletePageNo = getElm('{{$ViewID}}DeletePageNo');
        elmDeletePageNo.value = pageNo;

        let elmDeleteItemsPerPage = getElm('{{$ViewID}}DeleteItemsPerPage');
        elmDeleteItemsPerPage.value = itemsPerPage;

        let deleteKeyElmId = '{{$ViewID}}DeleteKey'
        if (haveElm(deleteKeyElmId) == true) {

            let elmDeleteKey = getElm(deleteKeyElmId);
            elmDeleteKey.value = keyPath;

            let deleteElmPrefix = '{{$ViewID}}Delete';
            for (let key in keyPathJson) {
                let jsonValue = keyPathJson[key];
                let idxLastDot = key.lastIndexOf(".");
                let elmId = key.substring(idxLastDot + 1);
                let jsonKey = deleteElmPrefix + elmId;
                let elmDelete = getElm(jsonKey);
                elmDelete.value = jsonValue;
                elmDelete.setAttribute('data-key', key);
            }

            let deleteViewElmId = 'toDoDeleteViewDiv'
            if (haveElm(deleteViewElmId) == true) {
                showElm(deleteViewElmId)
            }
        }
    }
    
    function todoGetRealtime() {
        return getElm('{{$ViewID}}RealtimeRefresh').checked;
    }

    function todoGetRealtimeDomain() {
        return getElm('{{$ViewID}}RealtimeRefreshDomain').value;
    }

</script>