{{RefreshAction}}

<div class="ar-flex-content-wrap" style="margin:5px;" title="ViewID={{$ViewID}},ViewParentID={{$ViewParentID}},KeyPath={{$KeyPath}}">
    {{VIEWPLACEHOLDER}}

    <div style="text-align:center;">
        <span id="{{$ViewID}}Progress"></span>
        <div style="margin:5px; padding:10px;text-align:center;display:none;" class="ar-notification" id="{{$ViewID}}ResponseContainer">
            <button class="ar-delete" onclick="hideElm('{{$ViewID}}ResponseContainer')"></button>
            <div id="{{$ViewID}}Response"></div>
        </div>
    </div>

    {{ToDoAddView}}

    {{ToDoEditView}}

    {{ToDoDeleteView}}

    {{ToDoListView}}

</div>

<script type="text/javascript" id="{{$ViewID}}Script">
    
    function toDoShowFilterView(filterViewElmId) {

        hideElm('{{$ViewID}}AddViewDiv');
        hideElm('{{$ViewID}}EditViewDiv');
        hideElm('{{$ViewID}}DeleteViewDiv');

        if (haveElm(filterViewElmId) == true) {
            showElm(filterViewElmId)
        }
    }
    
    function todoGetRefreshMode() {
        let useWSChecked = getElm('{{$ViewID}}RefreshMode').checked
        if (useWSChecked) {
            return "ws"
        } else {
            return ""
        }
    }

    function todoGetRefreshDomain() {
        return getElm('{{$ViewID}}RefreshDomain').value;
    }

</script>