
<script type="text/javascript">

    function clearAppSyncMessage(responseElmId) {
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);
    }

    function clearAppSyncDetailsMessage(responseElmId) {
        getElm(responseElmId).innerHTML = '';
    }

    function appSyncSelectAll(regionTargetElmId, checkedState) {
        var regionCheckboxes = document.getElementsByName(regionTargetElmId);
        for (var i = 0; i < regionCheckboxes.length; i++) {
            regionCheckboxes[i].checked = checkedState;
        }
    }

    function retrieveAppSyncInfo(progressElmId, responseElmId, syncAppNameVal, appNameElmId, ociImagePathSelectElmId, ociImageTagNameElmId, syncReferenceRegionTemplateElmId, syncReferenceRegionTargetElmId, syncRegionTemplateElmId, syncRegionTargetElmId, syncEnvInitialTimeoutElmId, syncEnvIdleTimeoutElmId, syncEnvLoadAppDataElmId, syncEnvAutoDestroyAfterXMinElmId, doSyncBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;


        let apiToken = "";
        if (haveElm('appAPIToken') == true) {
            apiToken = getElm('appAPIToken').value;
        }
        //if (apiToken.length == 0) {
        //    showText(responseElm, 'Enter the API Token', 'red');
        //    valid = false;
        //}

        if (valid === true) {

            getElm(doSyncBtnElmId).setAttribute("disabled", true);

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/ServerApi';
            let apiMethod = 'RetrieveSyncInfo';

            let apiParams = {
                "apiToken": apiToken,
                "syncAppName": syncAppNameVal
            };

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');

                    getElm(doSyncBtnElmId).removeAttribute("disabled");
                }
                //else if (result.hasOwnProperty('message') === true) {
                //    showText(responseElm, result.message, 'green');

                //    if (typeof successCallback === "function") {
                //        successCallback();
                //    }
                //}
                else
                {
                    if (result.hasOwnProperty('AppName') === true) {
                        getElm(appNameElmId).value = result.AppName;
                    }

                    getElm(ociImageTagNameElmId).TimeID = "v" + getElm('appAPIToken').TimeID;

                    if (result.hasOwnProperty("OCIImageList") === true) {
                        let ociImageList = result.OCIImageList;

                        let selectElm = getElm(ociImagePathSelectElmId);
                        if (selectElm) {
                            selectElm.options.length = 0;

                            for (var i = 0; i < ociImageList.length; i++) {
                                let ociImageInfo = ociImageList[i];
                                let ociImageName = "";
                                if (ociImageInfo.hasOwnProperty('OCIImageName') === true) {
                                    ociImageName = ociImageInfo.OCIImageName
                                }
                                let ociImageTag = "";
                                if (ociImageInfo.hasOwnProperty('OCIImageTag') === true) {
                                    ociImageTag = ociImageInfo.OCIImageTag
                                }
                                let ociImagePath = "";
                                if (ociImageInfo.hasOwnProperty('OCIImagePath') === true) {
                                    ociImagePath = ociImageInfo.OCIImagePath
                                }
                                let isAppImage = false;
                                if (ociImageInfo.hasOwnProperty('IsAppImage') === true) {
                                    isAppImage = ociImageInfo.IsAppImage
                                }

                                if ((i == 0) && (ociImageTag.trim().length != 0)) {
                                    getElm(ociImageTagNameElmId).value = ociImageTag; //getElm(ociImageTagNameElmId).TimeID;
                                    getElm(ociImageTagNameElmId).original = ociImageTag;
                                } else {
                                    getElm(ociImageTagNameElmId).value = 'latest'; //getElm(ociImageTagNameElmId).TimeID;
                                    getElm(ociImageTagNameElmId).original = 'latest';
                                }

                                if (isAppImage == true) {
                                    selectElm.options[selectElm.options.length] = new Option(ociImageName, ociImagePath, true, true);
                                } else {
                                    selectElm.options[selectElm.options.length] = new Option(ociImageName, ociImagePath, false, false);
                                }
                            }
                        }

                    }

                    if (result.hasOwnProperty('EnvInitialShutdownTimeInSec') === true) {
                        getElm(syncEnvInitialTimeoutElmId).value = result.EnvInitialShutdownTimeInSec;
                    }
                    if (result.hasOwnProperty('EnvIdleShutdownTimeInSec') === true) {
                        getElm(syncEnvIdleTimeoutElmId).value = result.EnvIdleShutdownTimeInSec;
                    }
                    if (result.hasOwnProperty('EnvAutoDestroyAfterXMin') === true) {
                        getElm(syncEnvAutoDestroyAfterXMinElmId).value = result.EnvAutoDestroyAfterXMin;
                    }

                    if (result.hasOwnProperty("SyncReferenceRegionList") === true) {
                        let syncReferenceRegionList = result.SyncReferenceRegionList;

                        let syncReferenceRegionTemplateElm = getElm(syncReferenceRegionTemplateElmId);
                        let syncReferenceRegionTemplateHtml = syncReferenceRegionTemplateElm.innerHTML;

                        let syncReferenceRegionTemplate = "";

                        for (var i = 0; i < syncReferenceRegionList.length; i++) {
                            let regionInfo = syncReferenceRegionList[i];

                            let regionName = "";
                            if (regionInfo.hasOwnProperty('Region') === true) {
                                regionName = regionInfo.Region
                            }
                            let syncRegion = false;
                            if (regionInfo.hasOwnProperty('Status') === true) {
                                syncRegion = regionInfo.Status
                            }
                            let regionText = regionName;
                            if (regionInfo.hasOwnProperty('MachineCount') === true) {
                                regionText = regionText + "[" + regionInfo.MachineCount + "]";
                            }

                            let syncReferenceRegionTemplateItem = syncReferenceRegionTemplateHtml;
                            if (syncRegion == false) {
                                syncReferenceRegionTemplateItem = syncReferenceRegionTemplateItem.replace(/checked="checked"/g, "")
                            }
                            if (result.hasOwnProperty('AppName') === true) {
                                syncReferenceRegionTemplateItem = syncReferenceRegionTemplateItem.replace(/{AppName}/g, result.AppName)
                            }
                            syncReferenceRegionTemplateItem = syncReferenceRegionTemplateItem.replace(/{RegionName}/g, 'syncReferenceRegion')
                            syncReferenceRegionTemplateItem = syncReferenceRegionTemplateItem.replace(/{Region}/g, regionName)
                            syncReferenceRegionTemplateItem = syncReferenceRegionTemplateItem.replace(/{RegionText}/g, regionText)

                            syncReferenceRegionTemplate = syncReferenceRegionTemplate + syncReferenceRegionTemplateItem;
                        }

                        let syncReferenceRegionTargetElm = getElm(syncReferenceRegionTargetElmId);
                        syncReferenceRegionTargetElm.innerHTML = syncReferenceRegionTemplate;

                    }

                    if (result.hasOwnProperty("SyncRegionList") === true) {
                        let syncRegionList = result.SyncRegionList;

                        let syncRegionTemplateElm = getElm(syncRegionTemplateElmId);
                        let syncRegionTemplateHtml = syncRegionTemplateElm.innerHTML;

                        let syncRegionTemplate = "";

                        for (var i = 0; i < syncRegionList.length; i++) {
                            let regionJson = syncRegionList[i];

                            let regionCode = "";
                            if (regionJson.hasOwnProperty('RegionCode') === true) {
                                regionCode = regionJson.Region
                            }
                            let syncRegion = false;
                            if (regionJson.hasOwnProperty('Status') === true) {
                                syncRegion = regionJson.Status
                            }
                            let regionText = regionCode;
                            if (regionJson.hasOwnProperty('MachineCount') === true) {
                                regionText = regionText + "[" + regionJson.MachineCount + "]";
                            }
                            let regionName = ""
                            if (regionJson.hasOwnProperty('RegionName') === true) {
                                regionName = regionJson.RegionName
                            }

                            let syncRegionTemplateItem = syncRegionTemplateHtml;
                            if (syncRegion == false) {
                                syncRegionTemplateItem = syncRegionTemplateItem.replace(/checked="checked"/g, "")
                            }
                            syncRegionTemplateItem = syncRegionTemplateItem.replace(/{RegionTagName}/g, 'syncRegion')
                            syncRegionTemplateItem = syncRegionTemplateItem.replace(/{RegionCode}/g, regionCode)
                            syncRegionTemplateItem = syncRegionTemplateItem.replace(/{RegionText}/g, regionText)
                            syncRegionTemplateItem = syncRegionTemplateItem.replace(/{RegionName}/g, regionName)

                            syncRegionTemplate = syncRegionTemplate + syncRegionTemplateItem;
                        }

                        let syncRegionTargetElm = getElm(syncRegionTargetElmId);
                        syncRegionTargetElm.innerHTML = syncRegionTemplate;
                    }
               
                    getElm(doSyncBtnElmId).removeAttribute("disabled");

                    if (typeof successCallback === "function") {
                        successCallback();
                    }
                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }

    function syncApp(progressElmId, responseElmId, appNameVal, ociImagePathVal, ociImageTagNameVal, syncReferenceRegionTargetElmName, syncRegionTargetElmName, envInitialTimeoutVal, envIdleTimeoutVal, configRestartOnSyncVal, doSyncBtnElmId, detailResponseElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;

        if (valid == true) {
            if (appNameVal.length == 0) {
                showText(responseElm, 'App Name Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (ociImagePathVal.length == 0) {
                showText(responseElm, 'OCI Image Path Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (ociImageTagNameVal.length == 0) {
                showText(responseElm, 'OCI Image Tag Name Cannot be Empty', 'red');
                valid = false;
            }
        }

        let syncReferenceRegion = "";
        var syncReferenceRegionRadios = document.getElementsByName(syncReferenceRegionTargetElmName);
        for (var i = 0; i < syncReferenceRegionRadios.length; i++) {
            // And stick the checked ones onto an array...
            if (syncReferenceRegionRadios[i].checked) {
                syncReferenceRegion = syncReferenceRegionRadios[i].value;
            }
        }

        if (valid == true) {
            if (syncReferenceRegion.length == 0) {
                showText(responseElm, 'Select at least 1 Reference Region', 'red');
                valid = false;
            }
        }

        let syncRegionList = [];
        var syncRegionCheckboxes = document.getElementsByName(syncRegionTargetElmName);
        for (var i = 0; i < syncRegionCheckboxes.length; i++) {
            // And stick the checked ones onto an array...
            if (syncRegionCheckboxes[i].checked) {
                syncRegionList.push(syncRegionCheckboxes[i].value);
            }
        }

        if (valid == true) {
            if (syncRegionList.length == 0) {
                showText(responseElm, 'Select at least 1 Sync Region', 'red');
                valid = false;
            }
        }

        let apiToken = "";
        if (haveElm('appAPIToken') == true) {
            apiToken = getElm('appAPIToken').value;
        }
        if (apiToken.length == 0) {
            showText(responseElm, 'Enter the API Token', 'red');
            valid = false;
        }

        if (valid === true) {

            getElm(doSyncBtnElmId).setAttribute("disabled", true);

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/ServerApi';
            let apiMethod = 'SyncApp';

            let apiParams = {
                "apiToken": apiToken,
                "appName": appNameVal,
                "ociImagePath": ociImagePathVal,
                "ociImageTagName": ociImageTagNameVal,
                "referenceRegion": syncReferenceRegion,
                "syncRegions": syncRegionList,
                "envInitialTimeout": envInitialTimeoutVal,
                "envIdleTimeout": envIdleTimeoutVal,
                "configRestartOnSync": configRestartOnSyncVal
            };

            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');
                    getElm(doSyncBtnElmId).removeAttribute("disabled");

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('errorJson') === true) {
                        let errorJson = result.errorJson;
                        for (let i = 0; i < errorJson.length; i++) {
                            messageNo++;
                            let messageObj = errorJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green');

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('messageJson') === true)
                    {
                        let messageJson = result.messageJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:green'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    if (result.hasOwnProperty('warnJson') === true) {
                        let messageJson = result.warnJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
                else if (result.hasOwnProperty('warn') === true) {
                    showText(responseElm, result.warn, 'red');

                    let detailMessageHtml = "";
                    let messageNo = 0;
                    if (result.hasOwnProperty('warnJson') === true) {
                        let messageJson = result.warnJson;
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++;
                            let messageObj = messageJson[i];
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>";
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml;
                    showElm(detailResponseElmId);
                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }

</script>

