<div class="ar-flex-content-spaced" style="{{@TopHidden}}display:none;{{/TopHidden}}width:100%;" title="UpdateJsonTop">
    {{@HavePreviousPage}}
    <button class="border ar-flex-item" style="min-width:25px;height:30px;color:black;font-weight:bolder;"
            onclick="return refreshEditorJson('{{$ViewID}}', '{{$ViewID}}PreviousJsonEditorProgress',
            'JsonObjectJsonArray', '{{$PreviousPage}}', '{{$PageNoArray}}', '{{$PageNoArrayItem}}');">
        < <span id="{{$ViewID}}PreviousJsonEditorProgress"></span>
    </button>
    {{/HavePreviousPage}}
    {{^HavePreviousPage}}
    <button class="border ar-flex-item" style="min-width:25px;height:30px;color:black;font-weight:bolder;" disabled><</button>
    <span id="{{$ViewID}}PreviousJsonEditorProgress"></span>
    {{/HavePreviousPage}}

    <div class="ar-flex-item-stretch">
        <div style="display:none;">{{$Title}}</div>
    </div>

    {{@HaveNextPage}}
    <button class="border ar-flex-item" style="min-width:25px;height:30px;color:black;font-weight:bolder;"
            onclick="return refreshEditorJson('{{$ViewID}}', '{{$ViewID}}NextJsonEditorProgress',
            'JsonObjectJsonArray', '{{$NextPage}}', '{{$PageNoArray}}', '{{$PageNoArrayItem}}')">
        > <span id="{{$ViewID}}NextJsonEditorProgress"></span>
    </button>
    {{/HaveNextPage}}
    {{^HaveNextPage}}
    <button class="border ar-flex-item" style="min-width:25px;height:30px;color:black;font-weight:bolder;" disabled>></button>
    <span id="{{$ViewID}}NextJsonEditorProgress"></span>
    {{/HaveNextPage}}
    <button class="ar-border" style="min-width: 30px; height: 30px; margin-left:3px; text-align: center; color: black; font-weight: bolder;" id="{{$ViewID}}RefreshEditorJsonBtn"
            onclick="refreshEditorJson('{{$ViewID}}', '{{$ViewID}}JsonEditorRefreshProgress',
            'JsonObjectJsonArray', '{{$PageNo}}', '{{$PageNoArray}}', '{{$PageNoArrayItem}}')">
        <span id="{{$ViewID}}JsonEditorRefreshProgress"></span>
        <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path></svg>
    </button>
</div>
<hr class="ar-flex-item-stretch" style="{{@TopHidden}}display:none;{{/TopHidden}}background-color:black;margin: -1px 4px" />
