


<div id="appIdle" class="border" style="margin: 5px 0px;padding: 5px;">

    <div class="notification" id="setAppIdleResponseContainer" style="margin:5px; padding:10px;display:none;">
        <button class="delete" onclick="hideElm('setAppIdleResponseContainer')"></button>
        <div id="setAppIdleResponse"></div>
    </div>

    <div style="margin: 0 auto;position:relative; overflow:auto">

        <div style="text-align:center;">
            Idle Timeout <span id="setAppIdleProgress"></span>
        </div>

        <div class="flex-input-wrap" style="margin: 5px 0px;">
            <select class="flex-item-stretch border-left" style="height: 40px; padding:0 0 0 10px; background-color: white;" id="idleTimeOut">
                <option value="60">1 Min</option>
                <option selected="selected" value="300">5 Min</option>
                <option value="600">10 Min</option>
                <option value="1800">30 Min</option>
                <option value="3600">1 Hour</option>
                <!--
                <option value="10800">3 Hour</option>
                <option value="28800">8 Hour</option>
                <option value="43200">12 Hour</option>
                <option value="86400">1 Day</option>
                <option value="259200">3 Day</option>
                <option value="604800">7 Day</option>
                -->
            </select>
            <button class="border-right" style="width:160px;height:40px" id="setAppIdleBtn" onclick="setAppIdleShutdownTime('setAppIdleProgress', 'setAppIdleResponse', getElm('idleTimeOut').value)">
                Set Idle Timeout
            </button>
        </div>

    </div>
</div>

{{AppIdleJs}}