

<div style="margin: 5px 0px; " class="ar-flex-input-wrap">
    <button class="ar-flex-item-stretch ar-border" style="height:40px;" onclick="if (isHiddenElm('appCert') == true) { clearAppCertInfo(); retrieveAppCertInfo('appCertProgress', 'appCertResponse', '', 'updateCertAppName', 'certDNSDomain', 'certDNSProviderName', 'doGetDNSChallenge', function () { showElm('appCert'); }); } else { hideElm('appCert'); }">
        Update Certificate <span id="appCertProgress"></span>
    </button>
</div>

<div class="ar-notification" id="appCertResponseContainer" style="text-align:center;display:none;margin:5px 10px;">
    <button class="ar-delete" onclick="hideElm('appCertResponseContainer')"></button>
    <div id="appCertResponse"></div>
</div>

<div id="appCert" class="ar-border" style="margin: 5px 0px; padding: 5px; display: none; position: relative;">

    <label style="position:absolute;left:5px;top:-6px; margin: 5px 0px; text-align: right">
        <input id="appCertShowAdvancedOption" type="checkbox" title="Show Advanced Options" onclick="toggleElm('customCertRegistrationDiv'); toggleElm('certDomainSelectDiv'); toggleElm('certCustomDomainSelectDiv'); toggleElm('doUpdateDNSChallenge'); toggleElm('doUpdateCustomDNSChallenge'); ">
    </label>

    <div class="ar-flex-input-wrap" style="margin: 10px 0px 5px 0px;">
        <label style="width:100%;margin: 5px 0px;">App Name <span style="padding-left:5px; font-size:xx-small;color:orangered;">(If empty set FLY_APP_NAME environment variable and restart)</span></label>
        <button style="width: 40px; text-align:center;" class="ar-button ar-border-left" onclick="openFlyUrl('updateCertAppName')">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
            </svg>
        </button>
        <input id="updateCertAppName" class="ar-select ar-flex-item-stretch ar-border-top-bottom" style="background-color: gray;" autocomplete="off" type="text" placeholder="Upload App Name" readonly />
        <button class="ar-button ar-border-right" style="background-color: #209cee; width:100px; " onclick="clearAppCertInfo();retrieveAppCertInfo('appCertProgress', 'appCertResponse', getElm('updateCertAppName').value, 'updateCertAppName', 'certDNSDomain', 'certDNSProviderName', 'doGetDNSChallenge')">
            Refresh
        </button>
    </div>

    <div class="ar-flex-input-wrap" style="margin: 5px 0px;" id="certDomainSelectDiv">
        <button class="ar-button ar-border-left" style="width: 100px; background-color: black; color: white; font-size: small;">
            Domain Of
        </button>
        <select id="certDNSDomain" class="ar-select ar-flex-item-stretch ar-border-right" style="background-color:white;">
            <option selected="selected">arshucs.com</option>
        </select>
    </div>

    <div class="ar-flex-input-wrap" style="margin: 5px 0px;display:none;" id="certCustomDomainSelectDiv">
        <button class="ar-button ar-border-left" style="width: 100px; background-color: black; color: white; font-size:small;">
            Domain Of
        </button>
        <input class="ar-input ar-flex-item-stretch ar-border-right" id="certCustomDNSDomain" autocomplete="off" type="text" placeholder="Your Domain Name" value="{{$DNSHostName}}" />
    </div>

    <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
        <label style="width:100%;margin: 5px 5px;">
            Email
        </label>
        <input class="ar-input ar-flex-item-stretch ar-border" id="certContactEmail" autocomplete="off" type="text" placeholder="Your Contact Email" value="{{$CertContactEmail}}" />
    </div>

    <div class="ar-flex-content-wrap" style="margin:15px 0px 15px 0px;">
        <label class="ar-flex-item-stretch" style="text-align: center">
            Get Wildcard Cert
            <input id="getWildcardCert" type="checkbox" title="Get Wildcard Certificate" style="margin-left: 5px;" checked="checked">
        </label>
    </div>

    <div class="ar-flex-content-wrap" style="margin: 15px 0px;">
        <button class="ar-button ar-border" id="doGetDNSChallenge" style="background-color:#209cee;" tabindex="4" disabled="disabled"
                onclick="clearAppChallenge(); getDNSChallenge('doGetDNSChallengeProgress', 'doGetDNSChallengeResponse', getElm('updateCertAppName').value, getElm('certContactEmail').value, getElm('certDNSDomain').value, getElm('getWildcardCert').checked, 'updateCertOrderLocation', 'updateCertChallengeUrl1', 'updateCertChallengeUrl2', 'updateCertChallengeDNSTxt1', 'updateCertChallengeDNSTxtValue1', 'updateCertChallengeDNSTxt2', 'updateCertChallengeDNSTxtValue2', 'doGetDNSChallenge', 'doUpdateDNSChallenge', 'doUpdateCustomDNSChallenge', 'doVerifyChallenges')">
            Get Cert Challenge <span id="doGetDNSChallengeProgress"></span>
        </button>
    </div>

    <div class="ar-notification" id="doGetDNSChallengeResponseContainer" style="text-align:center;display:none;margin:5px 10px;">
        <button class="ar-delete" onclick="hideElm('doGetDNSChallengeResponseContainer')"></button>
        <div id="doGetDNSChallengeResponse"></div>
    </div>

    <fieldset id="updateCertChallenge" class="ar-border" style="padding: 5px;">
        <legend>Cert Challenge</legend>

        <div class="ar-flex-input-wrap" style="display:none;">
            <input id="updateCertOrderLocation" class="ar-input ar-border" type="hidden" value="" readonly />
            <input id="updateCertChallengeUrl1" class="ar-input ar-border" type="hidden" value="" readonly />
            <input id="updateCertChallengeUrl2" class="ar-input r-border" type="hidden" value="" readonly />
        </div>

        <div class="ar-flex-content-spaced" style="margin: 0px;">
            <label class="ar-flex-item-stretch">DNS Txt 1</label>
            <label class="ar-flex-item-stretch">DNS Txt Value 1</label>
        </div>
        <div class="ar-flex-content-spaced" style="margin: 0px; padding: 0px;">
            <input id="updateCertChallengeDNSTxt1" class="ar-input ar-border" style="width:48%;margin:0 5px 0 0;" type="text" placeholder="Your DNS Txt 1" value="" readonly />
            <input id="updateCertChallengeDNSTxtValue1" class="ar-input ar-border" style="width: 48%; margin: 0 0 0 5px " type="text" placeholder="Your DNS Txt Value 1" value="" readonly />
        </div>

        <div class="ar-flex-content-spaced" style="margin: 0px;">
            <label class="ar-flex-item-stretch">DNS Txt 2</label>
            <label class="ar-flex-item-stretch">DNS Txt Value 2</label>
        </div>
        <div class="ar-flex-content-spaced" style="margin: 0px; padding: 0px;">
            <input id="updateCertChallengeDNSTxt2" class="ar-input ar-border" style="width:48%;margin:0 5px 0 0;" type="text" placeholder="Your DNS Txt 2" value="" readonly />
            <input id="updateCertChallengeDNSTxtValue2" class="ar-input ar-border" style="width: 48%; margin: 0 0 0 5px " type="text" placeholder="Your DNS Txt Value 2" value="" readonly />
        </div>

    </fieldset>

    <fieldset id="customCertRegistrationDiv" class="ar-border" style="display: none; padding: 5px;">
        <legend>Custom Cert Registration</legend>

        <div class="ar-flex-input-wrap" style="margin: 15px 0px 0 0;">
            <button class="ar-button ar-border-left" style="width: 100px; background-color: black; color: white;">
                Provider
            </button>
            <select id="certDNSProviderName" class="ar-select ar-flex-item-stretch ar-border-right" style="background-color:white;">
                <option>porkbun.com</option>
            </select>
        </div>

        <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
            <label style="width:100%;margin: 5px 5px;">
                API Key
            </label>
            <input class="ar-input ar-flex-item-stretch ar-border" id="certDNSProviderKey" autocomplete="off" type="password" placeholder="Your Provider Key" value="{{$DNSProviderAPIKey}}" />
        </div>

        <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
            <label style="width:100%;margin: 5px 5px;">
                Secret Key
            </label>
            <input class="ar-input ar-flex-item-stretch ar-border" id="certDNSProviderSecret" autocomplete="off" type="password" placeholder="Your Provider Key" value="{{$DNSProviderSecretKey}}" />
        </div>

    </fieldset>

    <div class="ar-flex-content-wrap" style="margin: 15px 0px;">
        <button class="ar-button ar-border" id="doUpdateDNSChallenge" style="background-color:#209cee;" tabindex="4" disabled="disabled"
                onclick="updateDNSChallenge('doUpdateDNSChallengeProgress', 'doUpdateDNSChallengeResponse', getElm('updateCertAppName').value, getElm('certDNSDomain').value, getElm('getWildcardCert').checked, getElm('updateCertChallengeDNSTxt1').value, getElm('updateCertChallengeDNSTxtValue1').value, getElm('updateCertChallengeDNSTxt2').value, getElm('updateCertChallengeDNSTxtValue2').value, 'doUpdateDNSChallenge', 'doVerifyChallenges')">
            Update DNS Challenge <span id="doUpdateDNSChallengeProgress"></span>
        </button>
        <button class="ar-button ar-border" id="doUpdateCustomDNSChallenge" style="background-color:#209cee;display:none" tabindex="4" disabled="disabled"
                onclick="updateCustomDNSChallenge('doUpdateDNSChallengeProgress', 'doUpdateDNSChallengeResponse', getElm('updateCertAppName').value, getElm('certDNSProviderName').value, getElm('certDNSProviderKey').value, getElm('certDNSProviderSecret').value, getElm('certCustomDNSDomain').value, getElm('getWildcardCert').checked, getElm('updateCertChallengeDNSTxt1').value, getElm('updateCertChallengeDNSTxtValue1').value, getElm('updateCertChallengeDNSTxt2').value, getElm('updateCertChallengeDNSTxtValue2').value, 'doUpdateDNSChallenge', 'doVerifyChallenges')">
            Update Custom DNS Challenge <span id="doUpdateDNSChallengeProgress"></span>
        </button>
    </div>

    <div class="ar-notification" id="doUpdateDNSChallengeResponseContainer" style="text-align:center;display:none;margin:5px 10px;">
        <button class="ar-delete" onclick="hideElm('doUpdateDNSChallengeResponseContainer')"></button>
        <div id="doUpdateDNSChallengeResponse"></div>
    </div>

    <div class="ar-flex-content-wrap" style="margin: 15px 0px;">

        <button class="ar-button ar-border" id="doVerifyChallenges" style="background-color:#209cee;" tabindex="4"
                onclick="verifyDNSChallenges('doVerifyChallengeProgress', 'doUpdateDNSChallengeResponse', getElm('updateCertAppName').value, getElm('certContactEmail').value, getElm('certDNSDomain').value, getElm('getWildcardCert').checked, getElm('updateCertChallengeDNSTxtValue1').value, getElm('updateCertChallengeUrl1').value, getElm('updateCertChallengeDNSTxtValue2').value, getElm('updateCertChallengeUrl2').value, 'doVerifyChallenges', 'doDownloadCert')">
            Verify DNS Challenge <span id="doVerifyChallengeProgress"></span>
        </button>
    </div>

    <div class="ar-flex-content-wrap" style="margin: 15px 0px;">
        <button class="ar-button ar-border" id="doDownloadCert" style="background-color:#209cee;" tabindex="4"
                onclick="downloadDNSCertificate('doDownloadCertificateProgress', 'doUpdateDNSChallengeResponse', getElm('updateCertAppName').value, getElm('certContactEmail').value, getElm('certDNSDomain').value, getElm('getWildcardCert').checked, getElm('updateCertOrderLocation').value, 'doDownloadCert')">
            Download DNS Certificate<span id="doDownloadCertificateProgress"></span>
        </button>

    </div>

    <div class="ar-flex-content-wrap" style="margin: 15px 0px;display:none;">
        <button class="ar-button ar-border" id="doVerifyDownloadCert" style="background-color:#209cee;" tabindex="4"
                onclick="updateVerifyDNSChallengeDownloadCertificate('doVerifyDownloadProgress', 'doUpdateDNSChallengeResponse', getElm('updateCertAppName').value, getElm('certContactEmail').value, getElm('certDNSDomain').value, getElm('getWildcardCert').checked, 'doVerifyDownloadCert')">
            Update Verify DNS and Download Certificate<span id="doVerifyDownloadProgress"></span>
        </button>
    </div>

</div>

{{AppCertJs}}
