
<script type="text/javascript">

    function clearAppChallenge(){

        getElm('updateCertChallengeDNSTxt1').value = ""
        getElm('updateCertChallengeDNSTxtValue1').value = ""
        getElm('updateCertChallengeDNSTxt2').value = ""
        getElm('updateCertChallengeDNSTxtValue2').value = "";

        getElm('doUpdateDNSChallenge').setAttribute("disabled", true)
        getElm('doUpdateCustomDNSChallenge').setAttribute("disabled", true)
        getElm('doVerifyChallenges').setAttribute("disabled", true);
        getElm('doDownloadCert').setAttribute("disabled", true);
        //getElm('doVerifyDownloadCert').setAttribute("disabled", true);
    }

    function clearAppCertInfo() {

        getElm('doGetDNSChallenge').setAttribute("disabled", true);

        clearAppChallenge();
    }

    function retrieveAppCertInfo(progressElmId, responseElmId, certAppNameVal, appNameElmId, domainNameSelectElmId, providerNameSelectElmId, doUpdateBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;

        let apiToken = "";
        if (haveElm('appAPIToken') == true) {
            apiToken = getElm('appAPIToken').value;
        }
        //if (apiToken.length == 0) {
        //    showText(responseElm, 'Enter the API Token', 'red');
        //    valid = false;
        //}

        if (valid === true) {

            getElm(doUpdateBtnElmId).setAttribute("disabled", true);

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/SecureApi';
            let apiMethod = 'RetrieveAppCertInfo';

            let apiParams = {
                "apiToken": apiToken,
                "certAppName": certAppNameVal
            };

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');

                    getElm(doUpdateBtnElmId).removeAttribute("disabled");

                    if (typeof failureCallback === "function") {
                        failureCallback();
                    }
                }
                //else if (result.hasOwnProperty('message') === true) {
                //    showText(responseElm, result.message, 'green');

                //    if (typeof successCallback === "function") {
                //        successCallback();
                //    }
                //}
                else {
                    if (result.hasOwnProperty('AppName') === true) {
                        getElm(appNameElmId).value = result.AppName;


                        if (result.hasOwnProperty('DNSList') === true) {
                            let dnsListArray = result.DNSList

                            let selectElm = getElm(domainNameSelectElmId)
                            if (selectElm) {
                                selectElm.options.length = 0
                                for (let i = 0; i < dnsListArray.length; i++) {
                                    let dnsInfo = dnsListArray[i]
                                    let selectText = ""
                                    if (dnsInfo.hasOwnProperty('DomainName') === true) {
                                        selectText = dnsInfo.DomainName
                                    }
                                    let selectValue = ""
                                    if (dnsInfo.hasOwnProperty('DomainName') === true) {
                                        selectValue = dnsInfo.DomainName
                                    }
                                    selectElm.options[selectElm.options.length] = new Option(selectText, selectValue)
                                    if (selectText.indexOf("arshucs") > -1) {
                                        if (selectText.endsWith("arshucs") == true) {
                                            selectElm.selectedIndex = selectElm.options.length - 1
                                        }
                                    }
                                }
                            }
                        }

                        if (result.hasOwnProperty('DNSProviderList') === true) {
                            let dnsProviderListArray = result.DNSProviderList

                            let selectElm = getElm(providerNameSelectElmId)
                            if (selectElm) {
                                selectElm.options.length = 0
                                for (let i = 0; i < dnsProviderListArray.length; i++) {
                                    let dnsProviderInfo = dnsProviderListArray[i]
                                    let selectText = ""
                                    if (dnsProviderInfo.hasOwnProperty('ProviderName') === true) {
                                        selectText = dnsProviderInfo.ProviderName
                                    }
                                    let selectValue = ""
                                    if (dnsProviderInfo.hasOwnProperty('ProviderName') === true) {
                                        selectValue = dnsProviderInfo.ProviderName
                                    }
                                    selectElm.options[selectElm.options.length] = new Option(selectText, selectValue)
                                    if (selectText.indexOf("porkbun") > -1) {
                                        if (selectText.endsWith("porkbun") == true) {
                                            selectElm.selectedIndex = selectElm.options.length - 1
                                        }
                                    }
                                }
                            }
                        }

                        getElm(doUpdateBtnElmId).removeAttribute("disabled");

                        if (typeof successCallback === "function") {
                            successCallback();
                        }
                    }
                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }

    function getDNSChallenge(progressElmId, responseElmId, appNameVal, accountEmailVal, domainNameVal, getWildcardCertVal, certOrderLocationElmId, certChallengeUrl1ElmId, certChallengeUrl2ElmId, certChallenge1TxtElmId, certChallenge1TxtValueElmId, certChallenge2TxtElmId, certChallenge2TxtValueElmId, getBtnElmId, updateBtnElmId, updateCustomBtnElmId, verifyBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++
        let responseElm = getElm(responseElmId)
        let responseContainerElmId = responseElmId + "Container"
        responseElm.textContent = ''
        hideElm(responseContainerElmId)

        let valid = true

        if (valid == true) {
            if (appNameVal.length == 0) {
                showText(responseElm, 'App Name Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (accountEmailVal.length == 0) {
                showText(responseElm, 'Account Email Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (domainNameVal.length == 0) {
                showText(responseElm, 'Domain Name Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid === true) {

            getElm(getBtnElmId).setAttribute("disabled", true)
            getElm(updateBtnElmId).setAttribute("disabled", true)

            let isRealtime = false
            let realtimeDomain = ""

            let apiUrl = '/AppApi/SecureApi'
            let apiMethod = 'RetrieveDNSChallenges'

            let apiParams = {
                "appName": appNameVal,
                "accountEmail": accountEmailVal,
                "domainName": domainNameVal,
                "isWildcard": getWildcardCertVal
            }

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId)

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red')

                    getElm(getBtnElmId).removeAttribute("disabled")

                    if (typeof failureCallback === "function") {
                        failureCallback()
                    }
                }
                else if (result.hasOwnProperty('message') === true) {
                    //showText(responseElm, result.message, 'green');

                    if (result.hasOwnProperty('CertOrderLocation') === true) {
                        getElm(certOrderLocationElmId).value = result.CertOrderLocation
                    } else {
                        getElm(certOrderLocationElmId).value = ""
                    }

                    if (result.hasOwnProperty('CertChallengeUrl1') === true) {
                        getElm(certChallengeUrl1ElmId).value = result.CertChallengeUrl1
                    } else {
                        getElm(certChallengeUrl1ElmId).value = ""
                    }

                    if (result.hasOwnProperty('CertChallengeUrl2') === true) {
                        getElm(certChallengeUrl2ElmId).value = result.CertChallengeUrl2
                    } else {
                        getElm(certChallengeUrl2ElmId).value = ""
                    }

                    if (result.hasOwnProperty('CertChallengeDNSTxt1') === true) {
                        getElm(certChallenge1TxtElmId).value = result.CertChallengeDNSTxt1
                    } else {
                        getElm(certChallenge1TxtElmId).value = ""
                    }
                    if (result.hasOwnProperty('CertChallengeDNSTxtValue1') === true) {
                        getElm(certChallenge1TxtValueElmId).value = result.CertChallengeDNSTxtValue1
                    } else {
                        getElm(certChallenge1TxtValueElmId).value = ""
                    }
                    if (result.hasOwnProperty('CertChallengeDNSTxt2') === true) {
                        getElm(certChallenge2TxtElmId).value = result.CertChallengeDNSTxt2
                    } else {
                        getElm(certChallenge2TxtElmId).value = ""
                    }
                    if (result.hasOwnProperty('CertChallengeDNSTxtValue2') === true) {
                        getElm(certChallenge2TxtValueElmId).value = result.CertChallengeDNSTxtValue2
                    } else {
                        getElm(certChallenge2TxtValueElmId).value = ""
                    }

                    getElm(updateBtnElmId).removeAttribute("disabled");
                    getElm(updateCustomBtnElmId).removeAttribute("disabled")
                    //getElm(verifyBtnElmId).removeAttribute("disabled");

                    if (typeof successCallback === "function") {
                        successCallback()
                    }
                }
            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "")
        }

        return false
    }

    function updateDNSChallenge(progressElmId, responseElmId, appNameVal, domainNameVal, getWildcardCertVal, dnsTxt1Val, dnsTxtValue1Val, dnsTxt2Val, dnsTxtValue2Val, updateBtnElmId, verifyBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++
        let responseElm = getElm(responseElmId)
        let responseContainerElmId = responseElmId + "Container"
        responseElm.textContent = ''
        hideElm(responseContainerElmId)

        let valid = true

        if (valid == true) {
            if (appNameVal.length == 0) {
                showText(responseElm, 'App Name Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (domainNameVal.length == 0) {
                showText(responseElm, 'Domain Name Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (dnsTxt1Val.length == 0) {
                showText(responseElm, 'DNS Txt 1 Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (dnsTxtValue1Val.length == 0) {
                showText(responseElm, 'DNS Txt Value 1 Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid === true) {

            getElm(updateBtnElmId).setAttribute("disabled", true)
            getElm(verifyBtnElmId).setAttribute("disabled", true)

            let isRealtime = false
            let realtimeDomain = ""

            let apiUrl = '/AppApi/SecureApi'
            let apiMethod = 'UpdateDNSChallenges'

            let apiParams = {
                "appName": appNameVal,
                "domainName": domainNameVal,
                "isWildcard": getWildcardCertVal,
                "dnsTxt1": dnsTxt1Val,
                "dnsTxtValue1": dnsTxtValue1Val,
                "dnsTxt2": dnsTxt2Val,
                "dnsTxtValue2": dnsTxtValue2Val
            }

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId)

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red')

                    getElm(updateBtnElmId).removeAttribute("disabled")

                    if (typeof failureCallback === "function") {
                        failureCallback()
                    }
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green');

                    getElm(verifyBtnElmId).removeAttribute("disabled")

                    if (typeof successCallback === "function") {
                        successCallback()
                    }
                }
            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "")
        }

        return false
    }

    function updateCustomDNSChallenge(progressElmId, responseElmId, appNameVal, providerNameVal, providerKeyVal, providerSecretVal, domainNameVal, getWildcardCertVal, dnsTxt1Val, dnsTxtValue1Val, dnsTxt2Val, dnsTxtValue2Val, updateBtnElmId, verifyBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++
        let responseElm = getElm(responseElmId)
        let responseContainerElmId = responseElmId + "Container"
        responseElm.textContent = ''
        hideElm(responseContainerElmId)

        let valid = true

        if (valid == true) {
            if (appNameVal.length == 0) {
                showText(responseElm, 'App Name Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (providerNameVal.length == 0) {
                showText(responseElm, 'Provider Name Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (providerKeyVal.length == 0) {
                showText(responseElm, 'Provider Key Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (providerSecretVal.length == 0) {
                showText(responseElm, 'Provider Secret Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (domainNameVal.length == 0) {
                showText(responseElm, 'Domain Name Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (dnsTxt1Val.length == 0) {
                showText(responseElm, 'DNS Txt 1 Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (dnsTxtValue1Val.length == 0) {
                showText(responseElm, 'DNS Txt Value 1 Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid === true) {

            getElm(updateBtnElmId).setAttribute("disabled", true)
            getElm(verifyBtnElmId).setAttribute("disabled", true)

            let isRealtime = false
            let realtimeDomain = ""

            let apiUrl = '/AppApi/SecureApi'
            let apiMethod = 'UpdateCustomDNSChallenges'

            let apiParams = {
                "appName": appNameVal,
                "providerName": providerNameVal,
                "providerKey": providerKeyVal,
                "providerSecret": providerSecretVal,
                "domainName": domainNameVal,
                "isWildcard": getWildcardCertVal,
                "dnsTxt1": dnsTxt1Val,
                "dnsTxtValue1": dnsTxtValue1Val,
                "dnsTxt2": dnsTxt2Val,
                "dnsTxtValue2": dnsTxtValue2Val
            }

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId)

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red')

                    getElm(updateBtnElmId).removeAttribute("disabled")

                    if (typeof failureCallback === "function") {
                        failureCallback()
                    }
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green')

                    getElm(verifyBtnElmId).removeAttribute("disabled")

                    if (typeof successCallback === "function") {
                        successCallback()
                    }
                }
            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "")
        }

        return false
    }

    function verifyDNSChallenges(progressElmId, responseElmId, appNameVal, accountEmailVal, domainNameVal, getWildcardCertVal, certChallengeTxt1Val, certChallengeUrl1Val, certChallengeTxt2Val, certChallengeUrl2Val, verifyBtnElmId, downloadBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++
        let responseElm = getElm(responseElmId)
        let responseContainerElmId = responseElmId + "Container"
        responseElm.textContent = ''
        hideElm(responseContainerElmId)

        let valid = true

        if (valid == true) {
            if (appNameVal.length == 0) {
                showText(responseElm, 'App Name Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (accountEmailVal.length == 0) {
                showText(responseElm, 'Account Email Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (domainNameVal.length == 0) {
                showText(responseElm, 'Domain Name Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid === true) {
            
            getElm(verifyBtnElmId).setAttribute("disabled", true)
            getElm(downloadBtnElmId).setAttribute("disabled", true)

            let isRealtime = false
            let realtimeDomain = ""

            let apiUrl = '/AppApi/SecureApi'
            let apiMethod = 'VerifyDNSChallenges'

            let apiParams = {
                "appName": appNameVal,
                "accountEmail": accountEmailVal,
                "domainName": domainNameVal,
                "isWildcard": getWildcardCertVal,
                "certChallengeTxt1": certChallengeTxt1Val,
                "certChallengeUrl1": certChallengeUrl1Val,
                "certChallengeTxt2": certChallengeTxt2Val,
                "certChallengeUrl2": certChallengeUrl2Val
            }

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId)

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red')

                    getElm(verifyBtnElmId).removeAttribute("disabled")

                    if (typeof failureCallback === "function") {
                        failureCallback()
                    }
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green')

                    getElm(downloadBtnElmId).removeAttribute("disabled")

                    if (typeof successCallback === "function") {
                        successCallback()
                    }
                }
            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "")
        }

        return false
    }

    function downloadDNSCertificate(progressElmId, responseElmId, appNameVal, accountEmailVal, domainNameVal, getWildcardCertVal, certOrderLocationVal, downloadBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++
        let responseElm = getElm(responseElmId)
        let responseContainerElmId = responseElmId + "Container"
        responseElm.textContent = ''
        hideElm(responseContainerElmId)

        let valid = true

        if (valid == true) {
            if (appNameVal.length == 0) {
                showText(responseElm, 'App Name Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (accountEmailVal.length == 0) {
                showText(responseElm, 'Account Email Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (domainNameVal.length == 0) {
                showText(responseElm, 'Domain Name Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid === true) {

            getElm(downloadBtnElmId).setAttribute("disabled", true)

            let isRealtime = false
            let realtimeDomain = ""

            let apiUrl = '/AppApi/SecureApi'
            let apiMethod = 'DownloadDNSCertificate'

            let apiParams = {
                "appName": appNameVal,
                "accountEmail": accountEmailVal,
                "domainName": domainNameVal,
                "isWildcard": getWildcardCertVal,
                "certOrderLocation": certOrderLocationVal
            }

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId)

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red')

                    getElm(downloadBtnElmId).removeAttribute("disabled")

                    if (typeof failureCallback === "function") {
                        failureCallback()
                    }
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green')

                    if (typeof successCallback === "function") {
                        successCallback()
                    }
                }
            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "")
        }

        return false
    }

    function updateVerifyDNSChallengeDownloadCertificate(progressElmId, responseElmId, appNameVal, accountEmailVal, domainNameVal, getWildcardCertVal, downloadBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++
        let responseElm = getElm(responseElmId)
        let responseContainerElmId = responseElmId + "Container"
        responseElm.textContent = ''
        hideElm(responseContainerElmId)

        let valid = true

        if (valid == true) {
            if (appNameVal.length == 0) {
                showText(responseElm, 'App Name Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (accountEmailVal.length == 0) {
                showText(responseElm, 'Account Email Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid == true) {
            if (domainNameVal.length == 0) {
                showText(responseElm, 'Domain Name Cannot be Empty', 'red')
                valid = false
            }
        }

        if (valid === true) {

            getElm(downloadBtnElmId).setAttribute("disabled", true)

            let isRealtime = false
            let realtimeDomain = ""

            let apiUrl = '/AppApi/SecureApi'
            let apiMethod = 'UpdateVerifyDNSChallengesAndDownload'

            let apiParams = {
                "appName": appNameVal,
                "accountEmail": accountEmailVal,
                "domainName": domainNameVal,
                "isWildcard": getWildcardCertVal
            }

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId)

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red')

                    if (typeof failureCallback === "function") {
                        failureCallback()
                    }
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green');
                  
                    getElm(downloadBtnElmId).removeAttribute("disabled")

                    if (typeof successCallback === "function") {
                        successCallback()
                    }
                }
            }

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "")
        }

        return false
    }


</script>

