

<div style="margin: 5px 0px; " class="ar-flex-input-wrap">
    <button class="ar-flex-item-stretch ar-border" style="height:40px;" onclick="if (isHiddenElm('appBackup') == true) { retrieveAppBackupInfo('appBackupProgress', 'appBackupResponse', '', 'backupAppName', 'backupImageName', 'backupTagName', 'sourceFolders', 'backupFolders', 'doBackupApp', function () { showElm('appBackup'); }); } else { hideElm('appBackup'); }">
        Backup App <div id="appBackupProgress"></div>
    </button>
</div>

<div class="ar-notification" id="appBackupResponseContainer" style="text-align:center;display:none;margin:5px 10px;">
    <button class="ar-delete" onclick="hideElm('appBackupResponseContainer')"></button>
    <div id="appBackupResponse"></div>
</div>

<div id="appBackup" class="ar-border" style="margin: 5px 0px;padding: 5px; display: none;">

    <div style="margin: 0 auto;position:relative; overflow:auto">

        <div class="ar-flex-input-wrap" style="margin: 10px 0px 5px 0px;">
            <label style="width:100%;margin: 5px 0px;">App Name</label>
            <input id="backupAppName" class="ar-input ar-flex-item-stretch ar-border-left" style="background-color: gray;" autocomplete="none" type="text" placeholder="Backup App Name" readonly />
            <button class="ar-button ar-border-right" style="background-color: #209cee; width: 100px;" onclick="retrieveAppBackupInfo('appBackupProgress', 'appBackupResponse', getElm('backupAppName').value, 'backupAppName', 'backupImageName', 'backupTagName', 'sourceFolders', 'backupFolders', 'doBackupApp');">
                Refresh
            </button>
        </div>

        <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
            <button class="ar-border-left" style="width: 95px; padding:0px 0 0 5px; background-color: black; color: white;">
                Source
            </button>
            <select id="sourceFolders" class="ar-select ar-flex-item-stretch ar-border-right" style="background-color:white;">
                <option>wwwroot</option>
            </select>
        </div>

        <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
            <button class="ar-border-left" style="width: 95px; padding:0px 0 0 5px; background-color: black; color: white;">
                Backup
            </button>
            <select id="backupFolders" class="ar-select ar-flex-item-stretch ar-border-right" style="background-color:white;">
                <option>wwwroot</option>
            </select>
        </div>

        <div class="ar-flex-content-spaced" style="margin: 0px;">
            <label class="ar-flex-item-stretch">Image Name</label>
            <label class="ar-flex-item-stretch">Tag Name</label>
        </div>
        <div class="ar-flex-content-spaced" style="margin: 0px;">
            <input class="ar-border" id="backupImageName" style="background-color: gray; width: 48%; height: 40px; margin: 0 5px 0px 0px;" type="text" placeholder="Your App Name" readonly />
            <input class="ar-border" id="backupTagName" style="width: 48%; height: 40px; margin: 0 0 0 5px; " type="text" placeholder="Your Tag Name" value="latest" />
        </div>

        <div class="ar-flex-content-wrap" style="margin: 0px;">

            <label class="ar-flex-item-stretch" style="margin: 5px 0px; text-align: center">
                Clear Backup Layer
                <input id="clearBackupLayer" type="checkbox" title="Clear Backup Layer" style="margin-left: 5px;" checked="checked">
            </label>

            <label class="ar-flex-item-stretch" style="margin: 5px 0px; text-align: center">
                AppData Overwrite
                <input id="appDataOverwrite" type="checkbox" title="AppData Overwrite" style="margin-left: 5px;">
            </label>

            <label class="ar-flex-item-stretch" style="margin: 5px 0px; text-align: center">
                Skip AppData Backup
                <input id="skipAppDataBackup" type="checkbox" title="Skip AppData Backup" style="margin-left: 5px;">
            </label>

        </div>

        <div class="ar-notification" id="doAppBackupResponseContainer" style="text-align:center;display:none;margin:5px 10px;">
            <button class="ar-delete" onclick="hideElm('doAppBackupResponseContainer')"></button>
            <div id="doAppBackupResponse"></div>
        </div>

        <div class="ar-flex-content-wrap" style="margin: 15px 0px;">
            <button class="ar-button ar-border" id="doBackupApp" style="background-color:#209cee;" tabindex="4" disabled="disabled"
                    onclick="backupAppFolder('doAppBackupProgress', 'doAppBackupResponse', getElm('backupAppName').value, getElm('backupImageName').value, getElm('backupTagName').value, getElm('sourceFolders').value, getElm('backupFolders').value, getElm('clearBackupLayer').checked, getElm('appDataOverwrite').checked, getElm('skipAppDataBackup').checked, 'doBackupApp')">
                Backup AppFolder <div id="doAppBackupProgress"></div>
            </button>
        </div>

    </div>

</div>

{{AppBackupJs}}