

<div class="ar-border" style="margin: 0 auto; padding:5px; position: relative; overflow: auto; background-color: white;">

    <div class="ar-flex-content" style="margin: 5px 0px; ">
        <label style="font-size:xx-small;color:blue">Request Count</label>
        <div class="ar-flex-item-stretch"></div>
        <label style="font-size:xx-small;color:blue">Request Delay</label>
    </div>

    <div class="ar-flex-content" style="margin: 5px 0px; ">
        <select class="ar-select ar-border" style="width:40px;" id="curlRequestCount" title="Request Count">
            <option value="1">1</option>
            <option selected="selected" value="2">2</option>
            <option>5</option>
            <option>10</option>
            <option>25</option>
        </select>
        <div class="ar-flex-item-stretch">
            <label style="width:100%;text-align:center;"
                   onclick="setTestUrl('curlUrl')">
                Curl Test Url
            </label>
        </div>
        <select class="ar-select ar-border" style="width: 60px;" id="curlDelayBetweenRequest" title="Delay Between Request">
            <option selected="selected" value="1000">1 sec</option>
            <option value="5000">5 sec</option>
            <option value="10000">10 sec</option>
            <option value="30000">30 sec</option>
        </select>
        <button class="ar-button ar-border-right" id="resultRefresh" style="display:none; width: 40px; text-align: center; position: relative;" onclick="showCurlMetrics('curlResultProgress', 'curlMetricsResponse', getElm('curlUrl').value);">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
            </svg>
        </button>
    </div>

    <div class="ar-flex-content" style="margin: 5px 0px; ">
        <input class="ar-input ar-flex-item-stretch ar-border" id="curlUrl" style="padding-left: 10px;" autocomplete="off" type="text" placeholder="Your Url to Test" autofocus="" value="" />
    </div>

    <span id="curlRefreshProgress"></span>

    <div class="ar-notification" id="curlRefreshResponseContainer" style="text-align:center;display:none;margin:5px 10px;">
        <button class="ar-delete" onclick="hideElm('curlRefreshResponseContainer')"></button>
        <div id="curlRefreshResponse"></div>
    </div>

    <div class="ar-flex-content">
        <button class="ar-sbutton ar-border" id="regionRefresh" title="Refresh Regions" style="width: 25px; text-align: center; position: relative;" onclick="fillServerRegions('curlRegionRefreshProgress', 'curlRefreshResponse', 'serverRegionsTemplate', 'serverRegions', 'curlTest', function () {  })">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
            </svg><span id="curlRegionRefreshProgress"></span>
        </button>
        <span style="color:blue;font-size:xx-small;max-width:60px;">Refresh to get active regions</span>
        <label class="ar-flex-item-stretch" style="text-align:center;">
            Test Regions<br />
        </label>
        <label style="text-align: right">
            All
            <input type="checkbox" title="All Regions" id="selectAll" onclick="selectAll('curlUrlRegion', getElm('selectAll').checked)">
        </label>
    </div>

    <div id="serverRegionsTemplate" style="display:none;">
        <div style="min-width:50px; margin: 5px 5px;" title="{RegionName}-{RegionCode}">
            <label style="{RegionStyle}">
                <input type="checkbox" name="{RegionTagName}" title="{RegionPrice}" checked="checked" disabled="disabled" value="{RegionCode}"> {RegionName}
            </label>
        </div>
    </div>

    <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
        <div id="serverRegions" class="ar-border" style="min-height:35px; display: flex; flex-flow: row wrap; justify-content: space-around; width: 100%; ">
            {{@RegionList}}
            <div style="min-width:50px; margin: 5px 5px;" title="{{$RegionName}}-{{$RegionCode}}">
                <label style="{{@RegionStatus}}color:green{{/RegionStatus}}{{^RegionStatus}}color:gray{{/RegionStatus}};padding: 7px 0px 0 0px;">
                    <input type="checkbox" name="curlUrlRegion" title="{{$RegionPricePerMonth}}" {{@RegionCode('RegionCode':'{$CurrentRegion}')}} checked="checked" {{/RegionCode}} {{@RegionStatus}} {{/RegionStatus}} {{^RegionStatus}} disabled="disabled" {{/RegionStatus}} value="{{$RegionCode}}"> {{$RegionName}}
                </label>
            </div>
            {{/RegionList}}
        </div>
        <span style="color:blue;font-size:xx-small">Select a maximum of {{$MaxTestRegions}} regions per test as guest, login as admin after self-host to test for all regions</span>
    </div>

    <div class="ar-flex-content-wrap" style="margin: 0px;">

        <label class="ar-flex-item-stretch" style="margin: 5px 0px; text-align: center; display:none;">
            Use Internal Direct Url (Replay Header Not Required)
            <input id="useInternalUrl" type="checkbox" title="Use Internal Direct Url (Replay Header Not Required)" style="margin-left: 5px;">
        </label>

    </div>

    <div class="ar-flex-content-wrap">
        <div class="ar-notification" id="curlActionResponseContainer" style="text-align:center;display:none;">
            <svg fill="currentColor" width="16px" height="16px" viewBox="0 0 32 32" xml:space="preserve"
                 style="position:absolute;left:0px;top:0px;"
                 onclick="toggleElm('curlDetailResponse')">
            <g>
            <path d="M17.962,24.725l1.806,0.096v2.531h-7.534v-2.406l1.045-0.094c0.568-0.063,0.916-0.254,0.916-1.014v-8.801
                    c0-0.699-0.188-0.92-0.791-0.92l-1.106-0.062v-2.626h5.666L17.962,24.725L17.962,24.725z M15.747,4.648
                    c1.394,0,2.405,1.047,2.405,2.374c0,1.331-1.014,2.313-2.438,2.313c-1.454,0-2.404-0.982-2.404-2.313
                    C13.31,5.695,14.26,4.648,15.747,4.648z M16,32C7.178,32,0,24.822,0,16S7.178,0,16,0c8.82,0,16,7.178,16,16S24.82,32,16,32z M16,3
                    C8.832,3,3,8.832,3,16s5.832,13,13,13s13-5.832,13-13S23.168,3,16,3z" />
                </g>
            </svg>
            <button class="ar-delete" onclick="hideElm('curlActionResponseContainer')"></button>
            <span id="curlActionResponse"></span>
        </div>
    </div>

    <div id="curlDetailResponse" style="font-size:x-small;text-align:center;display:none;">
    </div>

    <div class="ar-flex-content-wrap" style="margin: 5px 0px 0px 0px;">
        <button class="ar-button ar-border" id="curlTest" style="background-color:#209cee;"
                onclick="return doCurlTest('curlActionProgress', 'curlActionResponse', getElm('curlUrl').value, 'curlUrlRegion', getElm('curlRequestCount').value, getElm('curlDelayBetweenRequest').value, getElm('useInternalUrl').checked, 'curlTest', 'curlDetailResponse', function () { triggerEvent('refreshUrlMetrics', 'click') }, function () { triggerEvent('refreshServerMetrics', 'click') })">
            Do Multi Region Speed Test <span id="curlActionProgress"></span>
        </button>
    </div>

    <span id="curlResultProgress"></span>

</div>

{{CurlCmdJs}}

<script type="text/javascript">

    ready(() => {
        triggerEvent('regionRefresh', 'click')
    });

</script>

{{CurlMetrics}}
