
<script type="text/javascript">

    window.ajaxid = 0;

    function fillServerRegions(progressElmId, responseElmId, regionTemplateElmId, regionTargetElmId, actionBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;

        if (valid === true) {

            disableElms();

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/CmdApi';
            let apiMethod = 'GetServerRegionInfo';

            let apiParams = {};

            let processReturn = function (result, responseElmId, successCallback) {

                enableElms();

                let responseElm = getElm(responseElmId);
                getElm(actionBtnElmId).removeAttribute("disabled");

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');
                }
                else if (result.hasOwnProperty('message') === true) {
                    //showText(responseElm, result.message, 'green');

                    if (typeof successCallback === "function") {
                        successCallback();
                    }
                }
                else if (result.hasOwnProperty('data') === true) {

                    let data = result.data;
                    let currentRegion = "sin";
                    if (result.hasOwnProperty("info") === true) {
                        currentRegion = result.info;
                    }

                    let templateElm = getElm(regionTemplateElmId);
                    let templateHtml = templateElm.innerHTML;

                    let regionTemplate = "";
                    for (var i = 0; i < data.length; i++) {
                        let regionJson = data[i];

                        let regionCode = ""
                        if (regionJson.hasOwnProperty('RegionCode') === true) {
                            regionCode = regionJson.RegionCode
                        }

                        let regionStatus = ""
                        if (regionJson.hasOwnProperty('RegionStatus') === true) {
                            regionStatus = regionJson.RegionStatus
                        }

                        let regionName = regionCode
                        if (regionJson.hasOwnProperty('RegionName') === true) {
                            regionName = regionJson.RegionName
                        }
                        let regionPrice = ""
                        if (regionJson.hasOwnProperty('RegionPricePerMonth') === true) {
                            regionPrice = regionJson.RegionPricePerMonth
                        }

                        let regionLatitude = ""
                        if (regionJson.hasOwnProperty('RegionLatitude') === true) {
                            regionLatitude = regionJson.RegionLatitude
                        }
                        let regionLongitude = ""
                        if (regionJson.hasOwnProperty('RegionLongitude') === true) {
                            regionLongitude = regionJson.RegionLongitude
                        }

                        let templateItem = templateHtml
                        if (regionStatus == true) {
                            templateItem = templateItem.replace(/disabled="disabled"/g, "")
                            templateItem = templateItem.replace(/{RegionStyle}/g, "padding: 7px 0px 0 0px;color:green;")
                        } else {
                            templateItem = templateItem.replace(/{RegionStyle}/g, "padding: 7px 0px 0 0px;color:gray")
                        }

                        if (regionCode != currentRegion) {
                            templateItem = templateItem.replace(/checked="checked"/g, "")
                        }
                        templateItem = templateItem.replace(/{RegionTagName}/g, 'curlUrlRegion')
                        templateItem = templateItem.replace(/{RegionCode}/g, regionCode)
                        templateItem = templateItem.replace(/{RegionName}/g, regionName)
                        templateItem = templateItem.replace(/{RegionPrice}/g, regionPrice)

                        regionTemplate = regionTemplate + templateItem;
                    }
                    let targetElm = getElm(regionTargetElmId);
                    targetElm.innerHTML = regionTemplate;

                    if (typeof successCallback === "function") {
                        successCallback();
                    }
                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }

    function doCurlTest(progressElmId, responseElmId, curlUrl, regionTargetElmName, requestCountVal, delayBetweenRequestVal, useInternalUrlVal, actionBtnElmId, detailResponseElmId, refreshCallback, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        hideElm(detailResponseElmId)
        let detailResponseElm = getElm(detailResponseElmId)
        detailResponseElm.textContent = '';

        let valid = true;
        let regionList = [];

        var regionCheckboxes = document.getElementsByName(regionTargetElmName);
        for (var i = 0; i < regionCheckboxes.length; i++) {
            // And stick the checked ones onto an array...
            if (regionCheckboxes[i].checked) {
                regionList.push(regionCheckboxes[i].value);
            }
        }

        if (regionList.length == 0) {
            valid = false
            showText(responseElm, 'Select at least a Single region', 'red')
        }

        //CmdMaxRegionCount
        if (regionList.length > parseInt('{{$MaxTestRegions}}')) {
            valid = false
            showText(responseElm, 'Select maximum of [{{$MaxTestRegions}}] regions to test', 'red')
        }

        if (curlUrl.length == 0) {
            valid = false;
            showText(responseElm, 'Enter the Test Url', 'red');
        }

        if (valid === true) {

            getElm(actionBtnElmId).setAttribute("disabled", true);

            let isRealtime = true;
            let realtimeDomain = window.location.host;

            let apiUrl = '/AppApi/CmdApi';
            let apiMethod = 'CmdExecute';

            let apiParams = {
                "cmdUrl": curlUrl,
                "regionList": regionList,
                "requestCount": requestCountVal,
                "delayBetweenRequestInMs": delayBetweenRequestVal,
                "useInternalUrl": useInternalUrlVal
            };

            let refreshCalled = false;
            let processReturn = function (result, responseElmId, successCallback) {

                let responseElm = getElm(responseElmId);

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');

                    let detailMessageHtml = ""
                    let messageNo = 0;
                    if (result.hasOwnProperty('errorJson') === true) {
                        let errorJson = result.errorJson
                        for (let i = 0; i < errorJson.length; i++) {
                            messageNo++
                            let messageObj = errorJson[i]
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:red'>" + messageObj[key] + "</span><br/>"
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml
                    //showElm(detailResponseElmId);
                }
                else if (result.hasOwnProperty('refresh') === true) {

                    if (refreshCalled == false) {
                        if (typeof successCallback === "function") {
                            successCallback()
                        }
                    } else {
                        refreshCalled = true;
                        if (typeof refreshCallback === "function") {
                            refreshCallback()
                        }
                    }
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green');

                    let detailMessageHtml = ""
                    let messageNo = 0;
                    if (result.hasOwnProperty('messageJson') === true) {
                        let messageJson = result.messageJson
                        for (let i = 0; i < messageJson.length; i++) {
                            messageNo++
                            let messageObj = messageJson[i]
                            for (var key in messageObj) {
                                if (messageObj.hasOwnProperty(key)) {
                                    detailMessageHtml = detailMessageHtml + messageNo + " : <span style='color:blue'>" + messageObj[key] + "</span><br/>"
                                }
                            }
                        }
                    }
                    getElm(detailResponseElmId).innerHTML = detailMessageHtml
                    //showElm(detailResponseElmId);

                    //if (typeof successCallback === "function") {
                    //    successCallback();
                    //}
                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }

    function selectAll(regionTargetElmId, checkedState) {
        let regionCheckboxes = document.getElementsByName(regionTargetElmId);
        let checkedCount = 0
        if (checkedState == true) {
            for (var i = 0; i < regionCheckboxes.length; i++) {
                if (regionCheckboxes[i].checked == true) {
                    checkedCount++
                }
            }
            for (var i = 0; i < regionCheckboxes.length; i++) {
                if (regionCheckboxes[i].disabled == false) {
                    regionCheckboxes[i].checked = checkedState
                    checkedCount++
                    if (checkedCount >= parseInt('{{$MaxTestRegions}}')) break
                }
            }
        } else {
            for (var i = 0; i < regionCheckboxes.length; i++) {
                if (regionCheckboxes[i].disabled == false) {
                    regionCheckboxes[i].checked = checkedState
                    checkedCount++
                }
            }
        }
    }

    ready(() => {
        //triggerEvent('regionRefresh', 'click')
    });

    function setTestUrl(urlElmId) {

        //selectAll('curlUrlRegion', true)

        let urlElm = getElm(urlElmId)
        let currentVal = urlElm.value;
        const testUrls = JSON.parse('{{$TestUrls}}');
        //console.log('TestUrls Count=' + testUrls.length);
        switch (currentVal) {
            case '':
                urlElm.value = '{{$TestUrl}}'
                break
            default:
                if (testUrls.length > 0) {
                    urlElm.value = "";
                    let nextVal = false;
                    for (var testUrl of testUrls) {
                        if (nextVal == true) {
                            urlElm.value = testUrl;
                            break;
                        }
                        if (testUrl == currentVal) {
                            nextVal = true;
                        }
                    }
                } else {
                    urlElm.value = "";
                }
        }
    }

</script>

