
<div id="{{$ViewID}}ListFilterViewDiv" class="border" style="margin: 5px 10px; position: relative">
    {{VIEWPLACEHOLDER}}
    <button style="position:absolute; right:-2px;margin-top:-3px;width:25px;height:25px;background-color: transparent;text-align:center;vertical-align:middle;" onclick="showComponentSourceViewer('listTableShowProgress', '{{$ViewID}}', true)">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
        </svg><div id="listTableShowProgress"></div>
    </button>

    <div id="{{$ViewID}}AddListItem">
        {{ListFilterItem}}
        {{NewFilterItem}}
        {{ListAddItem}}
    </div>

    {{ListEditItem}}

    <div class="flex-item-stretch card_border" style="margin: 5px 10px; text-align: center;">

        {{ListTableView}}

    </div>

    <div class="flex-input-wrap" style="text-align:center;" id="{{$ViewID}}ListViewDiv">

        <div style="display:none;">
            <input type="checkbox" id="listTableAllowEmpty" />Allow Empty <input type="checkbox" id="listTableAllowDuplicate" />Allow Duplicate
        </div>
        <div style="text-align:center;">
            <div id="{{$ViewID}}Progress"></div>
            <div style="margin:5px; padding:10px;text-align:center;display:none;" class="notification" id="{{$ViewID}}ResponseContainer">
                <button class="delete" onclick="hideElm('{{$ViewID}}ResponseContainer')"></button>
                <div id="{{$ViewID}}Response"></div>
            </div>
        </div>

    </div>

    <div class="flex-item-stretch" style="text-align:center;width:100%;display:none;">
        <button class="border" style="margin:5px;background-color:green;width:60px;" id="refreshListView" onclick="refreshViewComponentPageHtml('{{$ViewID}}Progress', '{{$ViewID}}Response', '{{$AppSite}}', '{{$AppView}}', '{{$ViewID}}', { 'PageNo': '{{$PageNo}}', 'ItemsPerPage': '{{$ItemsPerPage}}' }, '', false)">Refresh</button>
    </div>

</div>

<script type="text/javascript">

    window.ajaxid = 0;

    function showEditView(keyPathJson) {

        var editElmPrefix = '{{$ViewID}}Edit';

        for (var key in keyPathJson) {
            var jsonValue = keyPathJson[key];
            var idxLastDot = key.lastIndexOf(".");
            var elmId = key.substring(idxLastDot + 1);
            var jsonKey = editElmPrefix + elmId;
            var elmEdit = getElm(jsonKey);
            elmEdit.setAttribute('data-key', key);

            if (elmEdit.nodeName.toUpperCase() == "SELECT") {
                elmEdit.value = jsonValue;
                const optionsList = Array.from(elmEdit.options);
                const optionToSelect = optionsList.find(item => item.text === jsonValue);
                if (optionToSelect) {
                    //optionToSelect.selected = true;
                    elmEdit.value = optionToSelect.value;
                }
            }
            else {
                elmEdit.value = jsonValue;
            }
        }

        showElm('{{$ViewID}}Edit')
        hideElm('{{$ViewID}}Add');
    }

    ready(() => {

    });

</script>
