
<script type="text/javascript">

    function pullRegistrySync(progressElmId, responseElmId, syncRepositoryNameVal, syncRepositoryTagVal, sourceRegistryUrlVal, sourceRegistryUserIDVal, sourceRegistryUserPwdVal, targetRegistryUrlVal, targetRegistryUserIDVal, targetRegistryUserPwdVal, doActionBtnElmId, successCallback, failureCallback) {
        let id = window.ajaxid++;
        let responseElm = getElm(responseElmId);
        let responseContainerElmId = responseElmId + "Container";
        responseElm.textContent = '';
        hideElm(responseContainerElmId);

        let valid = true;
        
        if (valid == true) {
            if (syncRepositoryNameVal.length == 0) {
                showText(responseElm, 'Repository Name Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (sourceRegistryUrlVal.length == 0) {
                showText(responseElm, 'Source Registry Url Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid == true) {
            if (targetRegistryUrlVal.length == 0) {
                showText(responseElm, 'Target Registry Url Cannot be Empty', 'red');
                valid = false;
            }
        }

        if (valid === true) {

            getElm(doActionBtnElmId).setAttribute("disabled", true);

            let isRealtime = false;
            let realtimeDomain = "";

            let apiUrl = '/AppApi/RegistryApi';
            let apiMethod = 'PullRegistrySync';

            let apiParams = {
                "syncRepositoryName": syncRepositoryNameVal,
                "syncRepositoryTag": syncRepositoryTagVal,
                "sourceRegistryUrl": sourceRegistryUrlVal,
                "sourceRegistryUserID": sourceRegistryUserIDVal,
                "sourceRegistryUserPwd": sourceRegistryUserPwdVal,
                "targetRegistryUrl": targetRegistryUrlVal,
                "targetRegistryUserID": targetRegistryUserIDVal,
                "targetRegistryUserPwd": targetRegistryUserPwdVal
            };

            let processReturn = function (result, responseElmId, successCallback, failureCallback) {

                let responseElm = getElm(responseElmId);

                getElm(doActionBtnElmId).removeAttribute("disabled");

                if (result.hasOwnProperty('error') === true) {
                    showText(responseElm, result.error, 'red');

                    if (typeof failureCallback === "function") {
                        failureCallback();
                    }
                }
                else if (result.hasOwnProperty('message') === true) {
                    showText(responseElm, result.message, 'green');

                    if (typeof successCallback === "function") {
                        successCallback();
                    }
                }
            };

            callAssemblerApi(progressElmId, responseElmId, apiUrl, apiMethod, apiParams, isRealtime, realtimeDomain, processReturn, successCallback, failureCallback, 0, "{{$AppSite}}", "{{$AppView}}", "{{$ViewName}}", "");
        }

        return false;
    }

</script>

