

<div style="margin: 5px 0px; " class="ar-flex-input-wrap">
    <button class="ar-flex-item-stretch ar-border" style="height:40px;" onclick="if (isHiddenElm('registrySync') == true) { showElm('registrySync'); } else { hideElm('registrySync'); }">
        Registry Sync <span id="registrySyncProgress"></span>
    </button>
</div>

<div id="registrySync" class="ar-border" style="margin: 5px 0px;padding: 5px; display: none;">

    <div class="ar-notification" id="registrySyncResponseContainer" style="text-align:center;display:none;margin:5px 10px;">
        <button class="ar-delete" onclick="hideElm('registrySyncResponseContainer')"></button>
        <div id="registrySyncResponse"></div>
    </div>

    <div style="margin: 0 auto;position:relative; overflow:auto">

        <div class="ar-flex-content-spaced" style="margin: 0px;">
            <label class="ar-flex-item-stretch">Repository Name</label>
            <label class="ar-flex-item-stretch">Repository Tag</label>
        </div>
        <div class="ar-flex-content-spaced" style="margin: 0px;">
            <input id="syncRepositoryName" class="ar-input ar-flex-item-stretch ar-border" style="margin: 0 5px 0 0px; padding-left: 5px;" type="text" placeholder="Your Repository" value="arshucs/appweb" />
            <input id="syncRepositoryTag" class="ar-input ar-border" style="width: 48%; margin: 0 0 0 5px;" type="text" placeholder="Your Tag Name" value="latest" />
        </div>

        <fieldset id="sourceRegistryDiv" class="ar-border" style="padding: 5px;">
            <legend>Source Registry</legend>

            <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
                <label style="width:100%;margin: 5px 0px;">Registry Url</label>
                <input id="sourceRegistryUrl" class="ar-flex-item-stretch ar-border" style="height: 38px;" type="text" placeholder="Registry URL" value="https://registry-1.docker.io/" />
            </div>

            <div class="ar-flex-content-spaced" style="margin: 0px;">
                <label class="ar-flex-item-stretch">User ID</label>
                <label class="ar-flex-item-stretch">User Password</label>
            </div>
            <div class="ar-flex-content-spaced" style="margin: 0px; padding: 0px;">
                <input id="sourceRegistryUserID" class="ar-input ar-flex-item-stretch ar-border" style="margin:0 5px 0 0;" type="text" placeholder="Registry User ID" value="{{$DockerUserID}}" />
                <input id="sourceRegistryUserPwd" class="ar-input ar-border" style="width: 48%; margin: 0 0 0 5px " type="password" placeholder="Registry User PWD" value="{{$DockerUserPwd}}" />
            </div>

        </fieldset>

        <fieldset id="targetRegistryDiv" class="ar-border" style="padding: 5px;">
            <legend>Target Registry</legend>

            <div class="ar-flex-input-wrap" style="margin: 5px 0px;">
                <label style="width:100%;margin: 5px 0px;">Registry Url</label>
                <input id="targetRegistryUrl" class="ar-flex-item-stretch ar-border" style="height: 38px;" type="text" placeholder="Registry URL" value="{{$RootUrl}}" />
            </div>

            <div class="ar-flex-content-spaced" style="margin: 0px;">
                <label class="ar-flex-item-stretch">User ID</label>
                <label class="ar-flex-item-stretch">User Password</label>
            </div>
            <div class="ar-flex-content-spaced" style="margin: 0px; padding: 0px;">
                <input id="targetRegistryUserID" class="ar-input ar-flex-item-stretch ar-border" style="margin:0 5px 0 0;" type="text" placeholder="Registry User ID" value="{{$AdminUserEmail}}" />
                <input id="targetRegistryUserPwd" class="ar-input ar-border" style="width: 48%; margin: 0 0 0 5px " type="password" placeholder="Registry User PWD" value="{{$AdminUserPwd}}" />
            </div>

        </fieldset>


        <div class="ar-notification" id="doRegistrySyncResponseContainer" style="text-align:center;display:none;margin:5px 10px;">
            <button class="ar-delete" onclick="hideElm('doRegistrySyncResponseContainer')"></button>
            <div id="doRegistrySyncResponse"></div>
        </div>

        <div class="ar-flex-content-wrap" style="margin: 15px 0px;">
            <button class="ar-button ar-border" id="pullRegistrySyncBtn" style="background-color:#209cee;"
                    onclick="pullRegistrySync('doRegistrySyncPullProgress', 'doRegistrySyncResponse', getElm('syncRepositoryName').value, getElm('syncRepositoryTag').value, getElm('sourceRegistryUrl').value, getElm('sourceRegistryUserID').value, getElm('sourceRegistryUserPwd').value, getElm('targetRegistryUrl').value, getElm('targetRegistryUserID').value, getElm('targetRegistryUserPwd').value, 'pullRegistrySyncBtn')">
                Pull Sync <span id="doRegistrySyncPullProgress"></span>
            </button>

            <button class="ar-button ar-border" id="pushRegistrySyncBtn" style="margin-left:5px; background-color:#209cee;"
                    onclick="pushRegistrySync('doRegistrySyncPushProgress', 'doRegistrySyncResponse', getElm('syncRepositoryName').value, getElm('syncRepositoryTag').value, getElm('sourceRegistryUrl').value, getElm('sourceRegistryUserID').value, getElm('sourceRegistryUserPwd').value, getElm('targetRegistryUrl').value, getElm('targetRegistryUserID').value, getElm('targetRegistryUserPwd').value, 'pushRegistrySyncBtn')">
                Pull Sync <span id="doRegistrySyncPushProgress"></span>
            </button>
        </div>

    </div>

</div>

{{RegistrySyncJs}}